/* start deposit */

#uploadIntro {
    padding-top: 10px;
}

.uploadSection {
    padding-top: 8px;
}

#uploadOptions {
    padding-top: 5px;
}

#uploadOptions .panel-heading
{
    padding: 5px 10px;
}

.panel-heading a
{
    color: inherit;
    font-weight: inherit;
}

#optionUploadType .panel-body {
    padding: 0px;
}

#optionUploadType .policyItem {
    padding: 5px 10px;
}

.panel-body .lastPolicyItem {
    border-bottom: none;
}

.panel-body .firstPolicyItem {
    border-top: none;
}

.submitDeposit {
    text-align: center;
}

#paper_uploader {
	padding:20px;
	background:#eee;
}

.prefetchingFieldStatus {
    color: #555;
    font-style: italic;
}

label[class="radio"] {
    margin-left: 20px;
}

/* Repository choice */

.repositoryLogo {
    float: left;
    width: 125px;
    padding: 5px 0px;
    margin: auto;
    min-width: 125px;
}

.repositoryLogo img {
    max-width: 110px;
    max-height: 70px;
    display: block;
    margin: auto;
}

label.repositoryItem {
    display: block;
    margin-bottom: auto !important;
    border-top: 1px solid #CCC;
    padding-right: 10px;
    font-weight: normal;
}

.disabledRepositoryItem p {
    color: #999;
}

#optionRepository .panel-body {
    padding: 0px;
}

.repositoryItem p {
    padding: 5px 10px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.firstItem {
    border-top: none;
}

.repositoryChoiceRadio {
    float: right;
    margin-top:10px;
}


