/* start deposit */

#uploadIntro {
    padding-top: 10px;
}

.uploadSection {
    padding-top: 8px;
}

#uploadOptions {
    padding-top: 5px;
}

#uploadOptions .panel-heading
{
    padding: 5px 10px;
}

.panel-heading a
{
    color: inherit;
    font-weight: inherit;
}

#optionUploadType .panel-body {
    padding: 0px;
}

#optionUploadType .policyItem {
    padding: 5px 10px;
}

.panel-body .lastPolicyItem {
    border-bottom: none;
}

.panel-body .firstPolicyItem {
    border-top: none;
}

.submitDeposit {
    text-align: center;
}

#paper_uploader {
	padding:20px;
	background:#eee;
}

.prefetchingFieldStatus {
    color: #555;
    font-style: italic;
}

label[class="radio"] {
    margin-left: 20px;
}
