{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
{% trans "Authentication error" %}
{% endblock %}

{% block content %}
<div id="fullPage">
    <div style="text-align: center; padding-top: 50px;">
        <h2>{% trans "Authentication error" %}</h2>
        {% if request.user.is_authenticated %}
            <script type="text/javascript">window.location.replace('/');</script>
        {% endif %}
        <p>{% blocktrans trimmed %}
            Authentication has failed. <a href="/">Go back to the login page.</a>
           {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
