# python files
*.pyc
build/
# vim 
.*.swp
# API keys
romeo_api_key
core_api_key
# ENS data
data/
celerybeat-schedule
repositories
# Localization
*.mo
# Virtualenv
bin/
local/
include/
lib/
# SWORD
sword/generated.xml
sword/docs/
# Fiddling
models/
learning/dataset/
learning/evaluate.py
learning/gengraph.py
learning/regression.py
learning/gephi/
scratch.py
# Virtual env
.virtualenv/
# Proposals
doc/Makefile
doc/project.*
doc/references.bib
doc/bio.doc


