# python files
*.pyc
build/
src/
.src/
# vim
.*.swp
# ENS data
celerybeat-schedule
# Localization
*.mo
# Virtualenv
bin/
local/
include/
lib/
# Virtual env
.virtualenv/
# Proposals
doc/Makefile
# Uploaded files
media/
mediatest/repository_logos/
mediatest/thumbnails/
mediatest/uploads/
www/
runfcgi.pid
.virtualenv

# build files for doc
doc/sphinx/_build/
doc/sphinx/*.rst
doc/sphinx/modules

# Coverage
.coverage
htmlcov/

# Pyflakes
pyflakes.out

# Vagrant
.vagrant
.vm_venv
*.user

# Auto-completion
.ropeproject

# uploads, when testing in vagrant
dissemin_media/


# Eclipse PyDev settings
.idea
.project
.pydevproject
.settings/

# API keys
*_api_key
