# python files
*.pyc
build/
dist/
src/
.src/
dissemin.egg-info/
celerybeat-schedule.db

# vim
.*.swp

# Localization
*.mo
# Virtualenv
bin/
local/
include/
lib/
# Virtual env
.virtualenv/
.venv/
# Proposals
doc/Makefile
# Uploaded files
media/
mediatest/repository_logos/
mediatest/thumbnails/
mediatest/uploads/
www/
runfcgi.pid

# build files for doc
doc/sphinx/_build/
doc/sphinx/modules

# Coverage
.coverage
htmlcov/

# Pyflakes
pyflakes.out

# Vagrant
.vagrant
.vm_venv
*.user
*.db

# Auto-completion
.ropeproject

# uploads, when testing in vagrant
dissemin_media/


# Eclipse PyDev settings
.idea
.project
.pydevproject
.settings/

# API keys
*_api_key

# Static file from SASS
tmp_static/

# Temp files from creating letter of declarations
deposit/tmp/
