django==1.8
celery[redis]
unidecode
psycopg2
django-bootstrap-pagination
name_tools
lxml
django-cas-ng
unicode_tex
wand
PyPDF2
-e git://github.com/dissemin/django-allauth.git@0.25.2-post_login-orcidv1.2#egg=django-allauth
django-redis-cache
django-solo
requests
pillow
django-crispy-forms
django-debug-toolbar
django-jsonview
djangorestframework
django-rest-swagger
-e git://github.com/swordapp/python-client-sword2#egg=sword2
jsonfield
django-js-reverse
