django
celery[redis]
unidecode
name_tools
psycopg2
django-bootstrap-pagination
django-cas-ng
mock
pyoai
httplib2
unicode_tex
django-crispy-forms
django-solo
-e git://github.com/wetneb/django-allauth.git#egg=django-allauth
django-redis-cache
requests
pillow
swampdragon
django-debug-toolbar
