django==1.8
celery[redis]
unidecode
psycopg2
django-bootstrap-pagination
name_tools
django-cas-ng
unicode_tex
wand
PyPDF2
-e git://github.com/dissemin/django-allauth.git@0.25.2-post_login-orcidv1.2#egg=django-allauth
django-redis-cache
django-solo
pillow
django-crispy-forms
django-debug-toolbar
django-jsonview
pyopenssl
ndg-httpsclient
pyasn1
urllib3
cryptography
html5lib
djangorestframework
django-rest-swagger
