{% load statuses %}
{% load i18n %}

<div class="policyList">
{% trans "Preprint:" as type_text %}
{% include "publishers/itemPolicy.html" with policy=publisher.preprint conditions=publisher.preprint_conditions type_text=type_text typ="preprint" %}
{% trans "Postprint:" as type_text %}
{% include "publishers/itemPolicy.html" with policy=publisher.postprint conditions=publisher.postprint_conditions type_text=type_text typ="postprint" %}
{% trans "Publisher's version:" as type_text %}
{% include "publishers/itemPolicy.html" with policy=publisher.pdfversion conditions=publisher.pdfversion_conditions type_text=type_text typ="pdfversion" %}
</div>

