{% load statuses %}
{% load i18n %}
{% load static %}

<div class="policyList">
    {% trans "Preprint:" as type_text %}
    {% trans "A preprint is a document produced by the authors without any interaction with the peer-reviewing process." as tte %}
    {% trans "preprint" as ttnp %}
    {% include "publishers/itemPolicy.html" with policy=publisher.preprint conditions=publisher.preprint_conditions type_text=type_text type_explanation=tte typ="preprint" type_text_no_punc=ttnp fst=True %}
    {% trans "Postprint:" as type_text %}
    {% trans "Postprints differ from preprints in that they include the changes suggested by the reviewers. They are not edited by the publisher." as tte %}
    {% trans "postprint" as ttnp %}
    {% include "publishers/itemPolicy.html" with policy=publisher.postprint conditions=publisher.postprint_conditions type_text=type_text type_explanation=tte typ="postprint" type_text_no_punc=ttnp %}
    {% trans "Published version:" as type_text %}
    {% trans "The published version is the final version of the paper, as formatted by the publisher." as tte %}
    {% trans "published version" as ttnp %}
    {% include "publishers/itemPolicy.html" with policy=publisher.pdfversion conditions=publisher.pdfversion_conditions type_text=type_text type_explanation=tte typ="pdfversion" type_text_no_punc=ttnp lst=publisher.pk %}
    {% if publisher.pk and mode != "none" %}
        <div class="policyItem lastPolicyItem">
            <span class="policyReadMoreLink"><a href="{% url "publisher" publisher.pk publisher.slug %}" target="_blank">Policy details</a> (opens in a new window).</span>
            <span class="policySherpaLink">Data provided by <a href="http://www.sherpa.ac.uk/romeo/"><img src="{% static "img/sherpa-romeo.gif" %}" alt="SHERPA/RoMEO" height="23" /></a></span>
        </div>
    {% endif %}
    {% if mode == "link" %}
        {% if paper.get_doi and not paper.pdf_url %}
            <div class="policyItem"></div>
            <div class="policyPic policyPic-ask"></div>
            <div class="policyText">
                <p>
                <span class="helpPopover" data-content="{% trans "Contact the authors to make this publication freely available. This is a service of the Open Access Button." %}" data-placement="bottom">{% trans "Contact authors" %}</span>
                <span class="policyDetailUpload"><a href="https://openaccessbutton.org/request?doi={{ paper.get_doi }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-envelope"></span> {% trans "Contact" %}</a></span>
                </p>
            </div>
        {% endif %}
    {% endif %}
</div>

