{% extends "base.html" %}

{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load statuses %}

{% block title %}{% trans "Publishers" %}{% endblock title %}

{% block content %}
    {% include "breadcrumbs.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 pb-3">
                <h3 class="h-border">{% trans "Statistics" %}</h3>

                <p>
                    {% blocktrans trimmed count counter=nb_results %}
                        {{ counter }} publisher found
                        {% plural %}
                        {{ counter }} publishers found
                    {% endblocktrans %}
                </p>

                <h3 class="h-border">{% trans "Search" %}</h3>
                <form method="get" action="{% url 'publishers' %}">
                    {{ form.q|as_crispy_field }}
                    {{ form.sort_by|as_crispy_field }}

                    <label for="{{ form.oa_status.id_for_label }}">{{ form.oa_status.label }}</label>
                    {% for checkbox in form.oa_status %}
                        {% with value=checkbox.data.value %}
                            <div class="hiddenCheckboxes">
                                {{ checkbox.tag }}
                                <div class="row mx-0 publisherCriterionBox">
                                    <label class="col-auto pr-0" for="{{ checkbox.id_for_label }}">
                                        <img class="img-fluid statusImage-4" src="{% static value|logo_oa_status %}"/>
                                    </label>
                                    <label class="col d-flex" for="{{ checkbox.id_for_label }}">
                                        <div class="align-self-center">
                                        {{ checkbox.choice_label }}
                                        </div>
                                    </label>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}

                    {{ form.reverse_order|as_crispy_field }}
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-search" type="submit"><span class="oi oi-magnifying-glass" aria-hidden="true"></span> {% trans "Search" %}</button>
                    </div>
                </form>

                <h3 class="h-border">{% trans "Sources" %}</h3>
                <p>{% trans "Data provided by" %}</p>
                <div class="row justify-content-center">
                    <a class="col-8" href="http://www.sherpa.ac.uk/romeo/">
                        <img class="img-fluid" src="{% static "img/sherpa-romeo.gif" %}" alt="SHERPA/RoMEO" />
                    </a>
                </div>

            </div>
            <div class="col-12 col-md-8 order-md-first">
                <h1 class="h-border">{% trans "Publishers" %}</h1>

                {% if paginator.num_pages > 1 %}
                    <nav class="pt-2">{% bootstrap_paginate page_obj range=8 extra_pagination_classes="justify-content-center"%}</nav>
                {% endif %}

                {% for result in object_list %}
                    {% with publisher=result.object %}
                    <div class="row my-1">
                        <div class="col-auto">
                            {% with status_image='img/status_'|add:publisher.oa_status_as_color|add:'.png' %}
                                <img class="img-fluid statusImage-4" alt="{{ publisher.oa_status_as_color }}" src="{% static status_image %}" />
                            {% endwith %}
                        </div>
                        <div class="col align-self-center">
                            <a class="h5" href="{{ publisher.canonical_url }}">{{ publisher }}</a>
                            <span class="text-gray-6">
                                {% if publisher.stats %}
                                   {% blocktrans trimmed count num_total=publisher.stats.num_tot %}
                                       ({{ num_total }} paper)
                                   {% plural %}
                                       ({{ num_total }} papers)
                                   {% endblocktrans %}
                                {% endif  %}
                            </span>
                        </div>

                    </div>
                    {% endwith %}
                {% empty %}
                    <p class="h4">{% trans "No publishers found" %}</p>
                {% endfor %}

                {% if paginator.num_pages > 1 %}
                    <nav class="pt-2">{% bootstrap_paginate page_obj range=8 extra_pagination_classes="justify-content-center"%}</nav>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
