{% extends "base.html" %}

{% load author %}
{% load i18n %}
{% load statuses %}
{% load domain %}
{% load bootstrap_pagination %}
{% load static %}

{% block title %}{{ publisher }}{% endblock title%}

{% block content %}
    {% include "breadcrumbs.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 pb-3">
                <h3 class="border-bottom">{% trans "Publisher" %}</h3>
                <p class="font-weight-bold">{{ publisher.name }}</p>
                {% if publisher.url %}
                <p>
                    <span class="oi oi-star" aria-hidden="true"></span> <a href="{{ publisher.url }}" target="_blank">{{ publisher.url|domain }}</a>
                </p>
                {% endif %}
                {% if not request.user.is_superuser %}
                    {% with status_image='img/status_'|add:publisher.oa_status_as_color|add:'.png' %}
                        <img class="img-fluid statusImage-4" src="{% static status_image %}" alt="{{ publisher.oa_status_as_color }}"/>
                    {% endwith %}
                    {{ publisher.oa_status|explain_oa_status}}
                {% endif %}

                <h3 class="border-bottom">{% trans "Else" %}</h3>
                <p>{% trans "Data provided by" %}</p>
                <p class="d-flex justify-content-center">
                    <a href="http://www.sherpa.ac.uk/romeo/">
                        <img src="{% static "img/sherpa-romeo.gif" %}" width="210px" alt="SHERPA/RoMEO" />
                    </a>
                </p>
                <p>
                    {% with "http://www.sherpa.ac.uk/romeo/feedback.php?la=en&amp;fIDnum=%7C&amp;mode=simple&amp;type=jpnew" as feedback_url %}
                        {% if publisher.last_updated %}
                            {% blocktrans trimmed with last_updated=publisher.last_updated|date:"SHORT_DATE_FORMAT" %}
                            Last updated on {{ last_updated }}, <a href="{{ feedback_url }}">report any error to them</a>.
                            {% endblocktrans %}
                        {% else %}
                            <a href="{{ feedback_url }}">{% trans "Report any error to them." %}</a>
                        {% endif %}
                    {% endwith %}
                </p>

                {% if request.user.is_superuser %}
                <form role="form" id="changePublisherOAStatus" data-ajax-url="ajax_change_publisher_status" data-publisher-pk="{{ publisher.pk }}">
                    <div class="form-group">
                        <label>{% trans "Change open access status" %}</label>
                        {% for status in oa_status_choices %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioOAStatus" id="status-{{ status.0 }}" value="{{ status.0 }}" checked>
                                <label class="form-check-label" for="status-{{ status.0 }}">
                                    {{ status.1 }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </form>
                {% endif %}

            </div>
            <div class="col-12 col-md-8 order-md-first">
                <h1 class="border-bottom">{{ publisher.name }}</h1>
                <h2 class="border-bottom">{% trans "Green open access summary" %}</h2>
                <p>
                    {% blocktrans trimmed with publisher_name=publisher.name %}
                        This is a short summary of the green open access policy of {{ publisher_name }}.
                    {% endblocktrans %}
                </p>
                {% include "publishers/details_simple.html" %}
                {% if publisher.has_conditions %}
                    <h2 class="border-bottom mt-2">{% trans "Conditions" %}</h2>
                    <ul>
                        {% for condition in publisher.publishercondition_set.all %}
                            <li>{{ condition|striptags }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if publisher.has_copyrightlinks %}
                    <h2 class="border-bottom">{% trans "Policy details" %}</h4>
                    <ul>
                        {% for link in publisher.publishercopyrightlink_set.all %}
                            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
