{% extends "dissemin/skeleton.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block headTitle %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div id="fullPage">
<h1>{% trans "Sign in" %}</h1>

<p>
{% blocktrans trimmed %}
Don't have an account yet? <a href="{{ signup_url }}">Sign up</a> instead.
{% endblocktrans %}
</p>

<div id="siteSummaries">
<div class="siteSummary left">
    <h3>{% trans "Sign in" %}</h3>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <p style="text-align: center"><button class="primaryAction btn btn-default" type="submit">{% trans "Sign in" %}</button></p>
</form>

</div>

{% include "dissemin/orcid_login_pane.html" %}

</div>

</div>
{% endblock %}
