{% load i18n %}
{% load static %}
{% load account %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<div class="siteSummary right">
    <img src="{% static "img/orcid-big.png" %}" alt="ORCID" style="float: right" />
    <h3>{% trans "With ORCID" %}</h3>
    <p>
    {% blocktrans trimmed %}
    If you already have an ORCID account, you can use it with Dissemin.
    We will not make any changes to your profile.
    {% endblocktrans %}
    </p>
    <p style="text-align: center">
    <a href="{% provider_login_url "orcid" auth_params="show_login=True"%}" class="btn btn-orcid">{% trans "Sign in with ORCID" %}</a>
    </p>
</div>
{% endif %}


