{% extends "dissemin/skeleton.html" %}

{% load i18n %}
{% load static %}

{% block headTitle %}
{% trans "Partners" %}
{% endblock %}

{% block content %}
<div id="fullPage">
    <h2 id="contentTitle">{% trans "Partners" %}</h2>
    <div id="actualContent">
        <div style="text-align: center">
            <br /><br /><br />
            <a href="https://www.base-search.net/"><img alt="Bielefeld Academic Search Engine (BASE)"
              style="height: 180px;"
              src="{% static "img/base-search.svg" %}" /></a>
            <a href="http://www.couperin.org/"><img alt="Consortium Couperin"
              style="height: 140px;"
              src="{% static "img/couperin.png" %}" /></a>
	    <a href="http://www.ens.fr/"><img alt="ENS - PSL"
              style="margin: 10px"
              src="{% static "img/ens-psl.svg" %}" /></a>
        </div>
    </div>
</div>
{% endblock %}
