{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load users %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block metaTags %}
    {% endblock metaTags %}
    <link rel="stylesheet" href="{% static "libs/bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "libs/editable/css/bootstrap-editable.css" %}" />
    <link rel="stylesheet" href="{% static "style/style.css" %}" />
    <link rel="stylesheet" href="{% static "style/mobile.css" %}" media="screen and (max-width: 800px)" />
    <link rel="apple-touch-icon" sizes="57x57"
                           href="{% static "favicon/apple-icon-57x57.png" %}" />
    <link rel="apple-touch-icon" sizes="60x60"
                           href="{% static "favicon/apple-icon-60x60.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72"
                           href="{% static "favicon/apple-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" sizes="76x76"
                           href="{% static "favicon/apple-icon-76x76.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114"
                           href="{% static "favicon/apple-icon-114x114.png" %}"/>
    <link rel="apple-touch-icon" sizes="120x120"
                           href="{% static "favicon/apple-icon-120x120.png" %}"/>
    <link rel="apple-touch-icon" sizes="144x144"
                           href="{% static "favicon/apple-icon-144x144.png" %}"/>
    <link rel="apple-touch-icon" sizes="152x152"
                           href="{% static "favicon/apple-icon-152x152.png" %}"/>
    <link rel="apple-touch-icon" sizes="180x180"
                           href="{% static "favicon/apple-icon-180x180.png" %}"/>
    <link rel="icon" type="image/png" sizes="192x192"
                           href="{% static "favicon/android-icon-192x192.png" %}" />
    <link rel="icon" type="image/png" sizes="32x32"
                           href="{% static "favicon/favicon-32x32.png" %}" />
    <link rel="icon" type="image/png" sizes="96x96"
                           href="{% static "favicon/favicon-96x96.png" %}" />
    <link rel="icon" type="image/png" sizes="16x16"
                           href="{% static "favicon/favicon-16x16.png" %}" />
    <link rel="manifest" href="{% static "favicon/manifest.json" %}" />
    <meta name="msapplication-TileImage" content="{% static "favicon/ms-icon-144x144.png" %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <script src="{% static "libs/jquery.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "libs/editable/js/bootstrap-editable.min.js" %}"></script>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static "libs/es6-promise.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/fetch.min.js" %}"></script>
    {% if settings.SENTRY_DSN %}
        <script type="text/javascript" src="{% static "libs/sentry.min.js" %}"></script>
        <script>Sentry.init({ dsn: '{{ settings.SENTRY_DSN }}'})</script>
    {% endif %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>
    {% if settings.MATHJAX_SELFHOST_URL %}
        <script type="text/javascript" src="{{ settings.MATHJAX_SELFHOST_URL }}" async>
    {% else %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async>
    {% endif %}
    </script>
    <script type="text/javascript" src="{% static "editing.js" %}"></script>
    <script type="text/javascript" src="{% static "name.js" %}"></script>
    <script type="text/javascript">

        {% block jsScript %}{% endblock %}
    </script>
    {% block extra_head %}{% endblock %}
    <title>{% block headTitle %}{% endblock %} - Dissemin</title>

    {% block opengraph %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>
