{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://vitalets.github.com/x-editable/assets/x-editable/bootstrap-editable/css/bootstrap-editable.css" />
    <link rel="stylesheet" href="{% static "style/style.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript">
        {% block jsScript %}{% endblock %}
    </script>
    <title>{% block headTitle %}{% endblock %} - Dissemin</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <span id="dissemin"><a href="/">Dissemin</a></span>
            <div id="rightLinks"><a href="/">Home</a> &#9679; About &#9679; Feedback &#9679; Login</div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        <div class="push"></div>
        </div>
    </div>
    <div id="footer">
        <p>The information provided on this website should not be relied upon
        for legal advice.</p>
        <p><strong>Contact:</strong> support@dissem.in</p>
    </div>
</body>

