
{% extends "dissemin/root_skeleton.html" %}

{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load users %}

{% block opengraph %}
    <meta name="description" content="{% trans "Dissemin detects papers behind pay-walls and invites their authors to upload them in one click to an open repository." %}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@disseminOA" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='{% block headTitle %}{% endblock %} - Dissemin' />
    <meta property="og:description" content="{% trans "Dissemin detects papers behind pay-walls and invites their authors to upload them in one click to an open repository." %}" />
    <meta property="og:url" content="{{ request.get_full_path }}" />
    <meta property="og:image" content="{% static "favicon/apple-icon-57x57.png" %}" />
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="{% static "favicon/android-icon-192x192.png" %}" alt={% trans "Logo" %}/>
                        Dissemin
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">{% trans "Home" %}</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'my-profile' %}">{% trans "My profile" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                                                                                                            ><span class="glyphicon glyphicon-user"></span>&nbsp; {{ request.user|fullname }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "edit-global-preferences" %}">{% trans "Preferences" %}</a></li>
                                <li><a href="{% url "list_deposits" %}">{% trans "My deposits" %}</a></li>
                                <li><a href="#" onclick="
$.ajax({ url: 'https://{{ ORCID_BASE_DOMAIN }}/userStatus.json?logUserOut=true', dataType: 'jsonp',
        success: function(result,status,xhr) {
            window.location.href = '{% url "account_logout" %}';
        },
        error: function (xhr, status, error) {
            window.location.href = '{% url "account_logout" %}';
        }
        })">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                    <li><a href="{% url "account_login" %}?next={{ request.get_full_path |urlencode}}" rel="nofollow">{% trans "Login" %}</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        {% if breadcrumbs %}
            {% include "dissemin/breadcrumbs.html" %}
        {% endif %}
        {% block content %}
        {% endblock %}
    <div class="push"></div>
    </div>
</div>
<div id="footer" class="container">
    <div id="subfooter" class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul>
                <li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
                <li><a href="https://dev.dissem.in/api.html">{% trans "API" %}</a></li>
                <li><a href="{% url 'tos' %}">{% trans "Terms of Service" %}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul>
                <li><a href="http://association.dissem.in/">{% trans "Who are we?" %}</a></li>
                <li><a href="http://association.dissem.in/#dons">{% trans "Donate" %}</a></li>
                <li><a href="{% url 'partners' %}">{% trans "Partners" %}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul>
                <li><a href="mailto:hello@dissem.in">hello@dissem.in</a></li>
                <li><a href="https://twitter.com/disseminOA">@disseminOA</a></li>
                <li><a href="https://github.com/dissemin/dissemin">GitHub</a></li>
            </ul>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0" id="change-lang-form-div">
            {% get_current_language as LANGUAGE_CODE %}
            <form action="{% url 'set_language' %}" method="post" id="change-lang-form" class="form-inline">
                {% csrf_token %}
                <label for="set-language">{% trans "Change language" %}&nbsp;<i class=" glyphicon glyphicon-globe"></i></label>
                <select name="language" id="set-language" class="form-control" onchange="$('#change-lang-form').submit();">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected="selected"{% endif %}>{{ language.name_local.title }}</option>
                    {% endfor %}
                </select>
                <noscript><input type="submit" class="btn btn-default" value="{% trans "Apply" %}"/></noscript>
            </form>
        </div>
    </div>
</div>

{% if settings.DISPLAY_BETA_RIBBON %}
<img style="position:absolute; top:0; left:0; border:0; opacity: 0.8; pointer-events: none;" src="{% static "img/beta-ribbon.png" %}" alt="Beta version" />
{% endif %}
{% endblock %}
