{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "style/style.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <title>{% block headTitle %}{% endblock %} - Dissemin</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
        </div>
        <div id="title">
            <h1>
            {% block bodyTitle %}
            {% endblock %}
            </h1>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        <div class="push"></div>
        </div>
    </div>
    <div id="footer">
        <p>License.</p>
    </div>
</body>

