{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
Data sources
{% endblock %}

{% block content %}
<div id="fullPage">
    <div id="contentTitle">{% trans "Data sources" %}</div>
    <div id="actualContent">
        <h2>{% trans "Primary sources" %}</h2>
        <ul>
            <li><a href="http://www.crossref.org">CrossRef.org</a></li>
            <li><a href="http://www.base-search.net">BASE (Bielefeld Academic Search Engine)</a></li>
            <li><a href="http://www.sherpa.ac.uk/romeo/">SHERPA/RoMEO</a></li>
            <li><a href="https://www.zotero.org/">Zotero</a></li>
        </ul>
    </div>
</div>
{% endblock %}
