{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
{% filter force_escape %}{% trans "Terms of Service" %}{% endfilter %}
{% endblock %}

{% block content %}
<div id="fullPage" class="faq">
    <h2 id="contentTitle">{% trans "Terms of Service" %}</h2>
    <div id="actualContent">

	  <nav id="faqSummary">
        <h3>{% trans "In short" %}</h3>
        <ul>
            <li><a href="#scope">{% trans "Scope of the service" %}</a></li>
            <li><a href="#privacy">{% trans "Privacy" %}</a></li>
            <li><a href="#deposits">{% trans "Deposits through Dissemin" %}</a></li>
        </ul>

        <h3>{% trans "In full" %}</h3>
        <ul>
            <li><a href="#personal-data">{% trans "Personal data" %}</a></li>
            <li><a href="#full-text-storage">{% trans "Full text storage" %}</a></li>
            <li><a href="#reporting-misuse">{% trans "Reporting misuse" %}</a></li>
            <li><a href="#cnil">Déclaration CNIL</a></li>
        </ul>
      </nav>

        <h3>{% trans "In short" %}</h3>

        <h4 id="scope">{% trans "Scope of the service" %}</h4>

        <p>
        {% blocktrans trimmed %}
        This platform offers an analysis of the accessibility of scholarly publications.
        It can also deposit publications on behalf of their authors in repositories.

        The accessibility and self-archiving policies of the papers on this platform
        can be incorrect and should not be relied upon for legal advice. When in doubt, users
        are advised to check from authoritative sources.
        {% endblocktrans %}
        </p>

        <h4 id="privacy">{% trans "Privacy" %}</h4>

        <p>
        {% blocktrans trimmed %}
        The platform does not include any analytics, advertisement or tracking
        services. We are however using the <a href="https://sentry.io/privacy/">Sentry service</a> for error
        tracking on this platform. Our webserver configuration stores basic
        access information (URL requested and IP address) for error monitoring,
        which are kept for fourteen days.

        Authenticated users are logged-in via ORCID, a third-party service.
        The platform has no access to the
        private information they provide to ORCID. In particular, we do
        not store any ORCID passwords, and we do not have access to email addresses that
        are marked as private in the ORCID record.

        We need to set cookies to authenticate our users, therefore by logging in on this
        platform, users accept these cookies.
        {% endblocktrans %}
        </p>

        <h4 id="deposits">{% trans "Deposits through Dissemin" %}</h4>

        <p>
        {% blocktrans trimmed %}
        The platform can perform mandated publication deposit to repositories.

        Users are only allowed to upload papers that they have authored themselves,
        or papers whose authors have consented to the deposit.

        In addition to these terms of service, users are required to abide
        by the policies of these repositories.
        {% endblocktrans %}
        </p>

        <h4 id="abuse">{% trans "Contact" %}</h4>

        <p>
        {% blocktrans trimmed %}
        Please address any inquiry to <a href="mailto:support@dissem.in">support@dissem.in</a>.
        {% endblocktrans %}
        </p>

        <h3>{% trans "In full" %}</h3>
        <h4 id="personal-data">{% trans "Personal data" %}</h4>

        <p>
        {% blocktrans trimmed %}
        Dissemin uses ORCID's public OAuth interface to authenticate its users.
        This interface only transmits information marked as public in the user's ORCID
        profile. This means that ORCID passwords are never transmitted and email addresses
        are not transmitted when they are marked as private, which is the default setting.

        When logging in to Dissemin from ORCID, Dissemin acquires the user's ORCID id,
        as well as all public information attached to the ORCID record.

        We are using the <a href="https://sentry.io/privacy/">Sentry service</a> for error
        tracking on this platform. Our webserver configuration stores basic
        access information (URL requested and IP address) for error monitoring,
        which are kept for fourteen days.

        Dissemin can store any information input by its users on the platform. Users
        can ask for a copy of the personal information Dissemin stores about them by
        writing an email to <a href="mailto:support@dissem.in">support@dissem.in</a>.
        {% endblocktrans %}
        </p>

        <h4 id="full-text-storage">{% trans "Full text storage" %}</h4>

        <p>
        {% blocktrans trimmed %}
        Documents deposited in repositories via Dissemin can be stored on the platform,
        but are not available for download on the platform. They can be stored internally
        for logging purposes, and to make sure failed deposits can be fixed later.
        Dissemin does not commit to store any of the files it receives from its users.

        Users can write to <a href="mailto:support@dissem.in">support@dissem.in</a> if they want one of their uploads to be deleted
        from our internal storage space, or from the repository they have deposited to.
        Note that deletion policies vary accross repositories: we provide no guarantee that
        deposits can be deleted from the target repositories.
        {% endblocktrans %}
        </p>

        <h4 id="reporting-misuse">{% trans "Reporting misuse" %}</h4>

        <p>
        {% blocktrans trimmed %}
        Misuse can be reported to <a href="mailto:support@dissem.in">support@dissem.in</a>.
        {% endblocktrans %}
        </p>

        <h4 id="cnil">Déclaration CNIL</h4>

        <p>
        {% blocktrans trimmed %}
        The <a href="https://dissem.in">dissem.in</a> website
        has been registered with <a href="https://www.cnil.fr/">CNIL</a> under
        declaration n°1895382 v0.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans trimmed %}
        You have the right to access, modify, and delete the personal
        information that we hold about you. To exercise this right, please contact us
        at <a href="mailto:support@dissem.in">support@dissem.in</a>, or by postal mail at the following addresss:
        {% endblocktrans %}
        </p>

        <p>
        Association CAPSH<br />
        34 rue de la Chanaise<br />
        71250 Cluny<br />
        France
        </p>

        <p class="hidden-print text-right"><a href="#">{% trans "Back to top" %}</a></p>
    </div>
</div>
{% endblock %}
