{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Authentication error" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron mt-3">
            <h1>{% trans "Authentication error" %}</h1>
            <p>
                {% url "account-login" as account-login %}
                {% blocktrans trimmed %}
                Authentication has failed. <a href="{{ account-login }}">Go back to the login page.</a>
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
