{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Terms of Service' %}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="jumbotron mt-3">
        <h1 class="text-center">{% trans "Terms of Service" %}</h1>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-light-blue text-white">
            <h2>{% trans "In short" %}</h2>
        </div>
        <div class="card-body">
            <h3 id="scope">{% trans "Scope of the service" %}</h3>
            <p>
                {% blocktrans trimmed %} 
                    This platform offers an analysis of the accessibility of scholarly publications. It can also deposit publications on behalf of their authors in repositories. The accessibility and self-archiving policies of the papers on this platform can be incorrect and should not be relied upon for legal advice. When in doubt, users are advised to check from authoritative sources.
                {% endblocktrans %}
            </p>

            <h3 id="privacy">{% trans "Privacy" %}</h3>
            <p>
                {% blocktrans trimmed %}
                    Authenticated users are logged-in either via eduGAIN/Shibboleth or ORCID.

                    Dissemin is a participant of <a href="https://www.renater.fr">RENATER</a> and participates in eduGAIN. When a user logs in to Dissemin via eduGAIN, we receive a persistent identifier and the name of the user. The email address and ORCID identifier are optional. The identity provider can supply additional metadata which we do not rely on.

                    Users can also log in via <a href="https://orcid.org">ORCID</a>, a third-party service. The platform has no access to the private information they provide to ORCID. In particular, we do not store any ORCID passwords, and we do not have access to email addresses that are marked as private in the ORCID record.

                    The platform does not include any analytics, advertisement or tracking services. We are however using the <a href="https://sentry.io/privacy/">Sentry service</a> for error tracking on this platform. Our webserver configuration stores basic access information (URL requested and IP address) for error monitoring, which are kept for fourteen days.

                    We need to set cookies to authenticate our users, therefore by logging in on this platform, users accept these cookies.
            {% endblocktrans %}
            </p>

            <h4 id="deposits">{% trans "Deposits through Dissemin" %}</h4>
            <p>
                {% blocktrans trimmed %}
                    The platform can perform mandated publication deposit to repositories. Users are only allowed to upload papers that they have authored themselves, or papers whose authors have consented to the deposit. In addition to these terms of service, users are required to abide by the policies of these repositories.
                {% endblocktrans %}
            </p>

            <h4 id="contact">{% trans "Contact" %}</h4>
            <p>
                {% blocktrans trimmed %}
                    Please address any inquiry to <a href="mailto:support@dissem.in">support@dissem.in</a>.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-light-blue text-white">
            <h2>{% trans "In full" %}</h2>
        </div>
        <div class="card-body">
            <h3 id="personelData">{% trans "Personal data" %}</h3>
            <p>
                {% blocktrans trimmed %}
                    Dissemin uses eduGAIN/Shibboleth and ORCID's public OAuth interface to authenticate its users.

                    When authenticating with eduGAIN/Shibboleth, the user will authenticate against an identity provider participating in eduGAIN. Dissemin asks the following attributes to be released by the identity provider: eduPersonTargetedId (required), name (required), email (optional) and ORCID (optional). In case that a valid ORCID is transmitted, Dissemin will harvest public data from the corresponding ORCID profile

                    The ORCID interface only transmits information marked as public in the user's ORCID profile. This means that ORCID passwords are never transmitted and email addresses are not transmitted when they are marked as private, which is the default setting.

                    When logging in to Dissemin from ORCID, Dissemin acquires the user's ORCID id, as well as all public information attached to the ORCID record.

                    We are using the <a href="https://sentry.io/privacy/">Sentry service</a> for error tracking on this platform. Our webserver configuration stores basic access information (URL requested and IP address) for error monitoring, which are kept for fourteen days.

                    Dissemin can store any information input by its users on the platform. Users can ask for a copy of the personal information Dissemin stores about them by writing an email to <a href="mailto:support@dissem.in">support@dissem.in</a>.

                    Dissemin will transmit name, email or ORCID of the depositing user to the user-selected repository depending on the requirements of the selected repository.
                {% endblocktrans %}
            </p>

            <h3 id="fullTextStorage">{% trans "Full text storage" %}</h3>
            <p>
                {% blocktrans trimmed %}
                    Documents deposited in repositories via Dissemin can be stored on the platform, but are not available for download on the platform. They can be stored internally for logging purposes, and to make sure failed deposits can be fixed later. Dissemin does not commit to store any of the files it receives from its users.

                    Users can write to <a href="mailto:support@dissem.in">support@dissem.in</a> if they want one of their uploads to be deleted from our internal storage space, or from the repository they have deposited to. Note that deletion policies vary accross repositories: we provide no guarantee that deposits can be deleted from the target repositories.
                {% endblocktrans %}
            </p>

            <h3 id="reportingMisuse">{% trans "Reporting misuse" %}</h3>
            <p>
                {% blocktrans trimmed %}
                    Misuse can be reported to <a href="mailto:support@dissem.in">support@dissem.in</a>.
                {% endblocktrans %}
            </p>

            <h3 id="CNIL">Déclaration CNIL</h3>

            <p>
                {% blocktrans trimmed %}
                    The <a href="https://dissem.in">dissem.in</a> website has been registered with <a href="https://www.cnil.fr/">CNIL</a> under declaration n°1895382 v0.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans trimmed %}
                    You have the right to access, modify, and delete the personal information that we hold about you. To exercise this right, please contact us at <a href="mailto:support@dissem.in">support@dissem.in</a>, or by postal mail at the following addresss:
                {% endblocktrans %}
            </p>

            <p>
                Association CAPSH<br />
                34 rue de la Chanaise<br />
                71250 Cluny<br />
                France
            </p>
        </div>
    </div>
    <div class="card-mb-3">
        <div class="card-header bg-light-blue text-white">
            <h2>Privacy Policy</h2>
        </div>
        <div class="card-body">
            <p>This privacy policy describes the private data usage and processing. It mainly addresses the usage when logged in via Federated Login (Shibboleth). The data private data usage and processing when logged via another authentication method may vary in detail.</p>
            <h3>Name of the Service</h3>
            <p>Dissemin</p>

            <h3>Description of the Service</h3>
            <p>Free and open service to help researchers deposit their articles in open repositories with respect to self-archiving policies of the publisher and in align with guidelines of employers or funders. The service is supported by CCSD (HAL), CERN (Zenodo) and the universities of Braunschweig, Darmstadt and Stuttgart.
            </p>
            <h3>Data Controller and Contact Person</h3>
            <p>
                Association CAPSH<br />
                34 rue de la Chanaise<br />
                71250 Cluny<br />
                France
            </p>

            <h3>Jurisdiction</h3>
            <p>The provisions of French law apply to this agreement. Place of jurisdiction is Cluny.</p>

            <h3>Personal Data Processed</h3>
            <p>In case of login via Federation Login (Shibboleth), following personal data is processed:</p>
            <ul>
                <li>
                    Data requested as required from users home organization:
                    <ul>
                        <li>SAML persistent identifier, unique identifier to identify the user (attribute: eduPersonTargetedID)</li>
                        <li>users name (attributes: givenName, sn</li>
                    </ul>
                </li>
                <li>
                    Data requested optional from users home organization:
                    <ul>
                        <li>users email (attribute: mail)</li>
                        <li>users ORCID (attribute: eduPersonOrcid</li>
                    </ul>
                </li>
                <li>
                    Data gathered from the user:
                    <ul>
                        <li>In case the home organisation does not provide some of the requested attributes, the user might be requested to provide the missing information in order to use certain functionality, or otherwise this functionality may not be available to the user.</li>
                        <li>In case user makes use of personalization settings.</li>
                    </ul>
                </li>
                <li>General network traffic data is logged.</li>
            </ul>

            <h3>Purpose of the Processing of Personal Data</h3>
            <p>The unique user identifier is needed to recognize the user over sessions and to associate user-related information like personal preferences or settings.</p>
            <p>The name of the user is used in the interaction of the platform and the user. Additionally, when the user deposits a publication to an open repository via the platform, the name will be transmitted as required by the adminitration of the choosen repository.</p>
            <p>In case of a deposition into an open repository, the email of the user will be transmitted as required by the administration of the choosen repository.</p>
            <p>The ORCID is used to associate publications of the user to the users profile. In case of a deposition to an open repository, the ORCID will be transmitted.</p>
            <p>Please see the repositories data privacy policies on handling personal data for ruther information.</p>
            <p>Generall network traffic data is stored for maintenance of the platform.</p>

            <h3>Third Parties to whom Personal Data is Disclosed</h3>
            <p>Personal data (name, email, ORCID) may be disclosed on behalf of the user to the following third parties:</p>
            <ul>
                {% for repository in active_repositories %}
                <li><a href="{{ repository.url }}">{{ repository.name }}</a></li>
                {% endfor %}

            </ul>
            <p>In case of disclosing email, the user will have the opportunity of selecting a different email address.</p>

            <h3>How to Access, Rectify and Delete the Personal Data</h3>
            <p>If you need to access, rectify and/or delete any personal data we store about you or which you provided to us please contact us via email: team@dissem.in</p>
            
            <h3>Data Protection Code of Conduct</h3>
            <p>Your personal data will be protected according to the <a href="http://www.geant.net/uri/dataprotection-code-of-conduct/v1">Code of Conduct for Service Providers</a>, a common standard for the research and higher education sector to protect your privacy.</p>
         </div>
    </div>

</div>
{% endblock content %}
