{% load i18n %}

<script type="text/javascript">
  $(function(){
    let params = new URLSearchParams(window.location.search);
    if (params.has('url')) {
      $('#uploadUrl').val(params.get('url'));
      $('#submitUploadUrl').click();
    }
  });
</script>

<div id="globalError"></div>
    <p class="uploadDescription">{% trans "Select here the full text of your article. PDF files only, maximum size:" %} {{ max_file_size|filesizeformat }}.</p>
<div id="uploadInputs">
    <div class="uploadModeBrowse">
        <form id="uploadForm" method="post" action="{% url 'ajax-uploadFulltext' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="upl">{% trans "Select a file:" %}</label>
            <p><a class="btn btn-success" id="browseButton"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {% trans "Browse" %}</a><input type="file" name="upl" style="display:none" /></p>
        </form>
    </div>
    <div class="uploadModeUrl">

        <form id="urlForm" method="post" action="javascript:uploadUrl()">
            {% csrf_token %}
            <label for="url">{% trans "Or enter an URL:" %}</label>
            <div>
                <button type="submit" id="submitUploadUrl" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                <div class="urlContainer">
                    <input id="uploadUrl" type="text" class="form-control"
                    name="url" placeholder="https://"/>
                </div>
            </div>
        </form>
    </div>
    <div class="uploadModeDrop">
        <div id="dropZone">
        <p>{% trans "Or drop a file here:" %}</p>
        </div>
    </div>
</div>
<div id="uploadedResult"></div>

