{% load i18n %}

<p>{% trans "Select here the full text of your article. PDF files only, maximum size:" %} {{ max_file_size|filesizeformat }}.</p>

<div id="uploadErrorText"></div>

<div class="row pb-3" id="fileUploadRow">
    <div class="col-12 col-md-6">
        <div class="container btn btn-tertiary py-4" id="fileUploadArea">
            Click or drop here
        </div>
    </div>
    <div class="col-12 col-md-6">
        <form method="post" action="javascript:fileUpload()" id="urlForm">
            <label for="uploadURL">{% trans "Or enter a URL:" %}</label>
            <div class="input-group">
                <input id="uploadUrl" type="text" class="form-control" name="url" placeholder="http://"/>
                <div class="input-group-append">
                    <button class="btn btn-search" aria-label="{% trans "Upload from URL" %}"><span class="oi oi-cloud-download" aria-hidden="true"/></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="d-none" id="urlDownloadWaiter">
    {% trans "Fetching file and generating preview..." as fetching %}
    <p class="text-center">{{ fetching }}</p>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">{{ fetching }}</span>
        </div>
    </div>
</div>

<div class="progress d-none" id="uploadProgress">
  <div class="progress-bar" role="progressbar" id="uploadProgressBar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="row d-none" id="uploadedFileSummary">
    <div class="col-auto">
        <img class="img-fluid" alt="{% trans "Preview of uploaded file"%}" id="uploadedFileThumbnail" />
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li id="uploadedFilePages"></li>
            <li id="uploadedFileSize"></li>
            <li><a href="#" id="changeFile">{% trans "Choose another file" %}</a></li>
        </ul>
    </div>
</div>
