/* ***
 * Colors
 * *** */

.bg-blue {
    background-color: #2A6496;
}

.bg-light-blue {
    background-color: #5F8BB0;
}


/* ***
 * Images
 * *** */

.statusImage {
    max-height: 4rem;
}

/* ***
 * Navigation bar
 * *** */

/* We remove the background image to have no arrows in this select*/
#set-language {
    background-image: none;
}


/* ***
 * Statistic Pie
 * *** */

.stats_caption_box {
	display:table-cell;
	vertical-align:middle;
}

.stats_caption_color {
	display:inline-block;
	width:20px;
	height:1em;
	margin:0;
	vertical-align:middle;
}

.stats_caption_label {
	display:table-cell;
	vertical-align:middle;
	padding:1px;
	padding-left:7px;
	width:99%;
}

.stats_caption_label_text {
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
}

.stats_caption_label_text:hover {
    text-decoration: underline;
}

.stats_caption_table {
    display:table;
    text-align:left;
}


/* ***
 * Startpage
 * *** */

#screenWelcome {
    background-color: #2A6496;
}

#screenGreenOpenAccess {
    background-color: #71AF33;
}

#screenOpenRepositories {
    background-color: #2A6496;
}

#screenLatestUploads {
    background-color: #5F8BB0;
}

#screenDisseminData {
    background-color: #2A6496;
}

#screenDisseminData a {
    color: white;
}

#screenDisseminData .statsSliceLegend {
    fill: white;
}

#screenDisseminForLibraries {
    background-color: #5F8BB0;
}

#screenPartners {
    background-color: #71AF33;
}
