/* ***
 * Colors
 * *** */

.bg-blue {
    background-color: #2A6496;
}


/* ***
 * Startpage
 * *** */

#screenWelcome {
    background-color: #2A6496;
}

#screenGreenOpenAccess {
    background-color: #71AF33;
}
