{% load i18n %}
<div class="access-statistics" id="statspie_n{{ stats_counter }}">
  <div class="statspie_graph"></div>
  <div class="statspie_caption"></div>
  <script type="text/javascript">
  var data = [{ "label":"{% trans 'Open Access' %}", "value":{{ stats.num_oa }} },
              { "label":"{% trans 'Publications are available' %}", "value":{{ stats.num_ok }} },
              { "label":"{% trans 'Publications could be online' %}", "value":{{ stats.num_couldbe }} },
              { "label":"{% trans 'Policy unknown' %}", "value":{{ stats.num_unk }} },
              { "label":"{% trans 'Upload is forbidden' %}", "value":{{ stats.num_closed }} } ];
  showStatsPie(data, "statspie_n{{ stats_counter }}");
  </script>
</div>