{% load i18n %}
<div class="access-statistics">
  <div id="statspie_n{{ stats_id }}"></div>
  <div class="statspie_caption">
  </div>
  <script type="text/javascript">
  var data = [{ "label":"{% trans 'Open Access' %}", "value":{{ stats.num_oa }} },
              { "label":"{% trans 'Publications are available' %}", "value":{{ stats.num_ok }} },
              { "label":"{% trans 'Publications could be online' %}", "value":{{ stats.num_couldbe }} },
              { "label":"{% trans 'Policy unknown' %}", "value":{{ stats.num_unk }} },
              { "label":"{% trans 'Upload is forbidden' %}", "value":{{ stats.num_closed }} } ];
  showStats(data, "statspie_n{{ stats_id }}");
  </script>
</div>