{% load get_pie_data %}


<small>
    <div class="statspie_graph" id="stats_pie_chart_n{{ stats_counter }}"></div>
</small>

<script type="text/javascript">
    $(function() {
        var data = {{ stats|get_pie_data }};
        {% if on_statuses %}
            data.on_statuses = {{ on_statuses|safe }};
        {% else %}
            data.on_statuses = [];
        {% endif %}
        updateStats = showStatsPie(data, "stats_pie_chart_n{{ stats_counter }}", "stats_pie_legend_n{{ stats_counter }}");
    });
</script>
