{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans "My deposits" %}
{% endblock title %}

{% block content %}
    <div class="container-fluid mb-3">
        <div class="jumbotron mt-3">
            <h1 class="text-center">{% trans "My deposits" %}</h1>
        </div>

        {% for deposit in deposits %}
            {% if forloop.first %}
                <div class="accordion" id="depositAccordion">
            {% endif %}
            {% with deposit.paper as paper %}
                <div class="card">
                    <div class="card-header" id="header-{{ deposit.pk }}">
                        <h6 class="text-dark">
                            <a class="text-dark" role="button" data-toggle="collapse" href="#collapse-{{ deposit.pk }}" aria-expanded="false" aria-controls="collapse-{{ deposit.pk }}">
                                {% blocktrans trimmed with paper_title=paper.title repository=deposit.repository %}
                                    &lsquo;{{ paper_title }}&rsquo; in <strong>{{ repository }}</strong>
                                {% endblocktrans %}
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-{{ deposit.pk }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="#heading-{{ deposit.pk }}" data-parent="#depositAccordion">
                        <table class="table mb-0">
                            <tbody>
                                <!-- Paper -->
                                <tr>
                                    <td>
                                        {% trans "Paper" %}
                                    </td>
                                    <td>
                                        <a href="{{ paper.url }}">{{ paper.title }}</a>
                                    </td>
                                </tr>

                                <!-- Repository -->
                                <tr>
                                    <td>
                                        {% trans "Repository" %}
                                    </td>
                                    <td>
                                        <a href="{{ deposit.repository.url }}" target="blank">{{ deposit.repository }}</a>
                                    </td>
                                </tr>

                                <!-- Deposite date -->
                                <tr>
                                    <td>
                                        {% trans "Deposit date" %}
                                    </td>
                                    <td>
                                        {{ deposit.date }}
                                    </td>
                                </tr>

                                <!-- Publication data (only if published) -->
                                {% if deposit.pub_date %}
                                    <tr>
                                        <td>
                                            {% trans "Publication date" %}
                                        </td>
                                        <td>
                                            {{ deposit.pub_date }}
                                        </td>
                                    </tr>
                                {% endif %}

                                <!-- Deposit type -->
                                <tr>
                                    <td>
                                        {% trans "Deposit type" %}
                                    </td>
                                    <td>
                                        {{ deposit.get_upload_type_display }}
                                    </td>
                                </tr>

                                <!-- Deposit license (only if choosen) -->
                                {% if deposit.license %}
                                    <tr>
                                        <td>
                                            {% trans "License" %}
                                        </td>
                                        <td>
                                            {{ deposit.license.name }}
                                        </td>
                                    </tr>
                                {% endif %}

                                <!-- Identifier -->
                                <tr>
                                    <td>
                                        {% trans "Identifier" %}
                                    </td>
                                    <td>
                                        {{ deposit.identifier }}
                                    </td>
                                </tr>

                                <!-- Splash url and pdf url -->
                                {% with deposit.oairecord as record %}
                                    {% if record %}
                                        <tr>
                                            <td>
                                                {% trans "Meta URL" %}
                                            </td>
                                            <td>
                                                <a href="{{ record.splash_url }}" target="_blank">{{ record.splash_url }}</a>
                                            </td>
                                        </tr>
                                        {% if record.pdf_url %}
                                            <tr>
                                                <td>
                                                    {% trans "PDF URL" %}
                                                </td>
                                                <td>
                                                    <a href="{{ record.pdf_url }}" target="_blank">{{ record.pdf_url }}</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}

                                <!-- Status -->
                                <tr>
                                    <td>
                                        {% trans "Status:" %}
                                    </td>
                                    <td>
                                        {{ deposit.get_status_display }}
                                    </td>
                                </tr>

                                <!-- Letter of declaration (if needed and if status is pending) -->
                                {% if deposit.status == 'pending' and deposit.repository.letter_declaration %}
                                    <tr>
                                        <td>
                                            {% trans "Letter of Declaration" %}
                                        </td>
                                        <td>
                                            <a href="{% url 'letter-of-declaration' deposit.pk %}">{% trans "Show" %}</a>
                                        </td>
                                    </tr>
                                {% endif %}

                                <!-- Additional info (if there is any) -->
                                {% with deposit.additional_info as infos %}
                                    {% for info in infos %}
                                        <tr>
                                            <td>
                                                {{ info.label }}
                                            </td>
                                            <td>
                                                {{ info.value }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endwith %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endwith %}
            {% if forloop.last%}
                </div>
            {% endif %}
        {% empty %}
        <div class="alert alert-info" role="alert">
            <h5 class="text-center">{% trans "No deposits yet!" %}</h5>
            <p class="text-center">{% trans "You have not made any deposit via Dissemin. What are you waiting for? Liberate your papers today." %}</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
