{% extends "deposit/preferences_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Preferences" %}{% endblock title %}o

{% block preferences_nav %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'edit-global-preferences' %}">{% trans "General" %}</a>
        </li>
        {% for repository in repositories %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'edit-repo-preferences' repository.id %}">{{ repository }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock preferences_nav %}

{% block preferences_content %}
    <form method="POST" action="{% url 'edit-global-preferences' %}" id="repositoryPreferencesForm">
	    {% crispy form %}
    </form>
{% endblock preferences_content %}

