{% extends "base.html" %}

{% load author %}
{% load crispy_forms_tags %}
{% load doi %}
{% load domain %}
{% load i18n %}
{% load static %}
{% load statuses %}
{% load widget_tweaks %}

{% block title %}{% trans "Depositing" %} "{{ paper.title }}"{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
{% endblock css %}

{% block scripts %}
    <script src="{% static "js/dropzone.js" %}"></script>
    <script src="{% static "js/select2.min.js"%}"></script>
    <script>
        // Disable auto discover of dropzone
        Dropzone.autoDiscover = false;

        // For HAL that uses select2
        $(function() {
	    $('[data-autocomplete-light-function=select2-customTemplate]').trigger('autocompleteLightInitialize');
        });

        // Prefetch fields when document is ready
        $(function() {
            $('.prefetchingFieldStatus').each(function(i,prefetch) {
                initPrefetch($(prefetch));
            });
        });

        // Collapse Doctype card if choosen per GET
        {% if collapse_doctype %}
            $(function() {
                $("#collapseDocType").collapse('hide');
            });
        {% endif %}
    </script>

    <!-- Addiotonal JS for special repository forms -->
    {% for protocol in used_protocols %}
        {{ protocol.get_form.media }}
    {% endfor %}

{% endblock scripts %}

{% block content %}
    {% include "breadcrumbs.html" %}
    <div class="container pb-2">
        <div class="row">
            <div class="col-12 col-md-4 pb-3">
                {% include "papers/paper_panel.html" %}
            </div>
            <div class="col-12 col-md-8 order-md-first">
                <h2 class="h-border">{% trans "Depositing" %} &quot;{{ paper.title }}&quot;</h2>
                <!-- Terms of Service reminder -->
                <p>
                    {% url 'tos' as tosurl %}
                    {% blocktrans trimmed %}
                        You can deposit the full text of your article. Dissemin will send it to a repository where it will be made freely available. By depositing your article via Dissemin, you agree to our <a href="{{ tosurl }}">terms of service</a>.
                    {% endblocktrans %}
                </p>

                <!-- Alert about authorship -->
                {% if not is_owner %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-center"><strong>{% trans "Authorship" %}</strong></p>
                        {% blocktrans trimmed %}
                            You do not appear to be one of the authors of this paper. By using this form, you certify that you have the permission to upload it on their behalf.
                        {% endblocktrans %}
                    </div>
                {% endif %}

                <!-- Alert about deposition possibilities, not realy needed -->
                {% if not selected_protocol %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-center"><strong>Deposition not possible</strong></p>
                        {% blocktrans trimmed %}
                            This paper cannot be deposited in any repository supported by Dissemin.
                        {% endblocktrans %}
                    </div>
                {% endif %}

                <h4 class="h-border">{% trans "Document" %}</h4>
                <div id="errorMissingFile"></div>
                {% include "upload/widget.html" %}

                <h4 class="h-border">{% trans "Options" %}</h4>

                <!-- Huge form -->
                <form method="POST" action="javascript:depositPaper()" id="depositForm" data-paper-pk="{{ paper.pk }}" data-paper-slug="{{ paper.slug }}">
                    <!-- Hidden field to store the internal file id of previously uploaded file -->
                    <input type="hidden" id="uploadFileId" name="file_id" />
                    <div class="accordion">

                        <!-- Document type -->
                        <div class="card">
                            <a class="text-dark" data-toggle="collapse" href="#collapseDocType" aria-expanded="true" aria-controls="collapseDocType">
                                <div class="card-header" id="headingDocType">
                                    <div class="row">
                                        <div class="col">
                                            {% trans "Upload type:" %} <span id="choosenUploadType"></span>
                                        </div>
                                        <div id="choosenUploadTypeUnfold" class="col-auto d-none">
                                            <span class="text-primary small">{% trans "Change" %}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="collapse show" id="collapseDocType" aria-labelledby="headingDocType">
                                <div class="container">
                                    <!-- Preprint -->
                                    {% with publisher=paper.publisher %}
                                        {% with radio_preprint=paper_form.radioUploadType.0 policy=publisher.preprint %}
                                            <span class="d-none" aria-hidden="true" id="choosenUploadType-preprint"><strong>{% trans "preprint" %}</strong> ({% include "publishers/policy_img.html" with policy=policy %} {{ policy | explain_policy_short_no_punc}})</span>
                                            <div class="row border-bottom py-2">
                                                <div class="col-auto">
                                                    {% include "publishers/policy_img.html" %}
                                                </div>
                                                <div class="form-check col d-flex">
                                                    <label class="form-check-label mr-auto" for="{{ radio_preprint.id_for_label }}">
                                                        {% include "publishers/policy_preprint.html" %}
                                                    </label>
                                                    {{ radio_preprint.tag }}
                                                </div>
                                            </div>
                                        {% endwith %}

                                        <!-- Postprint -->
                                        {% with radio_postprint=paper_form.radioUploadType.1 policy=publisher.postprint %}
                                            <span class="d-none" aria-hidden="true" id="choosenUploadType-postprint"><strong>{% trans "postprint" %}</strong> ({% include "publishers/policy_img.html" with policy=policy%} {{ policy | explain_policy_short_no_punc}})</span>
                                            <div class="row border-bottom py-2">
                                                <div class="col-auto">
                                                    {% include "publishers/policy_img.html" %}
                                                </div>
                                                <div class="form-check col d-flex">
                                                    <label class="form-check-label mr-auto" for="{{ radio_postprint.id_for_label }}">
                                                        {% include "publishers/policy_postprint.html" %}
                                                    </label>
                                                    {{ radio_postprint.tag }}
                                                </div>
                                            </div>
                                        {% endwith %}

                                        <!-- PDF version -->
                                        {% with radio_pdfversion=paper_form.radioUploadType.2 policy=publisher.pdfversion %}
                                            <span class="d-none" aria-hidden="true" id="choosenUploadType-pdfversion"><strong>{% trans "pdfversion" %}</strong> ({% include "publishers/policy_img.html" with policy=policy %} {{ policy | explain_policy_short_no_punc}})</span>
                                            <div class="row py-2">
                                                <div class="col-auto">
                                                    {% include "publishers/policy_img.html" %}
                                                </div>
                                                <div class="form-check col d-flex">
                                                    <label class="form-check-label mr-auto" for="{{ radio_pdfversion.id_for_label }}">
                                                        {% include "publishers/policy_pdfversion.html" %}
                                                    </label>
                                                    {{ radio_pdfversion.tag }}
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>

                        <!-- Repository -->
                        <div class="card">
                            <a class="text-dark" data-toggle="collapse" href="#collapseRepository" aria-expanded="true" aria-controls="collapseRepository">
                                <div class="card-header" id="headingRepository">
                                    <div class="row">
                                        <div class="col">
                                            {% trans "Repository:" %} <span id="choosenRepository"><strong>{{ selected_repository.name }}</strong></span>
                                        </div>
                                        <div id="choosenRepositoryUnfold" class="col-auto d-none">
                                            <span class="text-primary small">{% trans "Change" %}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="collapse show" id="collapseRepository" aria-labelledby="headingRepository">
                                <div class="container">
                                    {% for repository in available_repositories %}
                                    <span class="d-none" aria-hidden="true" id="choosenRepository-{{ repository.pk }}"><strong>{{ repository.name }}</strong></span>
                                    <div class="row {% if not forloop.last %}border-bottom{% endif %} py-2">
                                            <div class="col-3 px-0">
                                                <img class="img-fluid" style="max-height: 4rem" src="{{ repository.logo.url }}" alt="{{ repository.name }}" />
                                            </div>
                                            <div class="col">
                                                {{ repository.description | safe }}
                                            </div>
                                            <div class="col-auto">
                                                <input type="radio" value="{{ repository.pk }}" name="radioRepository" {% if repository == selected_repository %}checked="checked"{% endif %} />
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Metadata of repository / its protocol -->
                        <div class="card">
                            <a class="text-dark" data-toggle="collapse" href="#collapseMetadata" aria-expanded="true" aria-controls="collapseMetadata">
                                <div class="card-header" id="headingMetadata">
                                    <div class="row">
                                        <div class="col">
                                            {% trans "Metadata:" %}
                                        </div>
                                        <div id="choosenMetadataUnfold" class="col-auto d-none">
                                            <span class="text-primary small">{% trans "Change" %}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div id="errorMetadata"></div>
                            <div class="collapse show" id="collapseMetadata" aria-labelledby="headingMetadata">
                                <div class="container mt-2" id="repositoryMetadataForm">
                                    {{ selected_protocol.get_form | crispy }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center my-4">
                        <button class="btn btn-primary btn-lg" type="submit">{% trans "Deposit" %}</button>
                    </div>

                    <div id="errorGeneral"></div>

                    <div class="justify-content-center d-none" id="paperSubmitWaitingArea">
                        <div>
                            <img class="rounded-circle bg-secondary m-2" style="max-height: 8rem;" src ="{% static 'img/animated-bird.gif' %}" alt="{% trans 'Paper animated bird' %}" />
                            <p class="text-center font-italic">{% trans 'Submitting paper to repository' %}…</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
