{% extends "dissemin/details.html" %}

{% load author %}
{% load domain %}
{% load statuses %}
{% load doi %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block headTitle %}
{% trans "Depositing" %} "{{ paper.title }}"
{% endblock %}

{% block bodyTitle %}
{% trans "Depositing" %} "{{ paper.title }}"
{% endblock %}

{% block extra_head %}
    <script src="{% static "libs/jquery.ui.widget.js" %}"></script>
    <script src="{% static "libs/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "libs/jquery.fileupload.js" %}"></script>
    <script src="{% static "libs/upload.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/upload.css" %}" />
    <link rel="stylesheet" href="{% static "css/deposit.css" %}" />
{% endblock %}

{% block jsScript %}
$(function() {
    $('#waitingArea').hide();
    $('#uploadFileId').val('');
    
    /* Prefetched fields */
    $('.prefetchingFieldStatus').each(function(i,prefetch) {
        var p = $(prefetch);

        {% trans "Trying to fill this field automatically for you..." as trying_fill %}
        p.text("{{ trying_fill|escapejs }}");
        field = $("#"+p.data("fieldid"));
        console.log(field);
        objid = $("input[name="+p.data("objfieldname")+"]").val();
        console.log(objid);
        field.prop('disabled', true);
        $.get(p.data("callback"),
            {"field":p.data("fieldname"),
            "id":objid}, null, 'json').fail(
            function(data) {
                console.log(data);
                {% trans "Sorry, we could not fill this for you." as sorry %}
                p.text('{{ sorry|escapejs }}');
                field.prop('disabled', false);
            }
        ).done(
            function(data) {
                if(!data['success']) {
                p.text('{{ sorry|escapejs }}');
                } else {
                    p.text('');
                }
                field.prop('disabled', false);
                field.val(data['value']);
            }
        );        
    });

    $('.helpPopover').popover({trigger: "hover"});

    /* Panels */
    $('#optionUploadType').collapse({
        parent:$('#uploadOptions'),
        toggle:false,
        }).on('show.bs.collapse', function () {
        $('#uploadTypeInline').empty();
    }).on('hidden.bs.collapse', function () {
        var selected = $("input[type='radio'][name='radioUploadType']:checked");
        if(selected.length > 0) {
            $('#uploadTypeInline').append($('#hiddenInline-'+selected.val()).clone());      
        }
    });
    $("input[type='radio'][name='radioUploadType']").click(function(){
        $('#optionUploadType').collapse('hide');
        $('#error-radioUploadType').removeClass('error').empty();
    });
    {% if request.GET.type %}
        $('#optionUploadType').collapse('hide');
    {% endif %}

});

    /* Submitting the deposit */
    function depositPaper() {
       var data = $('#depositForm').serialize();
       $('.error').removeClass('error').empty()
       $('#waitingArea,.submitDeposit').toggle();

       $.post('{% url 'ajax-submitDeposit' paper.pk %}', data, null, 'json').fail(
            function(data) {
                var errorText = '';
                if(!data.responseJSON) {
                    {% trans "Dissemin encountered an error, please try again later." as errormsg %}
                    errorText = "{{ errormsg|escapejs }}";
                } else {
                    error = data.responseJSON;
                    console.log(error);
                    if('message' in error) {
                        errorText = error['message']
                    }
                    if('form' in error) {
                        errors = error['form']
                        if('file_id' in errors) {
                            $('#globalError').addClass('error').text(errors['file_id'][0]); 
                        }
                        if('radioUploadType' in errors) {
                            $('#error-radioUploadType').addClass('error').text(errors['radioUploadType'][0]);
                            $('#optionUploadType').collapse('show');
                        }
                    }
                    for(field in error) {
                        $('#error-'+field).addClass('error').text(error[field]);
                    }
                }
                if(errorText) {
                    $('#depositError').addClass('error').text(errorText);
                }
                $('#waitingArea,.submitDeposit').toggle();
            }).done(function(data) {
                var uploadId = data['upload_id'];
                window.location.replace('{% url 'paper' paper.pk %}?deposit='+uploadId);
            });
    }
{% endblock %}

{% block lists %}
<div id="uploadIntro">
    <p>
        {% url 'tos' as tosurl %}
        {% blocktrans %}
            You can deposit the full text of your article. Dissemin will
            send it to a repository where it will be made freely available.
            By depositing your article on Zenodo via Dissemin,
            you agree to our <a href="{{ tosurl }}">terms of service</a>.
        {% endblocktrans %}
    </p>

    {% if not is_owner %}
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        You do not appear to be one of the authors of this paper.
        By using this form, you certify that you have the permission to
        upload it on their behalf.
    </div>
    {% endif %}
</div>

<span class="detailsTitle">{% trans "Document" %}</span>
<div class="detailsContent uploadSection">
    {% include "upload/widget.html" %}
</div>

<form method="POST" action="javascript:depositPaper()" id="depositForm">
{% csrf_token %}
<input type="hidden" id="uploadFileId" name="file_id" />
<span class="detailsTitle">{% trans "Options" %}</span>
<div id="uploadOptions" class="panel-group detailsContent" role="tablist" aria-multiselectable="true">
    <div id="error-radioUploadType"></div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingUploadType">
            <a role="button" data-toggle="collapse" data-parent="#uploadOptions"
                href="#optionUploadType">{% trans "Upload type:" %}</span><span id="uploadTypeInline"></a>
        </div>
        <div id="optionUploadType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingUploadType">
            <div class="panel-body">
                {% include "publishers/detailsPolicy.html" with publisher=paper.publisher mode="radio" %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingRepository">
            <span>
                <a role="button" data-toggle="collapse"
                  data-parent="#uploadOptions" href="#optionRepository" aria-expanded="true"
                                                                        aria-controls="optionRepository">{% trans "Repository:" %} <strong>Zenodo</strong></a>
            </span>
        </div>
        <div id="optionRepository" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRepository">
            <div class="panel-body">
                <a href="https://zenodo.org" target="_blank">
                    <img src="{% static "img/zenodo-black-200.png" %}" alt="Zenodo" style="float: left" />
                </a>
                <p>
                {% blocktrans %}
                Your document will be archived in <a href="https://zenodo.org/" target="_blank">Zenodo</a>,
                    a general-purpose open repository hosted by CERN.
                    If the document does not have a DOI yet, Zenodo will create one.
                {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingMetadata">
            <span>
                 <a role="button" data-toggle="collapse"
                  data-parent="#uploadOptions" href="#optionMetadata" aria-expanded="true"
                  aria-controls="optionMetadata">{% trans "Review metadata" %}</a>
            </span>
        </div>
        <div id="optionMetadata" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMetadata">
            <div class="panel-body">
                {% for form in forms %}
                    <div class="form-group">
                        {{ form|crispy }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="depositError"></div>
<div id="uploadSubmitSection">
    <p class="submitDeposit"><button type="submit" id="submitDeposit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-circle-arrow-up"></span> {% trans "Deposit" %}</button></p>
    <div id="waitingArea">
        <span>{% trans "Processing deposit..." %}</span> <span class="waitingBird"><img src="{% static "img/animated-bird.gif" %}" /></span> <span>{% trans "please wait..." %}</span>
    </div>
</div>
</form>
{% endblock %}

{% block details %}
{% include "papers/paperDetails.html" with paper=paper %}

{% endblock %}
