{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid text-light text-center mb-0" id="screenWelcome">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{% trans 'Welcome to Dissemin' %}</h1>
                    <p>{% trans 'Dissemin detects papers behind paywalls and helps their authors to upload them in one click to an open repository.' %}</p>
                    <form method="get" action="{% url 'search' %}" >
                        <div class="input-group">
                            {% render_field search_form.authors class="form-control justify-content-center" %}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success" aria-label="{% trans 'Search' %}"><span class="oi oi-magnifying-glass" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid text-light mb-0" id="screenGreenOpenAccess">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 my-auto">
                    <img class="img-fluid" src="{% static 'dissemin/img/open_access.png' %}" alt="Green Open Access">
                </div>
                <div class="col-12 col-md-8">
                    <h2 class="text-center">{% trans "Green Open Access" %}</h2>
                    <p>{% trans 'Many researchers do not use their right to make their papers freely available online, in addition to the paywalled version of traditional publishers.' %}</p>
                    <p>{% trans 'Uploading your papers to open repositories has significant advantages:' %}</p>
                    <ol>
                        <li>{% trans 'Your research is available to everyone, increasing your readership and impact.' %}</li>
                        <li>{% trans 'You help universities abandon overpriced journal subscriptions.' %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
