
.uploadModeBrowse, .uploadModeUrl, .uploadModeDrop {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.uploadModeBrowse {
    width: 20%;
    padding-top: 15px;
}

.uploadModeUrl {
    width: 42%;
    padding: 15px;
    height: 100px;
    border-left: 1px solid #CCC;
}

#submitUploadUrl {
    float: right;
}

.urlContainer {
    overflow: hidden;
    padding-right: 2px;
}

.uploadModeDrop {
    float: right;
    padding-left: 15px;
    border-left: 1px solid #CCC;
}

.uploadFileItem {
    padding: 5px;
}

.uploadThumbnail {
    max-width: 105px;
    max-height: 149px;
    float: left;
    background-color: #FFF;
    border: 4px solid #BFBFBF;
    margin: 5px;
    margin-right: 15px;
}

.fileDetails {
    padding-left: 15px;
    padding-top: 5px;
}

.error {
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: #fe9898;
    padding: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#dropZone {
    width: 100%;
    height: 100px;
    border: 2px dashed grey;
    display: inline-block;
    text-align: center;
}
#dropZone p {
    text-align: center;
    font-weight: 700;
}


