body
{
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    background-color: #4883b2;
}

.header-image
{
    width: 100%;
    height: 560px;
/*    background-color: #4883b2; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: block;
    vertical-align: top;
}

.second-parallax
{
    width: 100%;
    display: block;
    vertical-align: top;
}

.centering-second-parallax
{
    text-align: center;
    padding: 20px;
    position: relative;
}

.orange-button
{
    background: rgba(131,51,65,1);
    border-color: #d77311;
    color: #d77311;
}

.orange-button:hover, 
.orange-button:focus, 
.orange-button:active, 
.orange-button.active
{
    background-color:  #d77311;
    border-color: #222222;
}

.blue-button
{
    background: transparent;
    border-color: #125886;
    color: #125886;
}

.blue-button:hover,
.blue-button:focus,
.blue-button:active,
.blue-buttion.active
{
    background-color: #125886;
    color: #cccccc;
}

.band
{
    vertical-align: top;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 50px 0px;
    text-align: center;
}

#band-1
{
    background-color: #833341;
    color: #e0d693;
}

#band-2
{
    /* background: url('../img/graph.png') no-repeat center; */ 
    color: #bbbbbb;
    background-color: rgba(63, 63, 63, 1);
    padding-top: 10px;
    padding-bottom: 20px;
}

#band-2 a
{
    color: #bbbbbb;
}

#band-2 h2
{
    padding-bottom: 20px;
}

h1
{
    font-size: 50px;
    padding: 25px;
    margin: 0px;
}

.use-case
{
    display: inline-block;
    vertical-align: top;
    max-width: 390px;
    padding: 10px;
}

.questions p, .questions h2
{
    text-align: left;
}

.questions
{
    max-width: 500px;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    z-index: 10;
    position: relative;
}

.oiseau
{
    /*float: right;
    position: absolute;
    padding-left: 20px; * */
    padding: 5px;
}

.migration
{
    position: absolute;
    right: 10px;
    padding: 10px;
    padding-top: 80px;
    z-index: 5;
}


.slide
{
    font-size: 2em;
    min-height: 100vh;
}

.slide .ulCenter
{
    text-align: left;
    margin: auto;
    width: 800px;
}

.slide li
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.source
{
    font-size: 0.7em;
}

.disambig
{
    background: url('../img/graphe-1024.svg') no-repeat;
    background-position: -300px 0px;
}

.oaLogo
{
    background: url('../img/oa_logo.svg') no-repeat;
    background-position: 100% 50%;
    background-size: 200px;
}

.inlineBg
{
    background-color: rgba(131, 51, 65, 0.5);
    display: inline;
}

.use-case p
{
    font-size: 1.2em;
}

#researcher
{
    background: url('../img/researcher.png') no-repeat center;
    z-index: 20;
}

#university
{
    background: url('../img/university.png') no-repeat center;
    z-index: 20;
}

.logo-scroll, #researcher, #university
{
    height: 150px;
    width: 195px;
    margin: auto;
    display: block;
}

.teamMember
{
    display: inline-block;
    width: 180px;
    margin-bottom: 10px;
}

.memberName
{
    padding-top: 5px;
    font-size: 1.6em;
}

#footer
{
    text-align: center;
    padding: 40px;
}

#footer a
{
    color: black;
}
