/* small screen fixes */

#content { min-width: 300px; }

#header .navbar .navbar-nav {
    flex-direction: column;
}

#header .navbar .navbar-nav > * {
    order: 1;
}

#header .navbar .navbar-nav > .navbarFlexLast {
    order: 2;
}

#header #change-lang-form {
    margin: auto;
    border: none;
    box-shadow: none;
}

#header .navbar .select2-container {
    text-align: left;
    width: 100% !important;
}

#header .navbar .select2-selection__rendered {
    padding-left: 0;
}

#select2-set-language-results {
    text-align: left;
}

.oaPanel.left, .oaPanel.right, .oaPanel.left > *, .oaPanel.right > *, #statsExplanations, .siteSummary.left, .siteSummary.right {
  float: none;
  margin: 0;
}
.oaPanel.left, .oaPanel.right, .siteSummary.left, .siteSummary.right { width: 100%; margin: 0 0 20px 0; }
.oaPanel.left > h2, .oaPanel.right > h2 { margin-bottom: 10px; }

.flex { flex-direction: column; }
#sidebar { width: 100%; }
#summaryLists { align-self: auto; }
#sidebar, #summaryLists, #sidebarSeparator { order: 0; margin: 0; }

#subfooter { min-width: 300px; }
#subfooter p { margin: 10px 0; }
