/* fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic,700italic|Neuton);
body
{
    text-align: center;
    margin: 0px;
    font-family:"Open Sans", "sans-serif", sans;
    font-size:14.5px;
    font-weight:300;
}

/* boilerplate for links */

a
{
    color: #1F4A6E;
    font-weight:400;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* nicer lists */

ul, .withTriangles
{
    list-style-image: url('../blue-triangle.png');
}

.numPapers
{
    color: gray;
}

/* better titles */

h1, h2, h3, h4
{
    font-weight:bold;
}

h4
{
    margin-top:20px;
}

/* general structure */

#header, #title, #content, #footer
{
    text-align: left;
}

#header
{
    /* border: 1px solid b; */
    background-color: #2A6496; /* #3448A2; */
    margin: 5px;
    margin: 0px;
    /* border-radius: 5px; */
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size:1em;
}

#content, #subheader, #subfooter
{
    max-width: 1030px;
    min-width: 630px;
    margin: auto;
    padding: 0 10px;
}

#content {
    padding: 0;
}

#subheader {
    line-height:2em;
}

#sidebar
{
    float: right;
    width: 280px;
    border-right: 1px solid rgba(192,188,206,1);
    border-bottom: 1px solid rgba(192,188,206,1);

    left: 0;
    /* position: fixed; */
    top: 156px;
    padding: 15px;
    padding-left: 5px;
    padding-top: 7px;
    bottom: 0px;
}

#fullPage, #summaryLists
{
    min-height: 500px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto !important;
    height:100%;
    border-top: 1px solid transparent;
    border-left: 1px solid rgba(192,188,206,1);
    border-right: 1px solid rgba(192,188,206,1);
    border-bottom: 1px solid transparent;
}

#summaryLists, #detailContent
{
    margin-right: 292px; 
}


#wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Dissemin header */

#rightLinks
{
    float: right;
    text-align: right;
}

#dissemin
{
    font-size: 1.2em;
}

#header a
{
    color: white;
}

/* List of publications */

#summaryLists li, #summaryLists ul
{
}

li 
{
    line-height:1.5em;
}

.withTriangles
{
    list-style-image: url('../blue-triangle.png');
    margin-left: 15px;
}

.withoutTriangles
{
    list-style-type: none;
    list-style-image: none;
}

#summaryLists ul
{
    padding-left: 0px;
}

.ulContainer
{
    border-top: 1px solid rgba(192,188,206,1);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}

.listYear
{
    float:right;
    font-size: 2.5em;
    color: rgba(192, 188, 206, 1);
}

.pubLogo
{
    float: left;
    vertical-align: middle;
    display: table-cell;
    height: 70px;
    width: 52px;
}

.filldiv
{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.pubLogoPic-UNK, .pubLogoPic-OK, .pubLogoPic-NOK, .pubLogoPic-OA, .pubLogoPic-PDF, .pubLogoPic-PDF-OK, .pubLogoPic-PDF-NOK
{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pubLogoPic-UNK, .pubLogoPic-PDF-NOK
{
    background-image: url('../symbol-UNK.png');
}
.pubLogoPic-UNK.pubLogoPic-PDF, .pubLogoPic-PDF-OK
{
    background-image: url('../symbol-PDF-UNK.png');
}
.pubLogoPic-OK
{
    background-image: url('../symbol-OK.png');
}
.pubLogoPic-OK.pubLogoPic-PDF
{
    background-image: url('../symbol-PDF-OK.png');
}
.pubLogoPic-NOK
{
    background-image: url('../symbol-NOK.png');
}
.pubLogoPic-NOK.pubLogoPic-PDF
{
    background-image: url('../symbol-PDF-NOK.png');
}
.pubLogoPic-OA
{
    background-image: url('../symbol-OA.png');
}

.pubText, .criterionItem
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pubText
{
    margin-left: 60px;
    border-left: 3px solid #8ECC50;
    min-height: 55px;
}

.pubRef
{
    color: #6e6e6e;
    font-size: 0.9em;
}

.pubRef a
{
    color: #272743;
}

.paperAuthors
{
    font-size: 0.95em;
}

.paperTitle
{
    font-size: 1.2em;
	/* font-family:"Neuton", serif; */
}

h1.paperTitle {
	margin-top:0;
	font-weight:normal;
}

.abstract {
	width:500px;
	font-size:0.9em;
	font-weight:normal;
	text-align:justify;
	margin-left:50px;
}

.paperDeleteButton, .researcherDeleteButton
{
/*    color: white;
    background-color: grey;*/
    float: none;

}

.undoDeletePaper
{
    line-height: 40px;
}

/* Policy choices pics */

.policyPic
{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

.policyPic-can
{
    background-image: url('../green-circle.png');
}

.policyPic-cannot
{
    background-image: url('../red-circle.png');
}

.policyPic-restricted
{
    background-image: url('../orange-circle.png');
}

.policyText
{
    margin-left: 25px;
    min-height: 25px;
}

/* Criterions in the side bar */

.criterionItem
{
    margin-left: 45px;
    margin-top: 8px;
    margin-bottom: 3px;
	padding-left: 3px;
}

.criterionCross
{
    /* font-size: 1.3em; */
    float: right;
    padding-right: 5px;
    margin: auto;
}

.criterion {
	clear:both;
}

.unselectedCriterion, .selectedCriterion, .publisher
{
    height: 55px;
    padding: 2px;
    margin: 0px;
	clear: both;
}

.publisher {
	clear: unset;
}

.unselectedCriterion .pubLogo, .selectedCriterion .pubLogo, .publisher .pubLogo
{
    height: 50px;
    width: 37px;
}

.unselectedCriterion
{
}

.selectedCriterion
{
    border: 2px solid #8ecc50;
	margin: -2px;
}

/* Mosaic display */

.mosaic-on .pubItem {
	display:inline-block;
	width:166px;
	height:230px;
	position:relative;
}

.mosaic-on .pubLogo {
	height:70px;
	display:block;
	float:none;
	text-align:center;
	width:auto;
}

.mosaic-on .pubText {
	border: 1px solid #ccc;
    border-top: 3px solid #8ECC50;
	margin: 0;
	padding: 5px;
	height: 150px;
	min-height: 150px;
	overflow: hidden;
	font-size: 0.9em;
	position: absolute;
	z-index: 1;
	background: #fff;
	width:100%;
}

.mosaic-on .pubRef {
	display: none;
}

.mosaic-on .paperTitle {
	display: -webkit-box;
	text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
	font-size: 15px;
	line-height: 19px;
	max-height: 95px;
	overflow: hidden;
}

.mosaic-on .paperAuthors {
	white-space: nowrap;
/*	max-width: 100%;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

.mosaic-on .pubItem:hover .pubText {
	height: auto;
	z-index:2;
}

.mosaic-on .pubItem:hover .paperTitle {
	max-height: 300px;
}

.mosaic-on .pubItem:hover .paperAuthors, .mosaic-on .pubItem:hover .pubRef {
	display: block;
	white-space: unset;
}

/* Other stuff */

#footer
{
    width: 100%;
    border-top: 5px solid #2A6496;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.8em;
    font-family: arial;
    margin:0;
}

#footer, .push
{
    clear: both;
}

/* Department list */

#membersList {
	-webkit-columns:2;
	-moz-columns:2;
	columns:2;
	margin-left:15px;
}

.membersLetter {
	list-style:none;
	margin: 15px;
	font-weight:bold;
	font-size:1.2em;
	break-after:avoid;
	page-break-after:avoid;
	-webkit-column-break-after:avoid;
}

/* Content and titles */

#actualContent
{
    border-top: 3px solid #2A6496; 
}

#actualContent h2
{
    font-size: 1.3em;
}

#contentTitle
{
    font-size: 1.5em;
}

.detailsTitle
{
    font-size: 1.2em;
}

.detailsContent
{
    border-top: 2px solid #2A6496;
}

#detail-name {
	font-weight:bold;
	font-size:1.2em;
	margin-top:3px;
}

.criterion
{
    font-size: 1.1em;
    padding-bottom: 3px;
}

/* SHERPA source */

.sherpaAcknowledgement
{
    text-align: center;
}

/* Access statistics */

.access-statistics 
{
    max-width:600px;
    height:10px;
    overflow:hidden;
    border-radius:10px;
    margin:8px;
    margin-bottom:15px;
    box-shadow:0 0 0 2px #fff, 0 0 0 3px #999;
}

.accessStats
{
    height: 25px;
    width: 100%;
    padding-right: 10px;
}

.access-class-oa, .access-class-ok,
.access-class-couldbe, .access-class-unk,
.access-class-closed
{
    display: inline-block;
    height: 100%;
    height: 25px;
}

.access-class-oa
{
    background-color: #FF8300;
}

.access-class-ok
{
    background-color: #F9B698;
}

.access-class-couldbe
{
    background-color: #FACED8;
}

.access-class-unk
{
    background-color: #B7B2D9;
}

.access-class-closed
{
    background-color: #151E59;
}

/* Search pages buttons */
.searchPages
{
    text-align: center;
}

/* Editables */

.small-glyphicon
{
    font-size: 0.7em;
    color: gray;
}

.editable-long-input
{
    width: 150px;
}

/* Annotation buttons */

.button-paper-right, .button-paper-wrong
{
    border-color: #C0C0C0;
}

.button-paper-right.active, .button-paper-right.focus
{
    background-color: #5CB85C;
    border-color: #398439;
}

.button-paper-wrong.active, .button-paper-wrong.focus
{
    background-color: #C9302C;
    border-color: #AC2925;
}

/* Shamelessly taken from
 * https://github.com/vitalets/x-editable/issues/361 */
.editable-container.editable-inline {
    display: inline; 
}

.editable-input {
    display: inline; 
}

.form-group {
    display: inline;
    width: 100%;
}

.editableform .form-control {
    width: 100%;
}

