/* fonts */
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular'), url('Neuton___.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('OpenSansL__.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('OpenSans___.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('OpenSans_B_.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('OpenSansL_I.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('OpenSans_BI.woff') format('woff');
}

body
{
    text-align: center;
    margin: 0px;
    font-family:"Open Sans", "sans-serif", sans;
    font-size:14.5px;
    font-weight:300;
    background-color: #2A6496;
}

.pointer {
    cursor: pointer;
}

/* boilerplate for links */

a
{
    color: #1F4A6E;
    font-weight:400;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* nicer lists */

ul, .withTriangles
{
    list-style-image: url('../blue-circle.png');
}

ul.noCircle
{
	list-style:none;
}

.numPapers
{
    color: gray;
}

/* better titles */

h1, h2, h3, h4
{
    font-weight:bold;
}

h4
{
    margin-top:20px;
}

/* general structure */

#header, #title, #content, #footer
{
    text-align: left;
}

#top-breadcrumb {
    margin-bottom: 0px;
    border-radius: 0px;
    border-right: 1px solid #C0BCCE;
    border-left: 1px solid #C0BCCE;
    padding: 4px 17px;
}

/* Dissemin navbar header */

#header
{
    background-color: #2A6496; /* #3448A2; */
    margin: 5px;
    margin: 0px;
    font-size:1em;
}

#header a {
    color: white;
}

#header .navbar
{
    background: none;
    margin: 0;
    border: none;
}

#header .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #629AC3;
}

#header .dropdown-menu a {
    color: #262626;
}

#header .dropdown-menu {
    background-color: white;
}

#header .navbar .navbar-brand > img {
    display: inline-block;
    height: 25px;
    margin-right: 1em;
}

#content, #subfooter
{
    max-width: 1030px;
    min-width: 630px;
    margin: auto;
    padding: 0 10px;
}

#content {
    padding: 0;
    /* overflow: hidden; */
}

#subheader {
    line-height:2em;
}

.flex
{
    display: flex;
    align-items: flex-start;
}

#sidebar
{
    border-right: 1px solid rgba(192,188,206,1);
    border-bottom: 1px solid rgba(192,188,206,1);
    padding: 15px;
    padding-left: 5px;
    padding-top: 7px;
    bottom: 0px;
    margin-left: 10px;
    margin-bottom: 30px;
    flex: 3 1 30%;
    order: 3;
}

#fullPage, #summaryLists
{
    min-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto !important;
    height:100%;
    border-top: 1px solid transparent;
    border-left: 1px solid rgba(192,188,206,1);
    border-right: 1px solid rgba(192,188,206,1);
    border-bottom: 1px solid transparent;
}

#summaryLists
{
    flex: 7 1 70%;
    order: 1;
    align-self: stretch;
    max-width: 750px;
}

#wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #FFF;
    min-height: 350px;
}

.centered
{
    text-align: center;
}

/* Researcher lookup form results */

.latestPaper
{
    font-style: italic;
}

/* List of publications */

li
{
    line-height:1.5em;
}

.withTriangles
{
    list-style-image: url('../blue-triangle.png');
    margin-left: 15px;
}

.withoutTriangles
{
    list-style-type: none;
    list-style-image: none;
    padding-left: 0px;
}

#summaryLists ul
{
    /* padding-left: 0px; */
}

.notFound {
    text-align: center;
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #999;
}

.ulContainer
{
    border-top: 1px solid rgba(192,188,206,1);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}

.listYear
{
    float:right;
    font-size: 2.5em;
    color: rgba(192, 188, 206, 1);
}

.pubLogo
{
    float: left;
    vertical-align: middle;
    display: table-cell;
    height: 70px;
    width: 52px;
}

.filldiv
{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.pubLogoPic-UNK, .pubLogoPic-OK, .pubLogoPic-NOK, .pubLogoPic-OA, .pubLogoPic-PDF, .pubLogoPic-PDF-OK, .pubLogoPic-PDF-NOK
{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pubLogoPic-UNK, .pubLogoPic-PDF-NOK
{
    background-image: url('../img/logos/unk.png');
}
.pubLogoPic-UNK.pubLogoPic-PDF, .pubLogoPic-PDF-OK
{
    background-image: url('../img/logos/ok.png');
}
.pubLogoPic-OK
{
    background-image: url('../img/logos/couldbe.png');
}
.pubLogoPic-OK.pubLogoPic-PDF
{
    background-image: url('../img/logos/ok.png');
}
.pubLogoPic-NOK
{
    background-image: url('../img/logos/closed.png');
}
.pubLogoPic-NOK.pubLogoPic-PDF
{
    background-image: url('../img/logos/ok.png');
}
.pubLogoPic-OA
{
    background-image: url('../img/logos/oa.png');
}

.criterionItem
{
	display: table-cell;
	vertical-align: middle;
	width:100%;
}

.publicationText, .criterionItem
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.publicationText
{
    margin-left: 60px;
    border-left: 3px solid #8ECC50;
    min-height: 55px;
}

.publicationText p
{
    margin: 0px 0px 5px;
    word-wrap: break-word;
}

.pubRef
{
    color: #6e6e6e;
    font-size: 0.9em;
}

.pubRef a
{
    color: #272743;
}

.paperDownloadDomain
{
    color: #6e6e6e;
    font-size: 0.9em;
    margin-left: 5px;
}

.paperAuthors
{
    font-size: 0.95em;
}

.paperTitle
{
    font-size: 1.2em;
	/* font-family:"Neuton", serif; */
}

.paperDocType
{
    font-style: italic;
}

h1#paperTitle {
	margin-top:0;
	font-weight:normal;
	font-size:1.2em;
	line-height:1.2;
	margin-bottom:5px;
}

#paperAvailability {
	background:#eee;
	overflow:hidden;
	padding:20px;
	margin:10px 0px;
	display:table;
	width:100%;
}

#paperAvailabilityLogo {
	display:table-cell;
	float:left;
	padding-right:10px;
	width:52px;
	vertical-align:middle;
}

#paperDetails {
	display:table-cell;
	vertical-align:middle;
}

.abstract {
	font-size:0.9em;
	font-weight:normal;
	text-align:justify;
	max-width:500px;
	margin-left:50px;
    margin-top:10px;
    margin-bottom: 20px;
}

.paperDeleteButton, .researcherDeleteButton
{
/*    color: white;
    background-color: grey;*/
    float: none;

}

.undoDeletePaper
{
    line-height: 40px;
}

/* Export citation modal */

#exportCitationModal #exportCitationFormatLabel {
    margin-right: 1em;
}

#exportCitationModal #exportCitationFormat {
    width: auto;
    display: inline;
}

/* Policy choices pics */

.policyPic
{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

.policyPicSpan
{
    height: 1.1em;
    width: 1em;
    display: inline-block;
    vertical-align:middle;
    background-repeat: no-repeat;
    background-size: contain;
}

.policyPic-can
{
    background-image: url('../green-circle.png');
}

.policyPic-cannot
{
    background-image: url('../red-circle.png');
}

.policyPic-restricted
{
    background-image: url('../orange-circle.png');
}

.policyPic-unclear
{
    background-image: url('../white-circle.png');
}

.policyPic-unknown
{
    background-image: url('../question-circle.png');
}

.policyText
{
    margin-left: 25px;
    min-height: 25px;
}

.policyText label
{
    display: block;
    margin-bottom: 0px;
    font-weight: inherit;
}

.policyText ul
{
    padding-left: 25px;
}

.policyItem
{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #cccccc;
}

.lastPolicyItem
{
    border-bottom: 1px solid #cccccc;
}

.policyReadMoreLink, .policySherpaLink
{
    font-style: italic;
}

.policySherpaLink
{
    float: right;
}

.policyDetailUpload
{
    float: right;
}

.linkToFullPolicy
{
    font-size: 0.8em;
    text-align: right;
}

.publisher-policy
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.orcidLink {
    padding-left: 2px;
}

.helpPopover
{
    color: inherit;
    border-bottom: 1px dashed black;
}

.helpPopover:hover, .helpPopover:link {
    text-decoration: none;
}


/* Criterions in the side bar */

.detailsContent label
{
    margin-bottom: 10px;
}

.detailsContent .checkbox
{
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Document type */

ul.compactList
{
    font-size: 0.9em;
    padding: 0;
    -moz-column-width: 100px;
    -webkit-column-width: 100px;
    column-width: 100px;
}

#advancedSearchPapers ul.compactList
{
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
}

.compactList li
{
    list-style: none;
}

.compactList label.doctype
{
    margin-bottom: 0;
}

.compactList input
{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    margin-top: 2px;
}

.criterionItem
{
    margin-left: 45px;
    margin-top: 8px;
    margin-bottom: 3px;
	padding-left: 3px;
}

.criterionCross
{
    /* font-size: 1.3em; */
    float: right;
    padding-right: 5px;
    margin: auto;
}

.criterion {
	clear:both;
}

.unselectedCriterion, .selectedCriterion, .publisher, .publisherCriterion
{
    min-height: 50px;
    padding: 2px;
    margin: 0px;
	clear: both;
	display:table;
}

.publisherCriterion
{
    width: 100%;
    margin-bottom: 2px;
}

.publisherCriterion input[type=checkbox],
.hiddenCheckboxes input[type=checkbox]
{
    display: none;
}

.publisherCriterionBox label
{
    display: table;
    padding: 0px 10px;
    margin: 0px;
}

.publisher {
	clear: unset;
}

.unselectedCriterion .pubLogo, .selectedCriterion .pubLogo, .publisher .pubLogo, .publisherCriterion .pubLogo
{
    height: 50px;
    width: 37px;
}

.unselectedCriterion
{
}

input[type=checkbox]:checked + div.publisherCriterionBox
{
    border-color: #8ecc50;
}

.checkbox-x
{
    visibility: hidden;
    display: table-cell;
}

label.stats_caption_line
{
    cursor: pointer;
}

input[type=checkbox]:checked ~ .checkbox-x
{
    visibility: visible;
}

input[type=checkbox] ~ .stats_caption_label
{
    font-weight: normal;
}

input[type=checkbox]:checked ~ .stats_caption_label
{
    font-weight: bold;
}

.form-group .tightLabel
{
    padding-right: 6px;
}

.form-group .tightInput
{
    padding-left: 6px;
}

.form-control.tightForm
{
    padding-left: 8px;
    padding-right: 8px;
}

.selectedCriterion
{
    border: 2px solid #8ecc50;
}

.publisherCriterionBox
{
    min-height: 50px;
    width: 100%;
    padding: 2px;
    margin: 0px;
    display: table;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
}

.selectedPubtype
{
	font-weight:bold;
    text-decoration:underline;
}

/* Other stuff */

#footer
{
    width: 100%;
    background-color: #2A6496;
    padding: 30px;
    font-size: 1em;
    margin:0;
    color: white;
}

#footer a {
	color:#fff;
}

#footer, .push
{
    clear: both;
}

#change-lang-form-div
{
    text-align: center;
}

#change-lang-form label {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Departments list */

#departmentsList {
    -webkit-columns:2;
    -moz-columns:2;
    columns:2;
    margin-left: 0px;
    list-style: none;
    padding-left: 0;
}

#departmentsList li {
    display: inline-block;
}

/* Department list */

#membersList {
	-webkit-columns:2;
	-moz-columns:2;
	columns:2;
	margin-left:15px;
}

.membersLetter {
	list-style:none;
	margin: 15px;
	font-weight:bold;
	font-size:1.2em;
	break-after:avoid;
	page-break-after:avoid;
	-webkit-column-break-after:avoid;
}

/* Content and titles */

#actualContent
{
    border-top: 3px solid #2A6496;
}

#actualContent h2
{
    font-size: 1.3em;
}

#contentTitle
{
    font-size: 1.5em;
}

.detailsTitle
{
    font-size: 1.2em;
}

.detailsContent {
    border-top: 2px solid #2A6496;
}

.summaryLists .detailsContent {
    margin-bottom: 30px;
}

#detail-name {
	font-weight:bold;
	font-size:1.2em;
	margin-top:3px;
}

.criterion
{
    font-size: 1.1em;
    padding-bottom: 3px;
}

/* SHERPA source */

.sherpaAcknowledgement
{
    text-align: center;
}

/* Access statistics */

.access-statistics
{
    overflow:hidden;
    margin:0px;
    margin-bottom:15px;
    margin-top:10px;
}

.statspie_graph {
	font-size:0.9em;
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
}

.oaPanel .access-statistics {
    text-align: center;
}

#sidebar .statspie_graph, #sidebar .statspie_caption {
    display:block;
    margin:auto;
    text-align:center;
}

#departmentsList .statspie_graph {
    margin-right: 5px;
}

.statspie_caption {
	font-size:0.9em;
	display:inline-block;
	vertical-align:top;
	color:#1f4a6e;
}

.stats_caption_table {
    display:table;
    text-align:left;
}

.stats_caption_line {
	display:table-row;
}

.stats_caption_box {
	display:table-cell;
	vertical-align:middle;
}

.stats_caption_color {
	display:inline-block;
	width:20px;
	height:1em;
	margin:0;
	vertical-align:middle;
}

.stats_caption_label {
	display:table-cell;
	vertical-align:middle;
	padding:1px;
	padding-left:7px;
	width:99%;
}

.stats_caption_label_text {
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    vertical-align:top;
}

.stats_caption_line:hover .stats_caption_label_text {
    text-decoration: underline;
}

.stats_caption_label .detail {
	color:#666;
	font-size:0.8em;
	margin-left:3px;
}

a.stats_caption_line:hover {
    text-decoration: none;
}

.stats_pctbar {
	line-height:2em;
	margin-bottom:5px;
	background:#E62029;
	color:#fff;
	border-right:1px solid #666;
	border-left:1px solid #666;
	font-weight:bold;
}

.stats_pctbar div {
	display:inline-block;
	padding:5px;
}

.stats_pctbar .available {
	background:#D2ED1D;
	color:#000;
	text-align:right;
	border-right:1px solid #666;
}

.stats_caption_label.activated {
    font-weight: bold;
}

#searchPapersSortBy select {
    width: auto;
    display: inline-block;
}

/* Search pages buttons */
.searchFilters .dropdown {
    display: inline-block;
}

.searchPages {
    text-align: center;
}

.searchPages .pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.searchToolbox {
    margin-bottom: 20px;
}

/* Editables */

.small-glyphicon
{
    font-size: 0.7em;
    color: gray;
}

.editable-long-input
{
    width: 150px;
}

/* Annotation buttons */

.button-paper-right, .button-paper-wrong
{
    border-color: #C0C0C0;
}

.button-paper-right.active, .button-paper-right.focus
{
    background-color: #5CB85C;
    border-color: #398439;
}

.button-paper-wrong.active, .button-paper-wrong.focus
{
    background-color: #C9302C;
    border-color: #AC2925;
}

/* Shamelessly taken from
 * https://github.com/vitalets/x-editable/issues/361 */
.editable-container.editable-inline {
    display: inline;
}

.editable-input {
    display: inline;
}

.editableform .form-control {
    width: 100%;
}

/* Homepage */

#welcome {
    background-color: #2A6496;
	color:white;
	padding:20px 50px;
	font-size:1.2em;
	font-weight:normal;
	margin:10px 0;
	overflow:hidden;
}

#welcome .startButton {
    text-align: center;
    width: 100%;
}

#welcome p {
	width:70%;
}

#welcome a {
	color:#fff;
	text-decoration:underline;
}

#welcome .startButton a {
    color: #2A6496;
    text-decoration: none;
    margin: 0px 10px;
}

#lookUpColleague {
    text-align: center;
}

#lookUpColleagueForm {
    text-align: left;
    display: inline-block;
}

#lookUpColleague .form-inline {
    padding: 5px 2px;
}

#lookUpColleague .form-group {
    margin-bottom: 0;
}

.confirmSuggestion {
    float: right;
}

.truncateModal {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#welcome .active {
    background-color: #D1D1D1;
}

#orcidGroup, #orcidGroup .form-group, #id_orcid {
    width: 100%;
}

#lookUpColleague .formErrorDiv {
    color: #FEA4A4;
    font-size: 0.8em;
}

.researcherMethodLabel {
    width: 110px;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}

#submitGroup {
    text-align: center;
}

#lookUpColleague input {
    color: #2A6496;
}

#banner.alert-info {
    background-color: #eee;
}

#welcome #institutionblock {
	float:right;
	width:29%;
	text-align:center;
}

#welcome #institution {
	max-width:100%;
}

#welcome #advancedSearchP {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

#welcome #id_authors {
    height: 40px;
}

.btn-search {
    background-color: #a9b502;
    border-color: #879001;
    height: 40px;
}

.btn-search:hover, .btn-search:focus {
    background-color: #879001;
    border-color: #879001;
}

#smallPaperList {
	border:1px solid #ccc;
	border-radius:10px;
	overflow:hidden;
}

#smallPaperList ul {
	max-height:300px;
	overflow-y:auto;
	margin:0;
}

.seeAll {
	display:block;
	width:100%;
	font-weight:bold;
}

#smallPaperList .seeAll {
	background:#eee;
	border-top:1px solid #ccc;
	padding:6px 10px;
}

#siteSummaries {
	overflow:hidden;
	margin-top:20px;
}

.siteSummary {
	width:48%;
	width:calc(50% - 10px);
	background:#eee;
	padding:20px;
}

.siteSummary h2 {
	margin-top:0px;
}

.siteSummary.left {
	float:left;
	margin-right:10px;
}

.siteSummary.right {
	float:right;
	margin-left:10px;
}

.oaPanel {
    background: #eee;
    padding: 20px;
}

.oaPanel h2 {
    margin-top: 0px;
}

.oaPanel.left {
    float:left;
    margin-right:10px;
    width:58%;
    width:calc(60% - 10px);
}

.oaPanel.right {
    float:right;
    margin-left:10px;
    width:38%;
    width:calc(40% - 10px);
}

/*
#globalStats, #statsExplanations {
    width: 48%;
    width:calc(50% - 5px);
}
*/

#globalStats {
    float:left;
    margin-right: 5px;
}


/* FAQ */
#faqSummary {
	margin:20px;
	background:#eee;
	padding-bottom:10px;
}

#faqSummary h4, .faq h3 {
    background-color: #2A6496;
	color:white;
	padding:10px;
}

.faq h3 {
	margin-left:-10px;
	margin-right:-10px;
}

#faqSummary p {
	padding-left: 20px;
}

/* Waiting area */

#waitingArea {
    text-align: center;
}

.waitingBird {
    display: inline-block;
    border-radius: 50%;
    background-color: #84B4DE;
    width: 128px;
    height: 128px;
    margin: 12px;
}
.waitingBird img {
    width: 128px;
    height: 100px;
    margin-top: 14px;
}

#waitingArea span {
    font-style: italic;
    font-size: 1.2em;
}

/* Login page */

.regularLogin {
    width: 48%;
    float: right;
    display: inline-block;
    border-left: 1px solid #CCC;
    padding: 5px;
    padding-left: 7px;
}

.socialLogin {
    width: 48%;
    float: left;
    display: inline-block;
}

.btn-orcid {
    color: #FFF;
    background-color: #a6ce39;
    border-color: #8EAB8E;
    font-weight: 800;
}

/* Messages area */
.messages {
    padding-left: 0px;
}

.backend_orcid > p {
    margin: 0 0 15px 0;
}

.message-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.more-information {
    display: none;
}

.more-information.shown {
    display: block;
}

/* Bootstrap expandable panels with no padding */

.no-padding {
    padding: 0px;
}

/* Not sure we need these anymore */

#paper_uploader input {
	display:inline-block;
}

.form_success {
	font-weight:bold;
	background:#9e6;
	padding:5px;
}
