body
{
    text-align: center;
    margin: 0px;
}

/* boilerplate for links */

a
{
    color: #373793;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}


/* general structure */

#header, #title, #content, #footer
{
    text-align: left;
}

#header
{
    /* border: 1px solid b; */
    background-color: #2A6496; /* #3448A2; */
    margin: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#content
{
    width: 1000px;
    margin: auto;
    padding: 10px;
}

#sidebar
{
    float: right;
    width: 250px;
    border-right: 1px solid rgba(192,188,206,1);
    border-bottom: 1px solid rgba(192,188,206,1);

    left: 0;
    /* position: fixed; */
    top: 156px;
    padding: 15px;
    padding-left: 5px;
    padding-top: 7px;
    bottom: 0px;
}

#fullPage, #summaryLists
{
    min-height: 500px;
    padding-left: 20px;
    padding-right: 10px;
    height: auto !important;
    height:100%;
    border-left: 1px solid rgba(192,188,206,1);
    border-right: 1px solid rgba(192,188,206,1);
    border-bottom: 1px solid rgba(192,188,206,1);
}

#summaryLists
{
    margin-right: 262px; 
}


#wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Dissemin header */

#rightLinks
{
    float: right;
    text-align: right;
}

#dissemin
{
    font-size: 1.2em;
}

#header a
{
    color: white;
}

/* List of publications */

#summaryLists li
{
    list-style-type: none;
}

#summaryLists ul
{
    padding-left: 7px;
}

.ulContainer
{
    border-top: 1px solid rgba(192,188,206,1);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}

.listYear
{
    float:right;
    font-size: 2.5em;
    color: rgba(192, 188, 206, 1);
}

.pubLogo
{
    float: left;
    vertical-align: middle;
    display: table-cell;
}

.filldiv
{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.pubLogoPic-UNK, .pubLogoPic-OK, .pubLogoPic-NOK, .pubLogoPic-OA, .pubLogoPic-PDF, .pubLogoPic-PDF-OK, .pubLogoPic-PDF-NOK
{
    height: 40px;
    width: 31px;
    background-repeat: no-repeat;
}
.pubLogoPic-UNK, .pubLogoPic-PDF-NOK
{
    background-image: url('../document-symbol.png');
    background-position: 3px 0px;
}
.pubLogoPic-OK
{
    background-position: 3px 0px;
    background-image: url('../open-symbol.png');
}
.pubLogoPic-NOK
{
    background-position: 3px 0px;
    background-image: url('../closed-symbol.png');
}
.pubLogoPic-PDF, .pubLogoPic-PDF-OK
{
    background-image: url('../pdf-symbol.png');
}
.pubLogoPic-OA
{
    background-image: url('../oa-symbol.png');
}

.pubText, .criterionItem
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pubText
{
    margin-left: 43px;
    border-left: 3px solid green;
    min-height: 55px;
}

.pubRef
{
    color: #6e6e6e;
    font-size: 0.9em;
}

.pubRef a
{
    color: #272743;
}

.paperAuthors
{
    font-size: 0.95em;
}

.paperTitle
{
    font-size: 1em;
}

.paperDeleteButton
{
/*    color: white;
    background-color: grey;*/
    float: none;

}

/* Criterions in the side bar */

.criterionItem
{
    margin-left: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.criterionCross
{
    /* font-size: 1.3em; */
    float: right;
    padding-right: 5px;
    margin: auto;
}

.unselectedCriterion
{
    height: 48px;
    padding: 2px;
    margin: 0px;
}

.selectedCriterion
{
    border: 2px solid green;
    height: 48px;
    padding: 2px;
    margin: 0px;
}



/* Other stuff */

#footer
{
    width: 100%;
    border-top: 5px solid #2A6496;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.8em;
    font-family: arial;
    margin:0;
}

#footer, .push
{
    clear: both;
}

/* Content and titles */

#actualContent
{
    border-top: 3px solid #2A6496; 
}

#contentTitle
{
    font-size: 1.5em;
}

.detailsTitle
{
    font-size: 1.2em;
}

.detailsContent
{
    border-top: 2px solid #2A6496;
}

.criterion
{
    font-size: 1.1em;
    padding-bottom: 3px;
}

/* Search pages buttons */
.searchPages
{
    text-align: center;
}

/* Editables */

.small-glyphicon
{
    font-size: 0.7em;
    color: black;
}


