{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% trans "Advanced Search" %}{% endblock %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="text-center">{% trans "Advanced Search" %}</h1>
    </div>
    <div class="container pb-3">
        {% comment %}
            We do not use crispy forms here, since we want to arrange some things very individually.
        {% endcomment %}
        <form method="get" action="{% url "search" %}">
            <div class="form-group">
                <label for="{{ form.q.id_for_label }}">{% trans "Title" %}</label>
                {% render_field form.q class="form-control" %}
            </div>
            <div class="form-group">
                <label for="{{ form.authors.id_for_label }}">{% trans "Authors" %}</label>
                {% render_field form.authors class="form-control" aria-describedby="authorsHelpBlock" %}
                <small id="authorsHelpBlock" class="form-text text-muted">{% trans "Search by names or ORCIDs. Separate with commas and prefix with <code>last:</code> to enforce last name search." %}</small>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="{{ form.pub_before.id_for_label }}">Published before</label>
                    {% render_field form.pub_before class="form-control" %}
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="{{ form.pub_after.id_for_label }}">Published after</label>
                    {% render_field form.pub_after class="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label>{% trans "Document type" %}</label>
                <div class="row">
                    {% for checkbox in form.doctypes %}
                        {% if forloop.counter0|divisibleby:"3" %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        {% endif %}
                        <div class="form-check ">
                            {{ checkbox.tag }}
                            <label class="form-check-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label}}</label>
                        </div>
                        {% if forloop.counter0|add:"-2"|divisibleby:"3" or forloop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if request.user.is_superuser %}
                {% comment %}
                    We do not care to much about (responsive) design in case of super users. They are rare.
                {% endcomment %}
                <h4>{% trans "Fields for superusers" %}</h4>
                <div class="form-group">
                    <label for="{{ form.visible.id_for_label }}">{% trans "By visibility" %}</label>
                    {% render_field form.visible class="form-control" %}
                </div>
                <div class="form-group">
                    <label for="{{ form.availability.id_for_label }}">{% trans "By full text availability" %}</label>
                {% render_field form.availability class="form-control" %}
                </div>
                <div class="form-group">
                    <label>{% trans "By publisher policy" %}</label>
                    {% for checkbox in form.oa_status %}
                        <div class="form-check">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success text-center">
                    <span class="oi oi-magnifying-glass"></span> Search
                </button>
            </div>
        </form>
    </div>
{% endblock %}
