{% load staticfiles %}
{% load bootstrap_pagination %}
{% load statuses %}
{% load i18n %}

 {% if search_results.paginator.num_pages > 1 %}
<div class="searchPages">{% bootstrap_paginate search_results range=10 %}</div>
 {% endif %}
 {% for paper in search_results %}
 {% ifchanged paper.year %}
 {% if not forloop.first %}</ul></div>{% endif %}
    <div class="ulContainer">
    <div class="listYear">{{ paper.year }}</div><ul class="withoutTriangles">
 {% endifchanged %}
    <li class="pubItem">
        {% include "papers/publiListItem.html" with paper=paper with_buttons=request.user.is_authenticated %}
</li>    
        {% if forloop.last %}</ul></div>{% endif %}
 {% empty %}
    {% if not researcher.current_task %}
         <p class="notFound">{% trans "No production found." %}</p>
    {% endif %}
 {% endfor %}
 {% if search_results.paginator.num_pages > 1 %}
 <div class="searchPages">{% bootstrap_paginate search_results range=10 %}</div>
 {% endif %}
