{% load i18n %}
{% load author %}
{% load static %}
{% load orcid %}
{% spaceless %}
    {% for author in author_list %}
        <span>{% if not forloop.first %},{% endif %}
            <span class="{% if author.researcher_id %}knownAuthorName{% else %}unknownAuthorName{% endif %}" data-pk="{{ author.pk }}" data-first="{{ author.name.first }}" data-last="{{ author.name.last }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                {% if author.researcher_id and author.researcher_id == researcher_id %}
                    <strong>{{ author }}</strong>
                {% else %}
                    {{ author | authorlink }}
                {% endif %}
            </span>
        </span>
        {% if author.orcid %}
        <a href="{% if author.researcher_id %}/{{ author.orcid }}{% else %}{{ author.orcid|orcid_to_url }}" target="_blank{% endif %}" class="orcidLink" rel="nofollow" data-toggle="tooltip" title="{% trans "This contributorship is confirmed by ORCID." %}" ><img src="{% static "img/orcid-small.png" %}" alt="ORCID" /></a>
        {% endif %}
    {% endfor %}
{% endspaceless %}
