{% extends "dissemin/details.html" %}

{% block headTitle %}{{ department.name }}{% endblock %}
{% block bodyTitle %}<a href="#" id="department_name" data-pk="{{ department.id }}">{{ department.name }}</a>{% endblock %}

{% block jsScript %}
$(function(){
$('#department_name').editable({
type: 'text',
pk: 1,
name: 'name',
url: 'post.php',
title: 'Enter department name',
mode: 'inline',
});
});
{% endblock %}

{% block lists %}
<p>Members:</p>
<ul>
    {% for person in department.sorted_researchers %}
    <li><a href="{% url 'researcher' person.id %}">{{ person }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block details %}
<p>Head: </p>
<p>Website: </p>
<p><a href="{% url 'search' %}?department={{ department.id }}">Papers authored by the members</a></p>
{% endblock %}

