{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
ENS
{% endblock %}

{% block extra_head %}
{% include 'statistics/headers.html' %}
{% endblock %}

{% block content %}
<div id="fullPage">
  <h2>{% trans "Departments" %}</h2>
  
  <ul id="departmentsList">
  {% for dept in departments %}
    <li>
         <a href="{% url 'department' dept.id %}">{{ dept }}</a>
         {% include 'statistics/pie.html' with obj=dept stats_counter=forloop.counter %}
    </li>
  {% endfor %}
  </ul>
  
</div>
{% endblock %}
