{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
ENS
{% endblock %}

{% block extra_head %}
{% include 'statistics/headers.html' %}
{% endblock %}

{% block content %}
<div id="fullPage">
  <h2>{% trans "Departments" %}</h2>
  
  <ul id="departmentsList">
  {% for dept in departments %}
    <li>
        <table>
            <tr><td>
                 <a href="{% url 'department' dept.id %}">{{ dept }}</a>
            </td></tr>
            <tr><td>
    {% include 'statistics/pie.html' with stats=dept.stats stats_counter=forloop.counter %}
            </td></tr>
        </table>
    </li>
  {% endfor %}
  </ul>
  
</div>
{% endblock %}
