{% extends "dissemin/details.html" %}

{% load i18n %}


{% block extra_head %}
{% include 'statistics/headers.html' %}
{% endblock %}

{% block headTitle %}{{ department.name }}{% endblock %}

{% block bodyTitle %}<span id="department_name" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ department.name }}</span>

    {% endblock %}

{% block jsScript %}
{% if request.user.is_superuser %}
$(function(){
    makeTextEditable($('#department_name'), '/ajax/change-department', '{{ department.pk }}', 'name');
});

function addResearcher() {
    var data = $('#addResearcherForm').serialize();
    $('#addResearcherForm .formErrorDiv').each(function () {
        $(this).text('');
        });

   $.post('{% url 'ajax-addResearcher' %}', data, null, 'json').fail(function(data) {
            if(!data.responseJSON) {
                {% trans "Dissemin encountered an error, please try again later." as errormsg %}
                $('#globalError').text('{{ errormsg|escapejs }}');
            } else {
                error = data.responseJSON;
                for(field in error) {
                    if(field == 'message') {
                        $('#globalError').text(error[field]);
                    } else {
                        $('#error-'+field).text(error[field]);
                    }
                }
            }
        }).done(function(data) {
        $('#membersList').append('<li><a href="/researcher/'+data["id"]+'/">'+data['name']+'</a></li>');
        $('#addResearcherForm .form-control').trigger("reset");
    });
}
{% endif %}
{% endblock %}

{% block lists %}
<p></p>
<p>{% trans "The administration has provided us with this list. Please report any problem to contact@dissem.in." %}</p>
<ul id="membersList" class="noCircle">
    {% for person in department.sorted_researchers %}
    {% ifchanged person.name.first_letter %}
    <li class="membersLetter">{{ person.name.first_letter }}</li>
    {% endifchanged %}
    <li><a href="{% url 'researcher' person.id %}">{{ person }}</a>
           {% if person.stats %}
           <span class="numPapers">
               {% blocktrans trimmed count num_total=person.stats.num_tot %}
               ({{ num_total }} paper)
               {% plural %}
               ({{ num_total }} papers)
               {% endblocktrans %}
           </span>
           {% endif %}

        {% if request.user.is_superuser %}
            <button type="button" class="close researcherDeleteButton"
                id="delete-researcher-{{ person.id }}"
                data-undotext="{% trans "Researcher deleted. " %}"
                data-undoundo=""
                data-undolink="#"
                data-undoclass="">
                <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Delete" %}</span>
            </button>
        {% endif %}

    </li>
    {% endfor %}
</ul>

{% if request.user.is_superuser %}
    <form action="javascript:addResearcher();" method="post" id="addResearcherForm">
     <div id="globalError" class="formErrorDiv"></div>
    {% csrf_token %}
    {% for field in add_form %}
       {% if field.name == 'department' %}
       <input type="hidden" name="department" value="{{ department.id }}" />
       {% else %}
       <div class="input-group">
           <div class="formErrorDiv" id="error-{{ field.name }}">{{ field.errors }}</div>
           {{ field.label_tag }}
           <input type="text" name="{{ field.name }}" id="{{ field.id }}" class="form-control" />
        </div>
        {% endif %}
    {% endfor %}
    <input type="submit" class="btn btn-default" value="{% trans "Add" %}" />
    </form>
{% endif %}


{% endblock %}

{% block details %}
<span class="detailsTitle">{% trans "Department" %}</span>
<div class="detailsContent">
    <p><a href="{% url 'search' %}?department={{ department.id }}">{% trans "Papers of the members" %}</a></p>

    {% include "statistics/pie.html" with obj=department stats_counter=1 %}
</div>
{% endblock %}

