{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
{% trans "Frequently Asked Questions" %}
{% endblock %}

{% block content %}
<div id="fullPage" class="faq">
    <div id="contentTitle">{% trans "Frequently Asked Questions" %}</div>
    <div id="actualContent">

	  <div id="faqSummary">
        <h4>Open Access</h4>
        <p><a href="#open-access">{% trans "What is Open Access?" %}</a></p>
        <p><a href="#repositories-rock">{% trans "Why should I upload my papers to a repository?" %}</a></p>
        <p><a href="#what-repository">{% trans "What repository should I use?" %}</a></p>

        <h4>dissem.in</h4>
        <p><a href="#what-is-dissemin">{% trans "What is dissem.in?" %}</a></p>
        <p><a href="#repository">{% trans "Is dissem.in a repository?" %}</a></p>
        <p><a href="#running">{% trans "Who runs dissem.in?" %}</a></p>
        <p><a href="#creating-a-profile">{% trans "Can I create my profile on dissem.in?" %}</a></p>
        <p><a href="#new-institution">{% trans "Can I use dissem.in for my institution?" %}</a></p>

        <h4>{% trans "Policies and full-text availability" %}</h4>
        <p><a href="#policy-classes">{% trans "What do your policy classes mean?" %}</a></p>
        <p><a href="#availability">{% trans "When is a paper considered available?" %}</a></p>
        <p><a href="#statistics">{% trans "Should I trust your statistics?" %}</a></p>

        <h4>{% trans "Omissions and errors" %}</h4>
        <p><a href="#copy-available">{% trans "There is a freely available copy of my article online but dissem.in does not find it." %}</a></p>
        <p><a href="#missing-paper">{% trans "One of my papers is missing. Why?" %}</a></p>
        <p><a href="#incorrect-metadata">{% trans "Some details of my paper are incorrect. What can I do?" %}</a></p>

        <h4>{% trans "Behind the scene" %}</h4>
        <p><a href="#sources">{% trans "Where do you get the data from?" %}</a></p>
        <p><a href="#getting-involved">{% trans "How can I help?" %}</a></p>
        <p><a href="#source-code">{% trans "Where is the source code?" %}</a></p>
        <p><a href="#oai">{% trans "Can I harvest your data?" %}</a></p>
      </div>
        <h3>{% trans "Open Access" %}</h3>

        <h2 id="open-access">{% trans "What is Open Access?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        In a nutshell, the Open Access movement promotes free access to the scientific literature. For a 
        more in-depth introduction, we recommend
        <a href="http://www.phdcomics.com/comics.php?f=1533">this video in English</a>
        and
        <a href="http://pablo.rauzy.name/openaccess/introduction.html">this introduction in French</a>.
        {% endblocktrans %}
        </p>
        <h2 id="repositories-rock">{% trans "Why should I upload my papers to a repository?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        You should do it because:
        <ul>
            <li>It makes your research <strong>more accessible</strong> and <strong>more visible</strong>.
            Many researchers routinely check papers in topic repositories such as arXiv, and
            it is less likely that these researchers check your homepage regularly.
              </li>
              <li>You can even do it before publication. You can get <strong>valuable feedback</strong>
              to improve your paper before the actual peer-reviewing process. It also witnesses the fact
              that you have had your ideas earlier than the actual publication time.</li>
              <li>
              It provides you a <strong>durable storage</strong>. Your homepage
              is likely to change or to disappear, for instance if you leave your current institution.
              </li>
              <li>
              Some publishers do not allow preprints on homepages but allow them in
              repositories.</li>
              <li>
              Finally, for all these reasons,
              an increasing number of <strong>funding bodies</strong> require the outcomes of
              their projects to be available in a repository.
              </li>
          </ul>
        {% endblocktrans %}
        </p>
        <h2 id="what-repository">{% trans "What repository should I use?" %}</h2>
        <p>
        {% blocktrans trimmed %}
            There are roughly two types of repositories:
            <ul>
                <li>Subject repositories, restricted to some research fields, such as <a href="http://arxiv.org">arXiv</a>.</li>
                <li>Institutional repositories, designated to store the research output of a given institution or country.
                    For instance, {{ UNIVERSITY_SHORT_NAME }} has <a href="{{ UNIVERSITY_REPOSITORY_URL }}">its own repository</a>.
                </li>
            </ul>
            If your research community favours a specific repository, using it makes sense as it will increase your
            visibility. If not, institutional repositories are also a good option. 
        {% endblocktrans %}
        </p>

        <h3>dissem.in</h3>

        <h2 id="what-is-dissemin">{% trans "What is dissem.in?" %}</h2>

        <p>
        {% url 'sources' as sources_url %}
        {% blocktrans trimmed %}
        Dissem.in is a web platform gathering metadata from <a href="{{ sources_url }}">various sources</a>
        and analyzing the full text availability of publications of researchers, currently only within {{ UNIVERSITY_SHORT_NAME }}.
        It has been designed to foster the use of repositories (rather than preprints posted on personal homepages),
        <a href="#repositories-rock">for numerous reasons</a>.
        {% endblocktrans %}
        </p>
        <h2 id="repository">{% trans "Is dissem.in a repository?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Dissem.in is not a repository as it does not store any full text. When the full text of a publication
        is available, a link to the relevant page is provided.
        {% endblocktrans %}
        </p>
        <h2 id="running">{% trans "Who runs dissem.in?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Dissem.in is brought to you by <a href="https://github.com/wetneb/dissemin/graphs/contributors">the dissem.in team</a>.
        {% endblocktrans %}
        <h2 id="creating-a-profile">{% trans "Can I create my profile on dissem.in?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        If your institution is not covered by dissem.in, currently, no, you cannot.
        Our algorithms require some information about your department and research field
        to gather your publications.
        {% endblocktrans %}
        </p>
        <h2 id="new-institution">{% trans "Can I use dissem.in for my institution?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Yes, just ask <a href="mailto:contact@dissem.in">contact@dissem.in</a>.
        {% endblocktrans %}
        </p>

        <h3>Policies and full-text availability</h3>
        <h2 id="policy-classes">{% trans "What do your policy classes mean?" %}</h2>
        <p>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-OA"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Open access:</strong><br />
                The full text is made freely available by the publisher.
                {% endblocktrans %}
            </div>
        </div>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-OK pubLogoPic-PDF"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Pre/post prints allowed and full text available:</strong><br />
                The full text is available in a repository, but might not be freely
                available from the publisher itself. This is in line with the publishing policy
                and is called green open access or self-archiving.
                {% endblocktrans %}
            </div>
        </div>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-OK"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Pre/post prints allowed but full text unavailable:</strong><br />
                The full text could be made available in a repository (as above)
                according to the publishing policy.
                {% endblocktrans %}
            </div>
        </div>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-NOK"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Pre/post prints forbidden:</strong><br />
                The publisher forbids deposits in repositories, in general.
                {% endblocktrans %}
            </div>
        </div>
        </p>
        <h2 id="availability">{% trans "When is a paper considered available?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        When we have found it in one of the repositories we harvest. The list of
        these repositories can be found <a href="{{ sources_url }}">here</a>.
        Thanks to <a href="http://www.base-search.net">the BASE search engine</a>,
        we cover more than 68 millions of preprints.
        {% endblocktrans %}
        </p>
        <h2 id="statistics">{% trans "Should I trust your statistics?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        There are a few caveats concerning our data:
        <ul>
            <li>Some papers are not present in any of our metadata sources, so they are not counted at all.</li>
            <li>Some entries in our system do not correspond to proper research papers.</li>
            <li>Some of them have been incorrectly classified by our homonym disambiguation system.</li>
            <li>Some repositories might not be covered by any of our sources, so a paper might be marked as unavailable while it is available.</li>
            <li>Some papers might be marked as available but actually, they are not (for instance because the content has been deleted).</li>
            <li>And many other technical issues.</li>
        </ul>
        But our platform is increasingly reliable and we think that department-wise statistics are meaningful.
        {% endblocktrans %}
        </p>

        <h3>Omissions and errors</h3>
        <h2 id="missing-paper">{% trans "One of my papers is missing. Why?" %}</h2>
            {% blocktrans trimmed %}
            <p>There are many possible reasons: maybe it is not available from any
            of <a href="{{ sources_url }}">our sources</a>, your name is spelt
               differently or partially in the authors list, our algorithms estimated
               that it has been written by an homonym researcher, or it has been deleted
               by one of your co-authors.</p>
            <p>In any case, you should be able to add it manually soon.</p>
            {% endblocktrans %}

        <h2 id="incorrect-metadata">{% trans "Some details of my paper are incorrect. What can I do?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        In a near future, you should be able to create an account and fix it by yourself.
        If it is really urgent, send a message to <a href="mailto:contact@dissem.in">contact@dissem.in</a>.
        {% endblocktrans %}
        </p>

       <h2 id="copy-available">{% trans "There is a freely available copy of my article online but dissem.in does not find it." %}</h2>
       <p>
            {% blocktrans trimmed %}
            There are two cases:
            <ul>
                    <li>Your article is available on a personal homepage or a similar
                    website. In this case, you should read <a href="#repositories-rock">
                        why you should also put it in a repository</a>.</li>
                    <li>Your article is available in a repository but does not appear as
                     available in dissem.in. In this case you should send a message
                     to <a href="mailto:contact@dissem.in">contact@dissem.in</a> to fix the problem.</li>
            </ul>
            {% endblocktrans %}
            </p>

        <h3>Behind the scene</h3>

        <h2 id="sources">{% trans "Where do you get the data from?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Our sources are listed on <a href="{{ sources_url }}">this page</a>.
        {% endblocktrans %}
        </p>

        <h2 id="getting-involved">{% trans "How can I help?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        There are many ways to get involved, even if you do not want to write any code:
        <ul>
            <li>Tell us what you think: <a href="mailto:contact@dissem.in">contact@dissem.in</a>.</li>
            <li>Tag articles to improve our author disambiguation algorithm (you need an account).</li>
            <li>Help us improve the overall usability of the website.</li>
            <li>Help us translate the interface.</li>
            <li>Get lists of researchers from departments.</li>
            <li>Fix metadata errors (you need an account).</li>
            <li>Spread the word about this tool.</li>
            <li>Fix any of our listed <a href="http://github.com/wetneb/dissemin/issues">issues</a>.</li>
            <li>Star <a href="http://github.com/wetneb/dissemin">our github project</a>!</li>
        </ul>
        {% endblocktrans %}
        </p>
        <h2 id="source-code">{% trans "Where is the source code?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        The source code is available <a href="http://github.com/wetneb/dissemin">on github</a>.
        {% endblocktrans %}
        </p>
        <h2 id="oai">{% trans "Can I harvest your data?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Yes! But we have not implemented any API yet. Tell us what you need.
        {% endblocktrans %}
        </p>
        <p><a href="#">Back to top</a></p>
    </div>
{% endblock %}
