{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
{% trans "Feedback" %}
{% endblock %}

{% block content %}
<div id="fullPage">
    <div id="contentTitle">{% trans "Feedback" %}</div>
    <div id="actualContent">
        <div style="text-align: center">
            <br /><br /><br />
            <h4>{% trans "Your feedback is highly appreciated!" %}</h4>
            <h5><a href="mailto:contact@dissem.in">contact@dissem.in</a></h5>
        </div>
    </div>
{% endblock %}
