{% extends "dissemin/skeleton.html" %}

{% load i18n %}
{% load solo_tags %}
{% load static %}

{% block headTitle %}
{% trans "Home" %}
{% endblock %}

{% block extra_head %}
{% include 'statistics/headers.html' %}
{% endblock %}

{% block jsScript %}
$(function(){
    $('#lookupColleagueButton').click(function() {
        $(this).toggleClass('active');
        $('#lookUpColleague').slideToggle();
    });
});

function reqComplete() {
    $('#lookUpColleagueForm :input').prop('disabled', false);
    $('#loadingPic').remove();
}

function lookUpColleague() {
    var data = $('#lookUpColleagueForm').serialize();
    $('#lookUpColleagueForm .formErrorDiv').each(function () {
        $(this).text('');
    });

    if($('#forceInput') != 'force') {
        $('#disambiguationModal .list-group').empty();
    }

    $('#forceInput').val('');
    $('#lookUpColleagueForm :input').prop('disabled', true);
    {% trans "Searching..." context "alternate text of the waiting picture in the name lookup form" as searching_alt %}
    $('#submitGroup').append('<img alt="{{ searching_alt|escapejs }}" src="{% static "img/loading.gif" %}" id="loadingPic" style="margin-right: -32px; margin-left: -2px;" />');
    $.post('{% url 'ajax-newUnaffiliatedResearcher' %}', data, null, 'json').fail(
        function(data) {
            reqComplete();
            if(!data.responseJSON) {
                $('#globalError').text(data.responseText);
            } else {
                error = data.responseJSON;
                for(field in error) {
                    if(field == '__all__') {
                        $('#globalError').text(error[field]);
                    } else {
                        $('#error-'+field).text(error[field]);
                    }
                }
            }
        }).done(function(data) {
            reqComplete();
            if('url' in data) {
                window.location.replace(data['url']);
            } else {
                for(item in data['disambiguation']) {
                    var text = data['disambiguation'][item];
                    $('#disambiguationModal .list-group').append('<li class="list-group-item">'+text+'</li>');
                }
                {% trans "Looking for one of these researchers?" as plural_title %}
                {% trans "Looking for this researcher?" as singular_title %}
                if(data['disambiguation'].length == 1) {
                    $('#modal-matches-title').text('{{ singular_title|escapejs }}');
                } else {
                    $('#modal-matches-title').text('{{ plural_title|escapejs }}');
                }

                $('#disambiguationModal').modal();
                $('#forceButton').click(function() {
                    $('#forceInput').val('force');
                    lookUpColleague();
                });
            }
        });
}
{% endblock %}

{% block content %}
<div id="fullPage">
  <div id="welcome">
	<div id="institutionblock">
        <img id="institution" src="{% static "img/bird-front.png" %}" />
	</div>
	
    <h2>{% trans "Welcome to dissemin" %}</h2>
	
    <p>
    {% url 'faq' as faq_url %}
    {% blocktrans trimmed %}
    Dissemin helps researchers ensure that their publications are freely
    available to their readers. Our free service spots paywalled papers
    and lets you upload them in one click to <a href="http://zenodo.org" target="_blank">Zenodo</a>,
    an innovative repository backed by the EU.
    {% endblocktrans %}
    </p>
    
    <p>
    {% blocktrans trimmed %}
    Still unsure? Read below or check out the <a href="{{ faq_url }}">FAQ</a>.
    {% endblocktrans %}
    </p>
    
    <p class="startButton">
    <a href="{% url 'my-profile' %}" class="btn btn-lg btn-default">{% trans "Analyze my publications" %}</a>{% trans "or" context "Analyze my publications OR Look up my colleagues" %}<a href="#" id="lookupColleagueButton" class="btn btn-lg btn-default">{% trans "Look up a colleague" %}</a>
    </p>

    <div id="lookUpColleague" style="display: none">
        <form id="lookUpColleagueForm" action="javascript:lookUpColleague();" method="post">
            {% csrf_token %}
            <table>
            <tbody>
            <tr>
                <td></td><td id="globalError" class="formErrorDiv"></td>
            </tr>
            <tr>
                <td style="vertical-align: bottom; padding-bottom: 10px"><div class="researcherMethodLabel">by name</div></td>
            <td class="form-inline" id="nameGroup">
                <div class="form-group">
                    <div class="formErrorDiv" id="error-first"></div>
                    <label for="id_first" class="sr-only">{% trans "Firstname" %}</label>
                    <input type="text" name="first" id="id_first" class="form-control" placeholder="{% trans "Firstname" %}" />
                </div>
                <div class="form-group">
                    <div class="formErrorDiv" id="error-last"></div>
                    <label for="id_last" class="sr-only">{% trans "Lastname" %}</label>
                    <input type="text" name="last" id="id_last" class="form-control" placeholder="{% trans "Lastname" %}"/>
                </div>
            </td>
            </tr>
            <tr>
                <td><div class="researcherMethodLabel">or by ORCID</div></td>
            <td class="form-inline" id="orcidGroup">
                <div class="form-group">
                    <label for="id_orcid" class="sr-only">ORCID</label>
                    <input type="text" name="orcid" id="id_orcid" class="form-control" placeholder="{% trans "identifier (such as 0000-0001-2345-6789)" %}" />
                    <div class="formErrorDiv" id="error-orcid"></div>
                </div>
            </td>
            </tr>
            <tr><td></td><td>
                <div id="submitGroup">
                    <input type="hidden" name="force" id="forceInput" />
                    <input type="submit" class="btn btn-default" value="{% trans "Search" %}" />
                </div>
              </td>
            </tr>
            </tbody>
            </table>
        </form>
    </div>
  </div>
  
  <div id="disambiguationModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-matches-title"></h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
        </ul>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
          <button type="button" id="forceButton" class="btn btn-primary">{% trans "No, carry on" %}</button>
      </div>
    </div>
  </div>
  </div>
 	
  <div id="siteSummaries">
	
  <div class="oaPanel left">
    <h2>{% trans "Green open access" %}</h2> 

    <div id="statsExplanations">
        <p>
        {% blocktrans trimmed %}
        Many researchers do not use their right
        make their papers freely available online, in addition
        to the paywalled version offered by traditional publishers.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans trimmed %}
        This forces libraries to buy overpriced electronic subscriptions
        to journals, when they can afford them at all.
        {% endblocktrans %}
        </p>
      </div>

    <div id="globalStats">
        {% get_solo 'papers.PaperWorld' as world %}
        {% include "statistics/pie.html" with obj=world stats_counter=1 %}
    </div>
 
  </div>
	
  <div class="oaPanel right">
    
	<h2>{% trans "Open repositories" %}</h2>

    <p>
    {% blocktrans trimmed %}
    Uploading your papers on your own webpage is not enough.
    Such copies are less stable and harder to find than documents
    uploaded to well-indexed repositories.
    {% endblocktrans %} 
    </p>

    <p>
    {% blocktrans trimmed %}
    Dissemin searches for copies of your papers in a large collection
    of open repositories and tells you which ones cannot be accessed.
    {% endblocktrans %}
    </p>
  </div>
  
  </div>

</div>
{% endblock %}
