{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
Dissemin
{% endblock %}

{% block content %}
<div id="fullPage">
    <p>
    {% blocktrans %}
    There are currently {{ nb_researchers }} registered researchers,
from {{ nb_departments }} departments.
    {% endblocktrans %}
    </p>

    {% url 'search' as search_url %}
    <p>{% blocktrans %}
    See <a href="{{ search_url }}">all papers</a> or browse by department:
    {% endblocktrans %}
    </p>
<ul>
    {% for dept in departments %}
    <li><a href="{% url 'department' dept.id %}">{{ dept }}</a></li>
    {% endfor %}
</ul>

{% url 'publishers' as publishers_url %}
<p>{% blocktrans %}See also the <a href="{{ publishers_url }}">publishers list</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
