{% load domain %}
{% load i18n %}
{% load static %}
{{ researcher }}, 
{% if researcher.orcid %}
<span><a href="http://orcid.org/{{ researcher.orcid }}"><img src="{% static "img/orcid-small.png" %}" alt="ORCID" /> {{ researcher.orcid }}</a></span>
{% endif %}

{% if researcher.homepage %}
<span><span class="glyphicon glyphicon-home"></span> <a href="{{ researcher.homepage }}">{{ researcher.homepage|domain }}</a></span>
{% endif %}
<a href="{{ researcher.url }}" class="btn btn-success btn-sm confirmSuggestion">{% trans "Yes" %}</a>
