{% load domain %}
{% load i18n %}
{% load static %}
{% load orcid %}
<div class="truncateModal">
{{ profile.first }} {{ profile.last }}, 
<span>{{ profile.orcid|small_orcid }}.</span>
{% if profile.homepage %}
<span><span class="glyphicon glyphicon-home"></span> <a href="{{ profile.homepage }}">{{ profile.homepage|domain }}</a></span>
{% endif %}
{% if profile.keywords %}
<span>Topics: {{ profile.rendered_keywords }}</span>
{% endif %}
</div>
<div class="confirmSuggestion">
    <a href="{% url 'researcher-by-orcid' profile.orcid %}" class="btn btn-success btn-sm">{% trans "Yes" %}</div></a>

