{% extends "dissemin/details.html" %}

{% load author %}

{% block headTitle %}
{{ journal.title }}
{% endblock %}

{% block bodyTitle %}
{{ journal.title }}
{% endblock %}

{% block details %}
<p>Published by <a href="{% url 'publisher' journal.publisher.id %}">{{ journal.publisher }}</a></p>
{% if journal.issn %}
<p>ISSN: {{ journal.issn }}</p>
{% endif %}
{% endblock %}

{% block lists %}
<ul>
    {% for publi in journal.publication_set.all %}
     {% ifchanged publi.paper.year %}</ul>{{ publi.paper.year }}<ul>{% endifchanged %}
        <li>
        {% for a2 in publi.paper.author_set.all %}
             {{ a2|authorlink }}, 
        {% endfor %}
        <a href="{% url 'paper' publi.paper.id %}">{{ publi.paper.title }}</a></li>    
     {% empty %}
     <p>No publication found.</p>
     {% endfor %}
</ul>
{% endblock %}
