{% load doi %}
{% load i18n %}
{% load author %}
{% load statuses %}
{% for publi in paper.first_publications %}
{% if forloop.first %}
  <span class="detailsTitle">{% trans "Published in" %}</span>
  <div class="detailsContent">
{% endif %}
<p>{{ publi | publication }}</p>
{% if publi.doi %}
<p>DOI: <a href="{{ publi | doi_to_url }}">{{ publi.doi }}</a></p>
{% endif %}
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}

<span class="detailsTitle">{% trans "Links" %}</span>
<div class="detailsContent">
    {% include 'papers/paperSources.html' with paper=paper %}
</div>

<span class="detailsTitle">{% trans "Tools" %}</span>
<div class="detailsContent">
    <p><a href="{{ paper.google_scholar_link }}">{% trans "Search in Google Scholar" %}</a></p>
    <p><a href="{{ paper.core_link }}">{% trans "Search in CORE" %}</a></p>
</div>

{% if request.user.is_superuser %}
<span class="detailsTitle">{% trans "Admin zone" %}</span>
<div class="detailsContent">
    <p><strong>Visibility:</strong> {{ paper.visibility }}</p>
    <p><strong>Fingerprint:</strong> {{ paper.plain_fingerprint }}</p>
    <p><strong>Fingerprint:</strong> <a href="http://proaixy.dissem.in/oai?verb=ListRecords&metadataPrefix=oai_dc&set=proaixy:fingerprint:{{ paper.fingerprint }}">{{ paper.fingerprint }}</a></p>
    <p><strong>Clusters:</strong></p>
{% for a in paper.author_set.all %}
{% if a.cluster %}
<p>{{a}}: 
<a href="{% url 'paper' a.cluster.paper.pk %}">{{ a.cluster.paper }}</a>
({{a.cluster.num_children}} authors, score {{a.cluster.cluster_relevance}})
</p>
{% endif %}
{% endfor %}
<p><strong>Annotations:</strong>
<ul>
{% for annot in paper.annotation_set.all %}
    <li>{{ annot }}</li>
{% empty %}
None
{% endfor %}
</ul>
</p>
</div>
{% endif %}

