{% extends "dissemin/details.html" %}

{% load author %}
{% load doi %}

{% block headTitle %}
{{ paper.title }}
{% endblock %}

{% block bodyTitle %}
{{ paper.title }}
{% endblock %}

{% block lists %}
{% for author in paper.author_set.all %}{% if not forloop.first %},{% endif %}
{{ author | authorlink }}{% endfor %}
{% for publi in paper.publication_set.all %}
<p>{{ publi | publication }}
{% if publi.doi %}
    (<a href="{{ publi | doi_to_url }}">DOI</a>)
{% endif %}
</p>
{% endfor %}
{% for record in paper.oairecord_set.all %}
{% if forloop.first %}
<p>{{ record.description }}</p>
{% endif %}
{% endfor %}
{% endblock %}

{% block details %}
Data sources:
<ul>
{% for record in paper.oairecord_set.all %}
<li>{{ record.source }}, <a href="{{ record.url }}">{{ record.identifier }}</a></li>
{% endfor %}
{% for publi in paper.publication_set.all %}
    <li><a href="{{ publi | doi_to_url }}">{{ publi.publisher|default:"Publisher" }}</a> via DOI</li>
{% endfor %}
</ul>
{% endblock %}
