{% load i18n %}
{% load domain %}
{% load doi %}

{% for record in paper.sorted_oai_records %}
<p>
    {% if record.splash_url %}
        <a href="{{ record.splash_url }}">
	{% endif %}
    {% if record.priority > 0 %}
        {{ record.source }}
    {% else %}
        {% if record.splash_url %}
            [{{ record.splash_url |domain }}]
        {% elif record.pdf_url %}
            [{{ record.pdf_url |domain }}]
        {% endif %}
    {% endif %}
    {% if record.splash_url %}<img src="/static/extlink.png" /></a>{% if record.pdf_url %} | {% endif %}
	{% endif %}
    {% if record.pdf_url %}
    <a href="{{ record.pdf_url }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-save"></span> PDF</a>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="http://doai.dissem.in/oai?verb=GetRecord&metadataPrefix=base_dc&identifier={{ record.identifier }}">Metadata</a>
    {% endif %}
</p>
{% endfor %}

{% for publi in paper.first_publications %}
<p><a href="{{ publi | doi_to_url }}">{{ publi.publisher|default:publi.publisher_name }} <img src="/static/extlink.png" /></a> 
 {% if publi.pdf_url %}
    | <a href="{{ publi.pdf_url }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-save"></span> PDF</a>
    {% endif %}</p>

{% endfor %}

