{% load i18n %}
{% load domain %}
{% load doi %}

{% for record in paper.sorted_oai_records %}
<li>
    {% if record.splash_url %}
        <a class="showHrefPrint" href="{{ record.splash_url }}">
	{% endif %}
    {% if record.priority > 0 %}
        {{ record.source_or_publisher }}
    {% else %}
        {% if record.splash_url %}
            [{{ record.splash_url |domain }}]
        {% elif record.pdf_url %}
            [{{ record.pdf_url |domain }}]
        {% endif %}
    {% endif %}
    {% if record.splash_url %}<img src="/static/extlink.png" alt="[^]" /></a>{% if record.pdf_url %} | {% endif %}
	{% endif %}
    {% if record.pdf_url %}
    <a class="showHrefPrint" href="{{ record.pdf_url }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-save"></span> PDF</a>
    {% endif %}
</li>
{% endfor %}

