{% extends "dissemin/details.html" %}

{% load author %}
{% load doi %}

{% block headTitle %}
{{ paper.title }}
{% endblock %}

{% block bodyTitle %}
{{ paper.title }}
{% endblock %}

{% block lists %}
<ul>
{% for author in paper.author_set.all %}
    <li>{{ author | authorlink }}</li>
{% endfor %}
</ul>
<p>{{ paper.year }}</p>
{% for publi in paper.publication_set.all %}
<p>{{ publi }}</p>
{% endfor %}
{% endblock %}

{% block details %}
Data sources:
<ul>
{% for record in paper.oairecord_set.all %}
<li>{{ record.source }}, <a href="{{ record.url }}">{{ record.identifier }}</a></li>
{% endfor %}
{% for record in paper.doirecord_set.all %}
    <li>DOI: <a href="{{ record | doi_to_url }}">{{ record.doi }}</a></li>
{% endfor %}
</ul>
{% endblock %}
