{% load bootstrap_pagination %}
{% load i18n %}
{% load static %}

<h1 class="border-bottom pb-3">{{ search_description }}</h1>

{% if page_obj.paginator.num_pages > 1 %}
    <nav class="searchPages pt-2">{% bootstrap_paginate page_obj range=10 extra_pagination_classes="justify-content-center"%}</nav>
{% endif %}

{% comment %}
    We simply run over the results and put them out.
{% endcomment %}

{% for result in object_list %}
    {% with paper=result.object %}
        {% ifchanged paper.year %}
            <div class="container-fluid border-top p-0">
                <h2 class="text-right">{{ paper.year }}</h2>
            </div>
        {% endifchanged %}
            <div class="row pb-4">
                <div class="col-2 border-right border-tertiary">
                    {% with status_image='img/status_'|add:paper.combined_status_as_color|add:'.png' %}
                        <img data-toggle="tooltip" title="{{ paper.status_helptext }}" data-placement="bottom" class="img-fluid" alt="{{ paper.status_helptext }}" src="{% static status_image %}"/>
                    {% endwith %}
                </div>
                <div class="col-10">
                    {% include 'papers/author_list.html' with author_list=paper.displayed_authors %}
                    {% if paper.has_many_authors %}
                        {% blocktrans trimmed with remaining_authors=paper.nb_remaining_authors %}
                            and {{ remaining_authors }} other authors
                        {% endblocktrans %}
                    {% endif %}
                    <h5 class="card-title">{{ paper.title }}</h5>
                </div>
        </div>
    {% endwith %}
{% endfor %}


