{% load doi %}
{% load i18n %}
{% load author %}
{% load citation %}
{% load statuses %}
{% load capture_tags %}

{% for publi in paper.first_publications %}
{% if forloop.first %}
  <h3 class="detailsTitle">{% trans "Published in" %}</h3>
  <div class="detailsContent">
{% endif %}
<p>{{ publi | publication }}</p>
{% if publi.doi %}
<p>DOI: <a href="{{ publi | doi_to_url }}">{{ publi.doi }}</a></p>
{% endif %}
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}

<h3 class="detailsTitle">{% trans "Links" %}</h3>
<ul class="detailsContent">
    {% include 'papers/paperSources.html' with paper=paper %}
</ul>

<!-- Export citation modal -->
{% capture as citation_url silent %}
    {% url 'api-paper-pk' pk=paper.id %}?format=bibtex
{% endcapture %}
{% capture as citation_slug silent %}
    {{ paper.slug }}.bib
{% endcapture %}
{% include 'papers/exportCitationsModal.html' with slug=citation_slug url=citation_url bibtex=paper|bibtex %}

<h3 class="detailsTitle hidden-print">{% trans "Tools" %}</h3>
<ul class="detailsContent hidden-print">
    <li><a href="#" data-toggle="modal" data-target="#exportCitationModal">{% trans "Export citation" %}</a></li>
    {% with paper.get_doi as doi %}
    <li><a href="{{ paper.google_scholar_link }}">{% trans "Search in Google Scholar" %} <img src="/static/extlink.png" alt="[^]"></a></li>
    {% if doi and not paper.pdf_url %}
    <li><a href="https://openaccessbutton.org/request?doi={{ doi }}">{% trans "Request with the Open Access Button" %}</a></li>
    {% endif %}
    {% endwith %}
</ul>

{% if request.user.is_superuser %}
<h3 class="detailsTitle">{% trans "Admin zone" %}</h3>
<div class="detailsContent">
    <p><strong>Fingerprint:</strong> {{ paper.plain_fingerprint }}</p>
    <p><strong>Fingerprint:</strong> {{ paper.fingerprint }}</p>
</div>
{% endif %}

