{% load i18n %}
{% load static %}
{% load statuses %}

<div class="container">
    <!-- Preprint -->
    <div class="row border-top border-gray-5 py-2">
        <div class="col-auto pr-0">
            {% include "publishers/policy_img.html" with policy=publisher.preprint %}
        </div>
        <div class="col">
            {% include "publishers/policy_preprint.html" %}
        </div>
        {% if publisher.preprint != "cannot" %}
            <div class="col-auto">
                <a href="{% url 'upload_paper' paper.pk %}?type=preprint" class="btn btn-primary btn-sm"><span class="oi oi-data-transfer-upload" aria-hidden="true"></span> {% trans "Upload" %}</a>
            </div>
        {% endif %}
    </div>

    <!-- Postprint -->
    <div class="row border-top border-gray-5 py-2">
        <div class="col-auto pr-0">
            {% include "publishers/policy_img.html" with policy=publisher.postprint %}
        </div>
        <div class="col">
            {% include "publishers/policy_postprint.html" %}
        </div>
        {% if publisher.postprint != "cannot" %}
            <div class="col-auto">
                <a href="{% url 'upload_paper' paper.pk %}?type=postprint" class="btn btn-primary btn-sm"><span class="oi oi-data-transfer-upload" aria-hidden="true"></span> {% trans "Upload" %}</a>
            </div>
        {% endif %}
    </div>

    <!-- Published version -->
    <div class="row border-top border-bottom border-gray-5 py-2">
        <div class="col-auto pr-0">
            {% include "publishers/policy_img.html" with policy=publisher.pdfversion %}
        </div>
        <div class="col">
            {% include "publishers/policy_pdfversion.html" %}
        </div>
        {% if publisher.pdfversion != "cannot" %}
            <div class="col-auto">
                <a href="{% url 'upload_paper' paper.pk %}?type=pdfversion" class="btn btn-primary btn-sm"><span class="oi oi-data-transfer-upload" aria-hidden="true"></span> {% trans "Upload" %}</a>
            </div>
        {% endif %}
    </div>

    <!-- If publisher is known, include publisher link + sherpa / romeo acknowledgement -->
    {% if publisher.pk %}
        <div class="row border-top border-bottom-2 border-gray-5 py-1">
            <div class="col-auto mr-auto">
                <a href="{% url "publisher" publisher.pk publisher.slug %}" target="_blank">{% trans "Policy details" %}</a> ({% trans "opens in a new window" %})
            </div>
            <div class="col-auto">
                Data provided by <a href="http://www.sherpa.ac.uk/romeo/"><img src="{% static "img/sherpa-romeo.gif" %}" alt="SHERPA/RoMEO" style="max-height: 1.5rem;" /></a>
            </div>
        </div>
    {% endif %}
</div>
