{% load author %}
<div class="pubLogo">
    {% if paper.oa_status = "OA" %}
    <div class="pubLogoPic-OA"><a href="{{ paper.pdf_url }}" class="filldiv"></a></div>
    {% elif paper.pdf_url %}
    <div class="pubLogoPic-PDF"><a href="{{ paper.pdf_url }}" class="filldiv"></a></div>
    {% else %}
    <div class="pubLogoPic-{{ paper.oa_status }}"></div>
    {% endif %}</div>
<div class="pubText"><span class="paperAuthors">
{% for a2 in paper.author_set.all %}{% if not forloop.first %},{% endif %}
{% if a2.name.is_known and a2.name.researcher.id = researcher_id %}
<strong>{{ a2 }}</strong>{% else %}
{{ a2|authorlink }}{% endif %}{% endfor %}</span><br />
<span class="paperTitle"><a href="{% url 'paper' paper.id %}">{{ paper.title }}</a>
{% if request.user.is_superuser %}
<button type="button" class="close paperDeleteButton" id="delete-paper-{{ paper.pk }}"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
{% endif %}
</span><br />
{% for publi in paper.publication_set.all %}
<span class="pubRef">{{ publi | publication }}{% if forloop.last %}.{% else %},{% endif %}</span><br />
{% empty %}
{% for record in paper.oairecord_set.all %}
{{ record.source.name }}{% if forloop.last %}.{% else %},{% endif %}
{% endfor %}
{% endfor %}
</div>
