{% extends "dissemin/details.html" %}

{% load author %}
{% load i18n %}
{% load statuses %}
{% load bootstrap_pagination %}

{% block headTitle %}
{{ publisher.name }}
{% endblock %}

{% block bodyTitle %}
{{ publisher.name }}
{% endblock %}

{% block details %}
<span class="detailsTitle">{% trans "Publisher" %}</span>
<div class="detailsContent">
<p>{{ publisher.name }}</p>
{% if publisher.url %}
<p><a href="{{ publisher.url }}">{% trans "Homepage" %}</a></p>
{% endif %}
<div class="unselectedCriterion">
    <div class="pubLogo"><div class="pubLogoPic-{{ publisher.oa_status }}"></div></div>
    <div class="criterionItem">{{ publisher.oa_status |explain_oa_status }}</div>
</div>
</div>
{% endblock %}

{% block lists %}
<p>{% blocktrans with name=publisher.name count=publisher.publi_count %}
  {{ name }} has published {{ count }} productions authored by researchers from ENS.
   {% endblocktrans %}
</p>
<p>{% blocktrans with policy=publisher.preprint %}
   Preprint policy: {{ policy }}
   {% endblocktrans %}
</p>
<ul>
{% for restriction in publisher.preprint_conditions %}
    <li>{{ restriction|striptags }}</li>
{% endfor %}
</ul>
<p>
  {% blocktrans with policy=publisher.postprint %}
   Postprint policy: {{ policy }}
  {% endblocktrans %}
</p>
<ul>
{% for restriction in publisher.postprint_conditions %}
    <li>{{ restriction|striptags }}</li>
{% endfor %}
</ul>
<p>
   {% blocktrans with policy=publisher.pdfversion %}
    Published version policy: {{ policy }}
   {% endblocktrans %}
</p>
<ul>
{% for restriction in publisher.pdfversion_conditions %}
    <li>{{ restriction|striptags }}</li>
{% endfor %}
</ul>
<h4>{% trans "Conditions" %}</h4>
<ul>
{% for condition in publisher.publishercondition_set.all %}
    <li>{{ condition|striptags }}</li>
{% endfor %}
</ul>
<h4>{% trans "Policy details" %}</h4>
<ul>
    {% for link in publisher.publishercopyrightlink_set.all %}
        <li><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}
</ul>
<p>{% trans "Source:" %} <a href="http://www.sherpa.ac.uk/romeo">SHERPA/RoMEO</a>.</p>
<h4>{% trans "Journals in which researchers have authored papers" %}</h4>
{% if search_results.paginator.num_pages > 1 %}
 <div class="searchPages">{% bootstrap_paginate journals range=10 %}</div>
 {% endif %}
<ul>
    {% for journal in journals %}
        <li><a href="{% url 'journal' journal.id %}">{{ journal }}</a></li>
    {% empty %}
    <p>{% trans "None." %}</p>
    {% endfor %}
</ul>
{% endblock %}
