{% load author %}
{% load i18n %}
{% load cache %}
{% cache 60000 publiListItem paper.pk researcher_id %}

<div class="pubLogo logoHelpPopover" data-content="{{ paper.status_helptext }}" rel="popover"
    data-placement="bottom">
    {% if paper.pdf_url %}<img src="/static/symbol-PDF-{{ paper.oa_status }}.png" width="52" height="70" />
    {% else %}<img src="/static/symbol-{{ paper.oa_status }}.png" width="52" height="70" />{% endif %}
</div>

<div class="pubText">
    <p class="paperAuthors">
        {% include "papers/authorList.html" with author_list=paper.displayed_authors %}
        {% if paper.has_many_authors %}
            {% blocktrans trimmed with remaining_authors=paper.nb_remaining_authors %}
            and {{ remaining_authors }} other authors
            {% endblocktrans %}
        {% endif %}
    </p>
    <p class="paperTitle">
    <a href="{% url 'paper' paper.id %}" class="paperItemTitle" data-pk="{{ paper.id }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{% autoescape off %}{{ paper.title }}{% endautoescape %}</a>
    </p>
    
    <p class="pubRef">
        {% if paper.pdf_url %}
        <a href="{{ paper.pdf_url }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save"></span> {% trans "Download" %}</a> |
        {% else %}
        <a href="{% url 'upload_paper' paper.pk %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-open"></span> {% trans "Upload" %}</a> | 
        {% endif %}

        {% for publi in paper.publication_set.all %}
            {{ publi | publication }}{% if forloop.last %}.{% else %},{% endif %}<br />
        {% empty %}
            {% for record in paper.prioritary_oai_records %}
                {% if record.splash_url %}<a href="{{ record.splash_url }}">{% endif %}{{ record.source.name }}{% if record.pdf_url == None %}{% trans " (metadata only)" %}{% endif %}{% if record.splash_url %} <img src="/static/extlink.png"/></a>{% endif %}{% if forloop.last %}.{% else %},{% endif %}
            {% endfor %}
            <br />
         {% endfor %}
    </p>
    
</div>
{% endcache %}
