{% extends "papers/search_base.html" %}

{% load domain %}
{% load i18n %}
{% load orcid %}
{% load static %}

{% block additional_information %}
    <h3 class="h-border">{% trans 'Researcher' %}</h3>

    <p class="font-weight-bold">{{ researcher }}</p>

    {% if not request.user.is_authenticated and not researcher.orcid %}
        <p><a class="btn btn-primary" href="{% url 'my-profile' %}"><img class="orcidInlineBadge" src="{% static "dissemin/img/orcid-big.png" %}" alt="ORCID" /> {% trans 'Is it you?' %}</a></p>
    {% endif %}

    {% if researcher.role %}
        <p>{{ researcher.role }}</p>
    {% endif %}

    {% if researcher.homepage %}
        <p><span class="oi oi-home" aria-hidden="true"> <a href="{{ researcher.homepage }}" target="_blank">{{ researcher.homepage|domain }}</a></span></p>
    {% endif %}

    {% if researcher.orcid %}
        <p><a href="{{ researcher.orcid|orcid_to_url }}" target="_blank" data-toggle="tooltip" title="{% blocktrans with first_name=researcher.name.first last_name=researcher.name.last %} {{ first_name }} {{ last_name }} uses ORCID.{% endblocktrans %}"><img class="orcidInlineBadge" src="{% static "dissemin/img/orcid-big.png" %}" alt="ORCID" /> {{ researcher.orcid }}</a></p>
    {% endif %}

    {% if researcher.institution %}
        <p><span class="oi oi-star"></span> {{ researcher.institution }}</p>
    {% endif %}

    {% if researcher.department %}
        <p><span class="oi oi-sun"></span> {{ researcher.department }}</p>
    {% endif %}

    {% if researcher.user == request.user or request.user.is_superuser %}
        <p><button type="button" class="btn btn-tertiary" id="refetchPublications" data-researcher-pk="{{ researcher.pk }}" onClick="$(this).submit()">{% trans "Refresh Publications" %}</button></p>
    {% endif %}

    {% if request.user.is_superuser and researcher.email %}
        <p><{% trans "Address:" %} {{ researcher.email }}</p>
    {% endif %}
{% endblock additional_information %}

{% block ajax_url %}{% url 'researcher' researcher.pk researcher.slug %}{% endblock ajax_url %}

{% block missing_publications %}
    <p class="text-center h4 text-gray-6">
        {% with researcher.matching_papers_url as matching_papers_url %}
            {% blocktrans trimmed %}
                Missing publications? <a href="{{ matching_papers_url }}">Search for publications with a matching author name.</a>
            {% endblocktrans %}
        {% endwith %}
    </p>
{% endblock missing_publications %}
