{% extends "dissemin/details.html" %}

{% load author %}
{% load staticfiles %}

{% block headTitle %}
{{ researcher.name }}
{% endblock %}

{% block bodyTitle %}
{{ researcher.name }}
{% endblock %}

{% block details %}
<p><a href="{% url 'department' researcher.department.id %}">{{ researcher.department }}</a></p>
<p>Member of: {% for team in researcher.groups.all %} <a href="{% url 'group' team.id %}">{{ team.name }}</a> {% endfor %}</p> 
{% endblock %}

{% block lists %}
 {% for author in researcher.authors_by_year.all %}
 {% ifchanged author.paper.year %}
 {% if not forloop.first %}</ul></div>{% endif %}
    <div class="ulContainer">
    <div class="listYear">{{ author.paper.year }}</div><ul>
 {% endifchanged %}
    <li>
        {% include "papers/publiListItem.html" with paper=author.paper researcher_id=researcher.id %}
</li>    
        {% if forloop.last %}</ul></div>{% endif %}
 {% empty %}
 <p>No production found.</p>
 {% endfor %}
{% endblock %}
