{% extends "dissemin/details.html" %}

{% load author %}
{% load staticfiles %}

{% block headTitle %}
{{ researcher.name }}
{% endblock %}

{% block bodyTitle %}
{{ researcher.name }}
{% endblock %}

{% block details %}
<p><a href="{% url 'department' researcher.department.id %}">{{ researcher.department }}</a></p>
<p>Member of: {% for team in researcher.groups.all %} <a href="{% url 'group' team.id %}">{{ team.name }}</a> {% endfor %}</p> 
{% endblock %}

{% block lists %}
 {% for author in researcher.authors_by_year.all %}
 {% ifchanged author.paper.year %}
 {% if not forloop.first %}</ul></div>{% endif %}
    <div class="ulContainer">
    <div class="listYear">{{ author.paper.year }}</div><ul>
 {% endifchanged %}
    <li>
        <div class="pubLogo"><p><div class="pubLogoPic-{{ author.paper.oa_status }}"></div></p></div>
        <div class="pubText"><span class="paperAuthors">
    {% for a2 in author.paper.author_set.all %}{% if not forloop.first %},{% endif %}
        {% if a2.name.is_known and a2.name.researcher.id = researcher.id %}
        <strong>{{ a2 }}</strong>{% else %}
        {{ a2|authorlink }}{% endif %}{% endfor %}</span><br />
        <span class="paperTitle"><a href="{% url 'paper' author.paper.id %}">{{ author.paper.title }}</a></span><br />
    {% for publi in author.paper.publication_set.all %}
    <span class="pubRef">{{ publi | publication }}</span><br />
    {% endfor %}
        </div></li>    
        {% if forloop.last %}</ul></div>{% endif %}
 {% empty %}
 <p>No production found.</p>
 {% endfor %}
{% endblock %}
