{% load i18n %}
{% load static %}

{% load statuses %}
{% load widget_tweaks %}
{% load capture_tags %}

    <div class="form-group" id="searchPapersName">
        <label>{% trans "By title" %}</label>
        {{ form.q.errors }}
        {% render_field form.q class="form-control" %}
    </div>
    <div class="form-group" id="searchAuthorsName">
        <label for="{{ form.authors.id_for_label }}">
            <label for="{{ form.authors.id_for_label }}">
                {% if researcher %}
                    {% trans "By co-authors" %}
                {% else %}
                    {% trans "By authors" %}
                {% endif %}
            </label>&nbsp;<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" data-html="true"  title="{% trans "<ul><li>Use author names or ORCID identifiers.</li><li>Use commas to force different names separation.</li><li>Prefix with <code>last:</code> to enforce last name search.</li></ul>" %}" tabindex="0"></span>
        </label>
        {{ form.authors.errors }}
        {% render_field form.authors class="form-control" %}
    </div>
    <div class="form-horizontal">
        <label>{% trans "By publication date" %}</label>
        <div class="form-group" id="searchPaperPubDateAfter">
            {{ form.pub_after.errors }}
            <label class="col-xs-2 col-sm-3 control-label tightLabel" for="{{ form.pub_after.id_for_label }}">{% trans "after" %}</label>
            <div class="col-xs-10 col-sm-9 tightInput">
                {% render_field form.pub_after class="form-control" %}
            </div>
        </div>
        <div class="form-group" id="searchPaperPubDateBefore">
            {{ form.pub_before.errors }}
            <label class="col-xs-2 col-sm-3 control-label tightLabel" for="{{ form.pub_before.id_for_label }}">{% trans "before" %}</label>
            <div class="col-xs-10 col-sm-9 tightInput">
                {% render_field form.pub_before class="form-control" %}
            </div>
        </div>
    </div>
    <div class="form-group" id="searchPapersDoctype">
        <label>{% trans "By document type" %}</label>
        {{ form.doctypes.errors }}
        <ul class="compactList">
            {% for checkbox in form.doctypes %}
            <li class="checkbox">
                <label class="doctype">
                    {{ checkbox.tag }}
                    {{ checkbox.choice_label }}
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if request.user.is_superuser %}
    <div class="form-group" id="searchPapersVisibility">
        <label for="{{ form.visible.id_for_label }}">{% trans "By visibility" %}</label>
        {{ form.visible.errors }}
        {% render_field form.visible class="form-control" %}
    </div>
    <div class="form-group" id="searchPapersPDFAvailability">
        <label for="{{ form.availability.id_for_label }}">{% trans "By full text availability" %}</label>
        {{ form.availability.errors }}
        {% render_field form.availability class="form-control" %}
    </div>
    <div class="form-group" id="searchPapersOAStatus">
        {{ form.oa_status.errors }}
        <label for="{{ form.oa_status.id_for_label }}">{% trans "By publisher policy" %}</label>
        {% for checkbox in form.oa_status %}
        {% with value=checkbox.data.value %}
        <div class="logoHelpPopover" data-content="{{ value|helptext_oa_status }}">
        <div class="checkbox publisherCriterion">
            {{ checkbox.tag }}
            <div class="publisherCriterionBox">
            <label for="{{ checkbox.id_for_label }}">
                <img alt="" src="{% static value|logo_oa_status %}" height="70px" width="52px" class="pubLogo publisherCriterionLogo">
                <span class="criterionItem">{{ checkbox.choice_label }}</span>
            </label>
            </div>
        </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;{% trans "Search" %}
        </button>
    </div>
