{% extends "base.html" %}

{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{{ search_description_title }}{% endblock %}

{% block content %}
    {% include 'breadcrumbs.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <h3 class="border-bottom">{% trans "Statistics" %}</h3>
                <p>
                    {% blocktrans trimmed with formattedCounter=nb_results|intcomma count counter=nb_results|default:0 %}
                        {{ formattedCounter }} paper found
                        {% plural %}
                        {{ formattedCounter }} papers found
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-12 col-md-9 order-md-first">
                spam
            </div>
        </div>
    </div>
{% endblock content %}
