{% extends "dissemin/details.html" %}

{% load staticfiles %}
{% load bootstrap_pagination %}

{% block headTitle %}
{{ search_description }}
{% endblock %}

{% block bodyTitle %}
{{ search_description }}
{% endblock %}

{% block details %}
{% if researcher %}
    <span class="detailsTitle">{{ researcher }}</span>
    <div class="detailsContent">
        <p><a href="{% url 'department' researcher.department.id %}">{{ researcher.department }}</a></p>
        <p>Member of: {% for team in researcher.groups.all %}
        <a href="{% url 'group' team.id %}">{{ team.name }}</a> {% endfor %}</p> 
    </div>
{% endif %}
{% if journal %}
    <span class="detailsTitle">{{ journal }}</span>
    <div class="detailsContent">
        <p>Published by <a href="{% url 'publisher' journal.publisher.id %}">{{ journal.publisher }}</a></p>
        {% if journal.issn %}
        <p>ISSN: {{ journal.issn }}</p>
        {% endif %}
    </div>
{% endif %}

<span class="detailsTitle">Refine search</span>
<div class="detailsContent">
<p>{{ nb_results }} papers found</p>
<h5>Publisher policy:</h5>
<ul>
    {% for st in oa_status_choices %}
    <li>
        {% if st.0 == status %}
            <strong>{{ st.1 }}</strong>
            <a href="{% url 'search' %}?{{ st.2.urlencode }}">[x]</a>
        {% else %}
            <a href="{% url 'search' %}?{{ st.2.urlencode }}">{{ st.1 }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h5>Full text availability:</h5>
<ul>
    {% for st in pdf_status_choices %}
    <li>
        {% if st.0 == pdf %}
            <strong>{{ st.1 }}</strong>
            <a href="{% url 'search' %}?{{ st.2.urlencode }}">[x]</a>
        {% else %}
            <a href="{% url 'search' %}?{{ st.2.urlencode }}">{{ st.1 }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}

{% block lists %}
 {% bootstrap_paginate search_results range=10 %}
 {% for paper in search_results %}
 {% ifchanged paper.year %}
 {% if not forloop.first %}</ul></div>{% endif %}
    <div class="ulContainer">
    <div class="listYear">{{ paper.year }}</div><ul>
 {% endifchanged %}
    <li>
        {% include "papers/publiListItem.html" with paper=paper %}
</li>    
        {% if forloop.last %}</ul></div>{% endif %}
 {% empty %}
 <p>No production found.</p>
 {% endfor %}
{% endblock %}
