{% extends "base.html" %}

{% load domain %}
{% load humanize %}
{% load i18n %}
{% load orcid %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ search_description_title }}{% endblock %}

{% block scripts %}
    <script src="{% static 'js/d3.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'breadcrumbs.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 pb-3">

                <!-- Researcher -->
                {% if researcher %}
                    <h3 class="border-bottom">{% trans 'Researcher' %}</h3>

                    <p class="font-weight-bold">{{ researcher }}</p>

                    {% if not request.user.is_authenticated and not researcher.orcid %}
                        <p><a class="btn btn-primary" href="{% url 'my-profile' %}"><img class="orcidInlineBadge" src="{% static "dissemin/img/orcid-big.png" %}" alt="ORCID" /> {% trans 'Is it you?' %}</a></p>
                    {% endif %}

                    {% if researcher.role %}
                        <p>{{ researcher.role }}</p>
                    {% endif %}

                    {% if researcher.homepage %}
                        <p><span class="oi oi-home" aria-hidden="true"> <a href="{{ researcher.homepage }}" target="_blank">{{ researcher.homepage|domain }}</a></span></p>
                    {% endif %}

                    {% if researcher.orcid %}
                        <p><a href="{{ researcher.orcid|orcid_to_url }}" target="_blank" data-toggle="tooltip" title="{% blocktrans with first_name=researcher.name.first last_name=researcher.name.last %} {{ first_name }} {{ last_name }} uses ORCID.{% endblocktrans %}"><img class="orcidInlineBadge" src="{% static "dissemin/img/orcid-big.png" %}" als="ORCID" /> {{ researcher.orcid }}</a></p>
                    {% endif %}

                    {% if researcher.institution %}
                        <p><span class="oi oi-star"></span> {{ researcher.institution }}</p>
                    {% endif %}

                    {% if researcher.department %}
                        <p><span class="oi oi-sun"></span> <a href="{{ researcher.department.url }}">{{ researcher.department }}</a></p>
                    {% endif %}

                    {% if researcher.user == request.user or request.user.is_superuser %}
                        <p><button type="button" class="btn btn-tertiary" id="refetchPublications" data-researcher-pk="{{ researcher.pk }}" onClick="$(this).submit()">{% trans "Refresh Publications" %}</button></p>
                    {% endif %}

                    {% if request.user.is_superuser and researcher.email %}
                        <p><{% trans "Address:" %} {{ researcher.email }}</p>
                    {% endif %}

                {% endif %}

                <!-- Statistics -->
                <h3 class="border-bottom">{% trans "Statistics" %}</h3>
                <p id="nbPapersFound">
                    {% blocktrans trimmed with formattedCounter=nb_results|intcomma count counter=nb_results|default:0 %}
                        {{ formattedCounter }} paper found
                        {% plural %}
                        {{ formattedCounter }} papers found
                    {% endblocktrans %}
                </p>
                <form method="get" action="." id="searchPapers" onChange="$(this).submit()">
                    <div class="form-group" id="searchPaperCombinedStatus">
                        {% with combined_status_form=True %}
                            {% with combined_status=form.status %}
                                {% include "statistics/pie_chart_legend.html" with stats=search_stats object_id=researcher.object_id stats_counter=1 %}
                            {% endwith %}
                        {% endwith %}
                    </div>


                    <!-- Refine -->
                    <h3 class="border-bottom">{% trans "Refine" %}</h3>

                    <!-- Title -->
                    <div class="form-group">
                        <label for="{{ form.q.id_for_label }}"><strong>{% trans "By title" %}</strong></label>
                        {% render_field form.q class="form-control" %}
                    </div>

                    <!-- Authors -->
                    <div class="form-group">
                        <label for="{{ form.authors.id_for_label }}">
                            <strong>
                                {% if researcher %}
                                    {% trans "By co-authors" %}
                                {% else %}
                                    {% trans "By authors" %}
                                {% endif %}
                            </strong>
                        </label>
                            {% render_field form.authors class="form-control" %}
                    </div>

                    <!-- Publication date -->

                    <label><strong>{% trans "By publication date" %}</strong></label>
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="{{ form.pub_after.id_for_label }}">{% trans "after" %}</label>
                        <div class="col-10">
                            {% render_field form.pub_after class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group row" id="searchPaperPubDateBefore">
                        <label class="col-2 col-form-label" for="{{ form.pub_before.id_for_label }}">{% trans "before" %}</label>
                        <div class="col-10">
                            {% render_field form.pub_before class="form-control" %}
                        </div>
                    </div>

                    <!-- Document type -->
                    <div class="form-group">
                        <label><strong>{% trans "By document type" %}</strong></label>
                        <div>
                            {% comment %}
                                There are currently 13 doctypes, we place 7 in first column, then 6 in second. This is not really save on changing the number of doctypes.
                            {% endcomment %}
                            <div class="row">
                                {% for checkbox in form.doctypes %}
                                    {% if forloop.first or forloop.counter0 == 7 %}
                                        <div class="col 12 col-md-6">
                                    {% endif %}
                                        <div class="form-check">
                                            {{ checkbox.tag }}
                                            <label class="form-check-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                                        </div>
                                    {% if forloop.counter0 == 6 or forloop.last %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Sort by -->
                    <div class="form-group">
                        <label><strong>{% trans 'Sort by' %}</strong></label>
                        {% for radioitem in form.sort_by %}
                            <div class="form-check">
                                {{ radioitem.tag }}
                                <label class="form-check-label" for="{{ radioitem.id_for_label }}">{{ radioitem.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>

                    {% comment %}
                        Fields for super user only. We do not care to much about look and feel, since this is not public.
                    {% endcomment %}

                    {% if request.user.is_superuser %}
                        <h4 class="border-bottom">{% trans 'Refine for superusers' %}</h4>
                        <div class="form-group">
                            <label for="{{ form.visible.id_for_label }}">{% trans "By visibility" %}</label>
                            {% render_field form.visible class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.availability.id_for_label }}">{% trans "By full text availability" %}</label>
                        {% render_field form.availability class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label>{% trans "By publisher policy" %}</label>
                            {% for checkbox in form.oa_status %}
                                <div class="form-check">
                                    {{ checkbox.tag }}
                                    {{ checkbox.choice_label }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </form>

                <!-- Tools -->
                <h3 class="border-bottom">{% trans "Tools" %}</h3>

                <!-- Export as citations -->
                <p><a href="#" data-toggle="modal" data-target="#exportCitationModal">{% trans "Export citations for current page" %}</a></p>
            </div>

            <!-- Content for results -->
            <div class="col-12 col-md-8 order-md-first">
                <h2 class="border-bottom pb-3">{{ search_description }}</h2>

                <div class="justify-content-center d-none" id="paperSearchWaitingArea">
                    <div>
                        <img class="rounded-circle bg-secondary m-2" style="max-height: 8rem;" src ="{% static 'img/animated-bird.gif' %}" alt="{% trans 'Paper animated bird' %}" />
                        <p class="text-center font-italic">{% trans 'Refreshing results' %}…</p>
                    </div>
                </div>

                <div id="searchNotifications">
                    {% include "papers/messages.html" %}
                </div>

                <div id="paperSearchResults">
                    {% include "papers/paper_list.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
