{% extends "base.html" %}

{% load humanize %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ search_description_title }}{% endblock %}

{% block scripts %}
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'papers/refresh.js' %}"></script>
    <script>
    // Setting variables for called functions
    var csrf_token = '{{csrf_token}}';
    {% if view == 'my-todolist' %}
        var todolist_fadeout = true
    {% endif %}

    // Function handels claiming and unclaiming
    function claim_unclaim (evt) {
        var obj = $(evt.target);
        var pk = obj.attr("data-pk");
        var action = obj.attr("data-action");
        if (action != "claim" && action != "unclaim") {
            // action currently ongoing
            return;
        }
        var my_url = "";
        if (action == "claim") {
            obj.text("{% trans "Claiming..." %}");
            my_url = "{% url "ajax-claimPaper" %}";
        }
        else {
            obj.text("{% trans "Unclaiming..." %}");
            my_url = "{% url "ajax-unclaimPaper" %}";
        }
        obj.toggleClass("disabled");
        $.ajax({
            method: "post",
            url: my_url,
            data: {"pk": pk,
            "csrfmiddlewaretoken": '{{csrf_token}}'},
            cache: false,
            success: function (data) {
                if (action == "claim") {
                    obj.text("{% trans "Exclude from my profile" %}");
                    obj.attr("data-action", "unclaim");
                }
                else {
                    obj.text("{% trans "Include in my profile" %}");
                    obj.attr("data-action", "claim");
                    {% if user_researcher == researcher %}
                        // user_researcher is only defined on profile in which case it is equal to the researcher of the currently logged in user; if it is the profile currently being viewed, we must remove the paper entirely
                        $("#paper-" + pk).fadeOut(300, function() { $(this).remove(); });
                    {% endif %}
                }
                obj.toggleClass("claim-button");
                obj.toggleClass("unclaim-button");
                obj.toggleClass("disabled");
            },
            error: function(data) {
                if (action == "claim") {
                    obj.text("{% trans "Claiming failed!" %}");
                }
                else {
                    obj.text("{% trans "Unclaiming failed!" %}");
                }
                obj.toggleClass("disabled");
            }
        });
    }

    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
        // Trigger onChange events on the date pickers
        $('#id_pub_after').on('dp.change', function (ev) {
            $('#searchPapers').change();
        });
        $('#id_pub_before').on('dp.change', function (ev) {
            $('#searchPapers').change();
        });

        add_claim_mark_handlers();

        var config = {
            refreshURL: "{{ ajax_url }}",
            refreshMessage: "{% trans "Refreshing results" %}",
            logoHelpNode: $('.logoHelpPopover'),
            refetchButtonNode: $('#refetchPubsButton'),
            hook: add_claim_mark_handlers,
            waitingAreaContainerNode: $('#waitingAreaContainer'),
            paperSearchResultsNode: $('#paperSearchResults'),
            nbPapersFoundNode: $('#nbPapersFound'),
            animatedBirdGIF: "{% static "img/animated-bird.gif" %}",
            {% if researcher %}
                refetchURL: "{% url "refetch-researcher" researcher.pk %}",
                refetchMessage: "{% trans "Refreshing profile" %}",
                currentTask: {% if researcher.current_task %}"{{ researcher.get_current_task_display }}"{% else %} null {% endif %},
                setResearcherDepartmentURL: "{% url 'ajax-setResearcherDepartment' %}",
            {% endif %}
            isSuperUser: {{ request.user.is_superuser|yesno:"true,false,false" }},
            initialMessages: {{ messages | safe }}
        }

        init_paper_module(config);
    });


</script>
{% endblock %}

{% block content %}
    {% include 'breadcrumbs.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 pb-3">
                <h3 class="border-bottom">{% trans "Statistics" %}</h3>
                <p>
                    {% blocktrans trimmed with formattedCounter=nb_results|intcomma count counter=nb_results|default:0 %}
                        {{ formattedCounter }} paper found
                        {% plural %}
                        {{ formattedCounter }} papers found
                    {% endblocktrans %}
                </p>
                <form method="get" action="." id="searchPapersStatistics" onChange="$(this).submit()">
                    <div class="form-group" id="searchPaperCombinedStatus">
                        <!-- Keep track of external GET parameters -->
                        <input type="hidden" class="getStorage" name="q" value="{{ form.q.value|default:"" }}"/>
                        <input type="hidden" class="getStorage" name="authors" value="{{ form.authors.value|default:""}}"/>
                        <input type="hidden" class="getStorage" name="pub_after" value="{{ form.pub_after.value|default:""}}"/>
                        <input type="hidden" class="getStorage" name="pub_before" value="{{ form.pub_before.value|default:""}}"/>
                        <input type="hidden" class="getStorage" name="sort_by" value="{{ form.sort_by.value|default:"" }}"/>
                        {% for item in form.doctypes %}
                            <input type="hidden" class="getStorage" name="doctypes" value="{% if item.data.value in form.doctypes.value %}{{ item.data.value }}{% endif %}"/>
                        {% endfor %}
                        {% if request.user.is_superuser %}
                            <input type="hidden" class="getStorage" name="visible" value="{{ form.visible.value|default:"" }}"/>
                            <input type="hidden" class="getStorage" name="availability" value="{{ form.availability.value|default:"" }}"/>
                            {% for item in form.oa_status %}
                                <input type="hidden" class="getStorage" name="oa_status" value="{% if item.data.value in form.oa_status.value %}{{ item.data.value }}{% endif %}"/>
                            {% endfor %}
                        {% endif %}
                        {% with combined_status_form=True %}
                            {% with combined_status=form.status %}
                                {% include "statistics/pie_chart_legend.html" with stats=search_stats object_id=researcher.object_id stats_counter=1 %}
                            {% endwith %}
                        {% endwith %}
                        <noscript>{# Clarifies the usage of the checkboxes in the caption of the pie. #}
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" form="searchPapersStatistics">{% trans "Search" %}</button>
                            </div>
                        </noscript>
                    </div>
                </form>

                <!-- Tools -->
                <h3 class="border-bottom">{% trans "Tools" %}</h3>

                <!-- Sort by -->
                <div class="dropdown">
                    <p class="d-inline">{% trans 'Sort by' %}</p>
                    <button class="btn btn-outline-dark dropdown-toggle align-baseline " type="button" id="sortByDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_sort_by }}</button>
                    <div class="dropdown-menu" aria-labelledby="sortByDropdown">
                        {% for option in form.sort_by %}
                            <a class="dropdown-item sortBy" href="?{{ search_params_without_sort_by }}&amp;sort_by={{ option.data.value }}" data-sort-by="{{ option.data.value }}">{{ option.data.label }}</a>
                        {% endfor %}
                    </div>
                </div>

                <!-- Export as citations -->
                <p><a href="#" data-toggle="modal" data-target="#exportCitationModal">{% trans "Export citations for current page" %}</a></p>

                <h3 class="border-bottom">{% trans "Refine" %}</h3>
                <form method="get" action="." id="searchPapers" onChange="$(this).submit()">
                    <!-- Keep track of external GET parameters -->
                    <input type="hidden" class="getStorage" name="q" value="{{ form.q.value|default:"" }}"/>
                    <input type="hidden" class="getStorage" name="authors" value="{{ form.authors.value|default:""}}"/>
                    <input type="hidden" class="getStorage" name="pub_after" value="{{ form.pub_after.value|default:""}}"/>
                    <input type="hidden" class="getStorage" name="pub_before" value="{{ form.pub_before.value|default:""}}"/>
                    <input type="hidden" class="getStorage" name="sort_by" value="{{ form.sort_by.value|default:"" }}"/>
                    {% for item in form.doctypes %}
                        <input type="hidden" class="getStorage" name="doctypes" value="{% if item.data.value in form.doctypes.value %}{{ item.data.value }}{% endif %}"/>
                    {% endfor %}
                    {% if request.user.is_superuser %}
                        <input type="hidden" class="getStorage" name="visible" value="{{ form.visible.value|default:"" }}"/>
                        <input type="hidden" class="getStorage" name="availability" value="{{ form.availability.value|default:"" }}"/>
                        {% for item in form.oa_status %}
                            <input type="hidden" class="getStorage" name="oa_status" value="{% if item.data.value in form.oa_status.value %}{{ item.data.value }}{% endif %}"/>
                        {% endfor %}
                    {% endif %}

                    <!-- Actual refine search fields -->

                    <!-- Title -->
                    <div class="form-group" id="searchPapersName">
                        <label for="{{ form.q.id_for_label }}">
                            <a data-toggle="collapse" href="#{{ form.q.id_for_label }}" role="button" {% if form.q.value %}aria-expanded="true"{% else %}aria-expanded="false"{%endif%} aria-controls="{{ form.q.id_for_label }}">{% trans "By title" %} <small><span class="oi oi-caret-bottom"></span></small></a>
                        </label>
                        {% if form.q.value %}
                            {% render_field form.q class="form-control collapse show" %}
                        {% else %}
                            {% render_field form.q class="form-control collapse" %}
                        {% endif %}
                    </div>

                    <!-- Authors -->
                    <div class="form-group" id="searchAuthorsName">
                        <label for="{{ form.authors.id_for_label }}">
                            <a data-toggle="collapse" href="#{{ form.authors.id_for_label }}" role="button" {% if form.authors.value %}aria-expanded="true"{% else %}aria-expanded="false"{%endif%} aria-controls="{{ form.authors.id_for_label }}">
                                {% if researcher %}
                                    {% trans "By co-authors" %}
                                {% else %}
                                    {% trans "By authors" %}
                                {% endif %}
                                <small><span class="oi oi-caret-bottom"></span></small>
                            </a>
                        </label>
                        {% if form.authors.value %}
                            {% render_field form.authors class="form-control collapse show" %}
                        {% else %}
                            {% render_field form.authors class="form-control collapse" %}
                        {% endif %}
                    </div>

                    <!-- Publication date -->
                        <a class="linkLabel" data-toggle="collapse" href="#searchPaperPubDateGroup" role="button" aria-expanded="{% if form.pub_after.value or form.pub_before.value %}true{% else %}false{% endif %}" aria-controls="searchPaperPubDateGroup">{% trans "By publication date" %} <small><span class="oi oi-caret-bottom"></span></small></a>
                        <div class="collapse {% if form.pub_after.value or form.pub_before.value %}show{% endif %} pt-2" id="searchPaperPubDateGroup">
                            <div class="form-group row" id="searchPaperPubDateAfter">
                                <label class="col-2 col-form-label" for="{{ form.pub_after.id_for_label }}">{% trans "after" %}</label>
                                <div class="col-10">
                                    {% render_field form.pub_after class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row" id="searchPaperPubDateBefore">
                                <label class="col-2 col-form-label" for="{{ form.pub_before.id_for_label }}">{% trans "before" %}</label>
                                <div class="col-10">
                                    {% render_field form.pub_before class="form-control" %}
                                </div>
                            </div>
                        </div>

                    <!-- Document type -->
                    <div class="form-group" id="searchPapersDoctype">
                        <label><a data-toggle="collapse" href="#searchPaperDoctypeList" role="button" aria-expanded="{% if form.doctypes.value %}true{% else %}false{% endif %}" aria-controls="searchPaperDoctypeList">{% trans "By document type" %} <small><span class="oi oi-caret-bottom"></span></small></a></label>
                        <div class="collapse {% if form.doctypes.value %}show{% endif %}" id="searchPaperDoctypeList">
                            {% comment %}
                                There are currently 13 doctypes, we place 7 in first column, then 6 in second. This is not really save on changing the number of doctypes.
                            {% endcomment %}
                            <div class="row">
                                {% for checkbox in form.doctypes %}
                                    {% if forloop.first or forloop.counter0 == 7 %}
                                        <div class="col 12 col-md-6">
                                    {% endif %}
                                        <div class="form-check">
                                            {{ checkbox.tag }}
                                            <label class="form-check-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                                        </div>
                                    {% if forloop.counter0 == 6 or forloop.last %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% comment %}
                        Fields for super user only. We do not care to much about look and feel, since this is not public.
                    {% endcomment %}

                    {% if request.user.is_superuser %}
                        <h4 class="border-bottom">{% trans 'Refine for superusers' %}</h4>
                        <div class="form-group">
                            <label for="{{ form.visible.id_for_label }}">{% trans "By visibility" %}</label>
                            {% render_field form.visible class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.availability.id_for_label }}">{% trans "By full text availability" %}</label>
                        {% render_field form.availability class="form-control" %}
                        </div>
                        <div class="form-group">
                            <label>{% trans "By publisher policy" %}</label>
                            {% for checkbox in form.oa_status %}
                                <div class="form-check">
                                    {{ checkbox.tag }}
                                    {{ checkbox.choice_label }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- The button to trigger search -->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success text-center">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
                        </button>
                    </div>
                </form>
            </div>

            <!-- Content for results -->
            <div class="col-12 col-md-8 order-md-first">
                <div id="waitingAreaContainer"></div>
                <div id="paperSearchResults">
                    {% include "papers/paper_list.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
