{% extends "dissemin/details.html" %}

{% load staticfiles %}
{% load bootstrap_pagination %}
{% load statuses %}
{% load i18n %}

{% block headTitle %}
{{ head_search_description }}
{% endblock %}

{% block bodyTitle %}
{{ search_description }}
{% endblock %}

{% block jsScript %}
    function changeDisplay () {
	   $(".ulContainer").toggleClass("mosaic-on");
	}
{% if request.user.is_superuser %}
    $(function(){

    function paperMerged(domElem, response) {
        li = domElem.closest('li');
        li.replaceWith('<li class="itemMerged">{% trans "Paper merged with " %}<a href="/paper/'+
            response.merged+'">"'+response.merged_title+'"</a></li>');
    }

    $(".paperItemTitle").each(function(index) {
        makeTextEditable($(this), '/ajax/change-paper', 'title', paperMerged);
    });

    $(".unknownAuthorName").each(function(index) {
        makeAuthorEditable($(this), paperMerged);
    });
    {% if researcher %}
    makeTextEditable($('#researcher-role'), '/ajax/change-researcher', 'role', function(a,b) { ; });
    {% endif %}
    });
{% endif %}
{% if request.user.is_authenticated %}
    $(function(){
        $('.annotate-paper-radio').change(function(){
            console.log($(this));
            var value = $(this).val();
            $.ajax({url:'/ajax/'+$(this).attr('name')+'-'+value})
        });
    });
{% endif %}
{% endblock %}

{% block details %}
{% if researcher %}
<span class="detailsTitle">{% trans "Researcher" %}</span>
    <div class="detailsContent">
        <p id="detail-name">{{ researcher }}</p>
        {% if researcher.role %}
        <p><span id="researcher-role"
        data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"
        data-pk="{{ researcher.pk }}">{{ researcher.role }}</span></p>
        {% endif %}
        <p><a href="{% url 'department' researcher.department.id %}">{{ researcher.department }}</a></p>
        {% if researcher.homepage %}
        <p><a href="{{ researcher.homepage }}">{% trans "Homepage" context "Researcher" %}</a></p>
        {% endif %}
        {% if request.user.is_superuser and researcher.email %}
        <p>{% trans "Address:" %} {{ researcher.email }}</p>
        {% endif %}
        {% if request.user.is_superuser %}
        <p>{% trans "Names:" %}
            <ul>
            {% for name in researcher.name_variants.all %}
            <li><a href="{% url 'search' %}?name={{ name.id }}">{{ name }}</a></li>
            {% endfor %}
         </ul></p>
         {% endif %}
    </div>
{% elif department %}
<span class="detailsTitle">{% trans "Department" %}</span>
    <div class="detailsContent">
        <p id="detail-name">{{ department }}</p>
        <p><a href="{% url 'department' department.id %}">
            {% blocktrans trimmed with count=department.researcher_set.count %}
            {{ count }} members
            {% endblocktrans %}
        </a></p>
    </div>
{% elif name %}
<span class="detailsTitle">{% trans "Name" %}</span>
    <div class="detailsContent">
        <p id="detail-name">{{ name }}</p>
     </div>
{% endif %}
{% if journal %}
<span class="detailsTitle">{% trans "Journal" %}</span>
    <div class="detailsContent">
        <p id="detail-name">{{ journal }}</p>
        <p>{% trans "Published by" %} <a href="{% url 'publisher' journal.publisher.id %}">{{ journal.publisher }}</a></p>
        {% if journal.issn %}
        <p>{% trans "ISSN:" %} {{ journal.issn }}</p>
        {% endif %}
        <div class="unselectedCriterion">
        <div class="pubLogo"><div class="pubLogoPic-{{ journal.publisher.oa_status }}"></div></div>
        <div class="criterionItem">{{ journal.publisher.oa_status |explain_oa_status}}</div>
        </div>
    </div>
{% elif publisher %}
<span class="detailsTitle">{% trans "Publisher" %}</span>
    <div class="detailsContent">
        <p><a href="{% url 'publisher' publisher.pk %}">{{ publisher }}</a></p>
        <div class="unselectedCriterion">
        <div class="pubLogo"><div class="pubLogoPic-{{ publisher.oa_status }}"></div></div>
        <div class="criterionItem">{{ publisher.oa_status |explain_oa_status}}</div>
        </div>
    </div>
{% endif %}

<span class="detailsTitle">{% trans "Display" %}</span>
<div class="detailsContent">
  <p><a href="#" onclick="changeDisplay(); return false;">{% trans "Change display mode" %}</a></p>
</div>

<span class="detailsTitle">{% trans "Refine search" %}</span>
<div class="detailsContent">
    <p>{% blocktrans trimmed %}
    {{ nb_results }} papers found
    {% endblocktrans %}
    </p>

{% if not journal and not publisher %}
<p class="criterion">{% trans "By publisher policy:" %}</p>
{% for st in oa_status_choices %}
<div class="{% if st.0 == status %}selectedCriterion{% else %}unselectedCriterion{% endif %}">
    <div class="pubLogo"><div class="pubLogoPic-{{ st.0 }}"><a href="{% url 'search' %}?{{ st.2.urlencode }}" class="filldiv"></a></div></div>
    <div class="criterionItem"><a href="{% url 'search' %}?{{ st.2.urlencode }}">{{ st.1 }}</a>
        {% if st.0 == status %}
        <div class="criterionCross"><a href="{% url 'search' %}?{{ st.2.urlencode }}">x</a></div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}

<p class="criterion">{% trans "By full text availability:" %}</p>
{% for st in pdf_status_choices %}
<div class="{% if st.0 == pdf %}selectedCriterion{% else %}unselectedCriterion{% endif %}">
    <div class="pubLogo"><div class="pubLogoPic-PDF-{{ st.0 }}"><a href="{% url 'search' %}?{{ st.2.urlencode }}" class="filldiv"></a></div></div>
    <div class="criterionItem"><a href="{% url 'search' %}?{{ st.2.urlencode }}">{{ st.1 }}</a>
        {% if st.0 == pdf %}
        <div class="criterionCross"><a href="{% url 'search' %}?{{ st.2.urlencode }}">x</a></div>
        {% endif %}
    </div>
</div>
{% endfor %}

<p class="criterion">{% trans "By document type:" %}</p>
<ul>
{% for st in pubtype_status_choices %}
     <li>
         <a href="{% url 'search' %}?{{ st.2.urlencode }}"
        class="{% if st.0 == pubtype %}selectedPubtype{% else %}unselectedPubtype{% endif %}">{{ st.1 }}</a>
        {% if st.0 == pubtype %}
        &nbsp; <a href="{% url 'search' %}?{{ st.2.urlencode }}" class="pubtypeCriterionCross">x</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
    

{% if request.user.is_superuser %}
<p class="criterion">{% trans "By visibility:" %}</p>
{% for st in visibility_choices %}
   <div class="{% if st.0 == visibility %}selectedCriterion{% else %}unselectedCriterion{% endif %}">
    <div class="pubLogo"><div class="pubLogoPic-PDF-{{ st.0 }}"><a href="{% url 'search' %}?{{ st.2.urlencode }}" class="filldiv"></a></div></div>
    <div class="criterionItem"><a href="{% url 'search' %}?{{ st.2.urlencode }}">{{ st.1 }}</a>
        {% if st.0 == visibility %}
        <div class="criterionCross"><a href="{% url 'search' %}?{{ st.2.urlencode }}">x</a></div>
        {% endif %}
   </div>
</div>
{% endfor %}
{% endif %}

</div>
{% endblock %}

{% block lists %}
 {% if search_results.paginator.num_pages > 1 %}
<div class="searchPages">{% bootstrap_paginate search_results range=10 %}</div>
 {% endif %}
 {% for paper in search_results %}
 {% ifchanged paper.year %}
 {% if not forloop.first %}</ul></div>{% endif %}
    <div class="ulContainer">
    <div class="listYear">{{ paper.year }}</div><ul class="withoutTriangles">
 {% endifchanged %}
    <li class="pubItem">
        {% include "papers/publiListItem.html" with paper=paper %}
</li>    
        {% if forloop.last %}</ul></div>{% endif %}
 {% empty %}
 <p>{% trans "No production found." %}</p>
 {% endfor %}
 {% if search_results.paginator.num_pages > 1 %}
 <div class="searchPages">{% bootstrap_paginate search_results range=10 %}</div>
 {% endif %}
{% endblock %}
