{% extends "dissemin/details.html" %}

{% load author %}
{% load domain %}
{% load statuses %}
{% load doi %}
{% load i18n %}

{% block headTitle %}
{{ paper.title }}
{% endblock %}

{% block bodyTitle %}
<span id="paperTitle" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-pk="{{ paper.pk }}">
    {% autoescape off %}
        {{ paper.title }}
    {% endautoescape %}
</span>
{% endblock %}

{% block jsScript %}
{% endblock %}

{% block lists %}
{% if success %}
    <p>Paper successfully uploaded!</p>
    <p>Thank you so much, you are awesome!</p>
    <p>Really, I mean it!</p>
    <p><a href="{% url 'paper' paper.pk %}">Back to the paper</a></p>
{% else %}
{% if failed %}
<p>Upload failed.</p>
{% endif %}
<p><br />Upload your paper to Zenodo:
<form action="{% url 'upload_paper' paper.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    Success: {{ success }}
    <input type="submit" value="Submit" />
</form>
</p>
{% endif %}
{% endblock %}

{% block details %}
<span class="detailsTitle">{% trans "Available from" %}</span>
<div class="detailsContent">
{% for record in paper.sorted_oai_records %}
<p>
    {% if record.priority > 0 %}
        {{ record.source }}:
    {% else %}
        {% if record.splash_url %}
            [{{ record.splash_url |domain }}]
        {% elif record.pdf_url %}
            [{{ record.pdf_url |domain }}]
        {% endif %}
    {% endif %}
    {% if record.splash_url %}
        <a href="{{ record.splash_url }}">
     [{% trans "Web page" %} <img src="/static/extlink.png" />]
     </a>{% if record.pdf_url %} | {% endif %}{% endif %}
     {% if record.pdf_url %}
         <a href="{{ record.pdf_url }}"><img src="/static/extpdf.png" alt="PDF" /></a>
     {% endif %}
</p>
{% endfor %}

{% trans "Publisher" as publisher %}
{% for publi in paper.publication_set.all %}
<p><a href="{{ publi | doi_to_url }}">{{ publi.publisher|default:publisher }} <img src="/static/extlink.png" /></a> {% trans "via DOI" %}</p>
{% endfor %}
</div>

{% endblock %}
