{% extends "dissemin/details.html" %}

{% load author %}
{% load domain %}
{% load statuses %}
{% load doi %}
{% load i18n %}
{% load static %}

{% block headTitle %}
{% trans "Depositing" %} "{{ paper.title }}"
{% endblock %}

{% block bodyTitle %}
{% trans "Depositing" %} "{{ paper.title }}"
{% endblock %}

{% block extra_head %}
    <script src="{% static "libs/jquery.ui.widget.js" %}"></script>
    <script src="{% static "libs/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "libs/jquery.fileupload.js" %}"></script>
    <script src="{% static "libs/upload.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/upload.css" %}" />
{% endblock %}

{% block jsScript %}
$(function(){
    $('#waitingArea').hide();
    $('#uploadFileId').val('');

    /* Panels */
    $('#optionUploadType').collapse({
        parent:$('#uploadOptions'),
        toggle:false,
        }).on('show.bs.collapse', function () {
        $('#uploadTypeInline').empty();
    }).on('hidden.bs.collapse', function () {
        var selected = $("input[type='radio'][name='radioUploadType']:checked");
        if(selected.length > 0) {
            $('#uploadTypeInline').append($('#hiddenInline-'+selected.val()).clone());      
        }
    });
    $("input[type='radio'][name='radioUploadType']").click(function(){
        $('#optionUploadType').collapse('hide');
        $('#error-radioUploadType').removeClass('error').empty();
    });
    {% if request.GET.type %}
        $('#optionUploadType').collapse('hide');
    {% endif %}

});

    /* Submitting the deposit */
    function depositPaper() {
       var data = $('#depositForm').serialize();
       $('.error').removeClass('error').empty()
       $('#waitingArea,.submitDeposit').toggle();

       $.post('{% url 'ajax-submitDeposit' paper.pk %}', data, null, 'json').fail(
            function(data) {
                var errorText = '';
                if(!data.responseJSON) {
                    errorText = data.responseText;
                } else {
                    error = data.responseJSON;
                    console.log(error);
                    if('message' in error) {
                        errorText = error['message']
                    }
                    if('form' in error) {
                        errors = error['form']
                        if('file_id' in errors) {
                            $('#globalError').addClass('error').text(errors['file_id'][0]); 
                        }
                        if('radioUploadType' in errors) {
                            $('#error-radioUploadType').addClass('error').text(errors['radioUploadType'][0]);
                            $('#optionUploadType').collapse('show');
                        }
                    }
                    for(field in error) {
                        $('#error-'+field).addClass('error').text(error[field]);
                    }
                }
                if(errorText) {
                    $('#depositError').addClass('error').text(errorText);
                }
                $('#waitingArea,.submitDeposit').toggle();
            }).done(function(data) {
                var uploadId = data['upload_id'];
                window.location.replace('{% url 'paper' paper.pk %}?deposit='+uploadId);
            });
    }
{% endblock %}

{% block lists %}
<div id="uploadIntro">
    <p>
        {% blocktrans %}
            You can deposit the full text of your article. Dissemin will
            send it to a repostory where it will be made freely available.
            Please ensure that you are one of the authors of this paper or
            that you have the permission to upload it on their behalf.
        {% endblocktrans %}
    </p>
</div>

<span class="detailsTitle">{% trans "Document" %}</span>
<div class="detailsContent uploadSection">
    {% include "upload/widget.html" %}
</div>

<form method="POST" action="javascript:depositPaper()" id="depositForm">
{% csrf_token %}
<input type="hidden" id="uploadFileId" name="file_id" />
<span class="detailsTitle">{% trans "Options" %}</span>
<div id="uploadOptions" class="panel-group detailsContent" role="tablist" aria-multiselectable="true">
    <div id="error-radioUploadType"></div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingUploadType">
            <a role="button" data-toggle="collapse" data-parent="#uploadOptions"
                href="#optionUploadType">{% trans "Upload type:" %}</span><span id="uploadTypeInline"></a>
        </div>
        <div id="optionUploadType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingUploadType">
            <div class="panel-body">
                {% include "publishers/detailsPolicy.html" with publisher=paper.publisher mode="radio" %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingRepository">
            <span>
                <a role="button" data-toggle="collapse"
                  data-parent="#uploadOptions" href="#optionRepository" aria-expanded="true"
                                                                        aria-controls="optionRepository">{% trans "Repository:" %} <strong>Zenodo</strong></a>
            </span>
        </div>
        <div id="optionRepository" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRepository">
            <div class="panel-body">
                {% trans "Zenodo is currently the only supported repository." %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingMetadata">
            <span>
                 <a role="button" data-toggle="collapse"
                  data-parent="#uploadOptions" href="#optionMetadata" aria-expanded="true"
                  aria-controls="optionMetadata">{% trans "Review metadata" %}</a>
            </span>
        </div>
        <div id="optionMetadata" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMetadata">
            <div class="panel-body">
                {% trans "Coming soon." %}
            </div>
        </div>
    </div>
</div>
<div id="depositError"></div>
<div id="uploadSubmitSection">
    <p class="submitDeposit"><button type="submit" id="submitDeposit" class="btn btn-lg btn-primary">{% trans "Deposit" %}</button></p>
    <div id="waitingArea">
        <span>{% trans "Processing deposit..." %}</span> <span class="waitingBird"><img src="{% static "img/animated-bird.gif" %}" /></span> <span>{% trans "please wait..." %}</span>
    </div>
    <p>
        {% blocktrans %}
            By depositing your article to Zenodo through Dissemin, you agree to the terms of use of
            both services.
        {% endblocktrans %}
    </p>
</div>
</form>
{% endif %}
{% endblock %}

{% block details %}
<span class="detailsTitle">{% trans "Data from" %}</span>
<div class="detailsContent">
{% for record in paper.sorted_oai_records %}
<p>
    {% if record.priority > 0 %}
        {{ record.source }}:
    {% else %}
        {% if record.splash_url %}
            [{{ record.splash_url |domain }}]
        {% elif record.pdf_url %}
            [{{ record.pdf_url |domain }}]
        {% endif %}
    {% endif %}
    {% if record.splash_url %}
        <a href="{{ record.splash_url }}">
     [{% trans "Web page" %} <img src="/static/extlink.png" />]
     </a>{% if record.pdf_url %} | {% endif %}{% endif %}
     {% if record.pdf_url %}
         <a href="{{ record.pdf_url }}"><img src="/static/extpdf.png" alt="PDF" /></a>
     {% endif %}
</p>
{% endfor %}

{% trans "Publisher" as publisher %}
{% for publi in paper.publication_set.all %}
<p><a href="{{ publi | doi_to_url }}">{{ publi.publisher|default:publisher }} <img src="/static/extlink.png" /></a> {% trans "via DOI" %}</p>
{% endfor %}
</div>

{% endblock %}
