{% load static %}
{% load i18n %}
{% load sass_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
    <head>
        <!-- Meta content -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% block meta %}{% endblock meta %}

        <!-- CSS -->
        {% comment %}
            Our custom style that extends/changes bootstrap styles.
            It contains bootstrap, so we do not need to link bootstrap css
        {% endcomment %}
        <link rel="stylesheet" href="{% sass_src 'scss/custom.scss' %}" />
        <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.css' %}" />
        <link rel="stylesheet" href="{% sass_src 'scss/dissemin.scss' %}" />
        <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}" />

        <!-- JavaScript -->
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
        <script src="{% static 'js/dissemin.js' %}"></script>
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
        {% if settings.SENTRY_DSN %}
            <script type="text/javascript" src="{% static "js/sentry.min.js" %}"></script>
            <script>Sentry.init({ dsn: '{{ settings.SENTRY_DSN }}'})</script>
        {% endif %}

        {% block scripts %}{% endblock %}

        <!-- Title -->
        {% comment %}
            Set a title with block title
        {% endcomment %}
        <title>{% block title %}{% endblock %} - Dissemin</title>

    </head>

    <body>
        {% comment %}
            We use flex, to make the container use screen height or more. Below we use a div, that uses rest of the available space.
        {% endcomment %}
        <div class="container p-0 d-flex flex-column min-vh-100" >
            {% include 'navbar.html' %}
            {% comment %}
                Most pages should be equipped with a left or right border, however, some shall not have a border, like the start page, so there are two content blocks. Please fill either one of them.
            {% endcomment %}
            <div class="border-left border-right">
                {% block content %}{% endblock content %}
            </div>
            {% block content_no_border %}{% endblock content_no_border %}
            {% comment %}
                The box above the footer uses all vertical space if any is available. Thus, the footer is moved down, if there is few content on the screen.
            {% endcomment %}
            <div class="flex-fill"></div>
            {% include 'footer.html' %}
            {% comment %}
                This is the beta ribbon, indicating, that it's not a production instance
            {% endcomment %}
            {% if settings.DISPLAY_BETA_RIBBON %}
                <img style="position:absolute; top:0; left:0; border:0; opacity: 0.8; pointer-events: none;" src="{% static "img/beta-ribbon.png" %}" alt="Beta version" />
            {% endif %}
        </div>
    </body>

</html>
