{% load static %}
{% load i18n %}
{% load sass_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
    <head>
        <!-- Meta content -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- CSS -->
        {% comment %}
            Our custom style that extends/changes bootstrap styles.
            It contains bootstrap, so we do not need to link bootstrap css
        {% endcomment %}
        <link rel="stylesheet" href="{% sass_src 'scss/custom.scss' %}" />
        <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/dissemin.css' %}" />

        <!-- JavaScript -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/dissemin.js' %}"></script>
        {% block scripts %}{% endblock %}

        <!-- Title -->
        {% comment %}
            Set a title with block title
        {% endcomment %}
        <title>{% block title %}{% endblock %} - Dissemin</title>

    </head>

    <body>
        <div class="container border-left border-right p-0">
            {% include 'navbar.html' %}
            {% block content %}{% endblock %}
            {% include 'footer.html' %}
            {% comment %}
                This is the beta ribbon, indicating, that it's not a production instance
            {% endcomment %}
            {% if settings.DISPLAY_BETA_RIBBON %}
                <img style="position:absolute; top:0; left:0; border:0; opacity: 0.8; pointer-events: none;" src="{% static "img/beta-ribbon.png" %}" alt="Beta version" />
            {% endif %}
        </div>
    </body>

</html>
